---
layout: default
lang: en
alt-lang:
alt-lang-desc: Castellano
---

ESTA SERA LA VERSIÓN EN INGLES...


{% include 01.alert.html %}

{% include 02.impact-about.html %}

<!--
We subsidize, accelerate, and invest in the best Mobile Internet businesses, helping them to generate Global impact
-->
{% include 03.what-is-impact.html %}

{% include 04.how-it-works.html %}

{% include 05.talent-impact.html %}

{% include 06.hot-news.html %}

{% include 07.call-to-action.html %}

{% include 08.spaces.html %}
