---
layout: default
lang: es
alt-lang: en
alt-lang-desc: English

menu_que_es: Qué es IMPACT
menu_como_funciona: Cómo funciona
menu_equipo: Equipo Impact
menu_espacios: Espacios de aceleración
menu_hot_news: Hot News
menu_inscribe: Inscribe tu proyecto

hot_news: <strong>Hot News!</strong> Lanzamos Impact. <a href="#hot-news" class="alert-link">Hoy, conferencia de prensa</a>.

lema: Subvencionamos, aceleramos e invertimos en  los mejores emprendimientos de internet mobile ayudándoles a generar impacto global.

titulo_objetivos: <strong>Objetivos</strong> IMPACT
objetivo1: Acelerar al menos a <strong>64 start-ups</strong>  europeas con foco en <strong>Internet Mobile</strong>.
objetivo2: Subvencionar cada start-up con hasta <strong>100.000 euros sin contrapartida de equity</strong> invirtiendo un total de <strong>6.400.000 euros en 2 años</strong>.
objetivo3: Proporcionar un <strong>Servicio de Aceleración Premium</strong> durante 6 meses compuesto de Formación y Mentoring con <strong>profesionales y emprendedores clave del ecosistema digital</strong>.
objetivo4: Ofrecer a las start-ups más prometedoras una Fase de Inversión Extendida con <strong>Business Angels</strong> y <strong>Fondos de primera línea internacional</strong>.

valores: Valores
transparencia: Transparencia
transparencia_desc: Trabajamos sobre modelos abiertos donde los procesos son visibles y todos suman a un objetivo común. Crear un ecosistema abierto e independiente contribuye a potenciar el impacto.
alto_rendimiento: Alto rendimiento
alto_rendimiento_desc: Alta exigencia y calidad a los proyectos y start-ups aceleradas, pasión y atrevimiento, pero también a nosotros mismos, a los mentores, los evaluadores y miembros del comité. Ritmo intenso, ejecución y determinación son nuestras claves para impactar.

consorcio: Consorcio
consorcio_desc: "IMPACT (Internet Mobile Projects Accelerator) es uno de los 16 consorcios europeos seleccionados por la Comisión Europea en el marco del Seventh Framework Programme. <br> Está constituido por: ISDI, Boungiorno, Teknologiudvikling ApS, Seaya Ventures y una red de emprendores y profesionales referentes del ecosistema digital europeo."
isdi_titulo: ISDI (España)
isdi_desc: La primera Escuela de Negocio Digital, con todo un ecosistema de formación, emprendimiento y aceleración.
buon_titulo: Buongiorno (Italia)
buon_desc: Corporación multinacional del sector de tecnología Mobile que cuenta con su propia aceleradora B-Ventures.
teknolo_titulo: Teknologiudvikling ApS (Dinamarca)
teknolo_desc: Consultora especializada en financiación con experiencia en gestión y monitorización online de procesos públicos de Open Call.
seaya_titulo: Seaya Ventures (Alemania)
seaya_desc: Michael Kleindel, Super Angel Investor del sector digital, a través de su Venture Capital Seaya.

como_funciona_tit: <strong>Como funciona</strong> IMPACT
Requisitos: Requisitos
Seleccion: Selección
Financiacion: Financiación
Aceleracion: Aceleración
Inversores: Inversores

Requisitos_Mobile: "<strong>* Mobile</strong>: Aplicaciones móviles o modelos de negocio basados en movilidad, relacionados con: comunicación, social, vídeo, medios & publicidad, diseño, educación, entretenimiento, comercio electrónico, hardware móvil, contenidos, TV conectada, infraestructuras y seguridad."
Proyectos_Fase: Proyectos que estén en las siguientes fases
Proyectos_Comprometen: Aquellos seleccionados se comprometan a
Tecnologias_FI: "Utilizar <strong>tecnologías FI</strong>: <a href='http://www.fi-ware.org/'>FI-Ware</a> y/o <a href='http://mediafi.org/'>FI-Content</a>"
seguir_programa: Seguir el Programa de Aceleración Impact durante <strong>6 meses</strong>

Proceso_Seleccion: Proceso de selección
FasesFinanciacion: Fases de financiación
Aceleracion: Aceleración
Aceleracion_entradilla: "El proceso de aceleración está basado en dos módulos: Formación y Mentoring."
Formacion: Formación

FinanciacionExtendida: Fase de inversión extendida

Titulo_inscribe: <strong>Inscribe</strong> tu proyecto
Entradilla_inscribe: A partir de Octubre podrás inscribir tu proyecto. Mientras tanto, déjanos tu correo y te mantendremos informado de las novedades, información importante, eventos y acciones que realizemos.
Enviar: Enviar
O_Siguenos: O síguenos en...
IntroduceEmail: Introduce tu email

titulo_equipo: <strong>Equipo</strong> IMPACT
mentores_confirmados: Mentores confirmados

titulo_espacios: Espacios de <strong>aceleración</strong>

grafica_requisitos: /img/diapos/requisitos/grafica.png
grafica_seleccion: /img/diapos/seleccion/grafico.png
grafica_financiacion: /img/diapos/financiacion/grafico.png
grafica_mentoring: /img/diapos/mentoring/grafico.png
grafica_inversores: /img/diapos/inversores/grafica.png
grafica_formacion: /img/diapos/formacion/grafica.png

comite_direccion: Comité de dirección IMPACT
consejo_asesor: Consejo asesor
cargo_mentores: Mentor
cargo_coordinacion: Coordinación y dirección

---
{% include 01.alert.html %}

{% include 02.impact-about.html %}

{% include 03.what-is-impact.html %}

{% include 04.how-it-works.html %}

{% include 05.talent-impact.html %}

{% include 07.call-to-action.html %}

{% include 08.spaces.html %}

{% include 06.hot-news.html %}
