---
layout: default
lang: en

lema: We subsidize, accelerate & invest in the best mobile internet start-ups leading them to generate global impact.

titulo_objetivos: IMPACT's <strong>objectives</strong>
objetivo1: Accelerate at least <strong>64 European start-ups</strong> focusing on <strong>Mobile Internet</strong>.
objetivo2: Subsidize each start-up up to <strong>100,000 euros without equity</strong> consideration whatsoever investing a total of <strong>6,400,000 euros in 2-years time</strong>.
objetivo3: Provide <strong>Premium Acceleration Service</strong> during 6 months consisting in Training and Mentoring under the guidance of <strong>key world class digital ecosystem professionals and entrepreneurs</strong>.
objetivo4: Manage the most promising start-ups towards the Extended Investment Phase with <strong>Business Angels</strong> and <strong>first class global Funds</strong>.

valores: Values
transparencia: Transparency
transparencia_desc: We work with open models where the processes are visible and where we all work towards a common goal. Creating an open and independent ecosystem contributes to promoting the IMPACT.
alto_rendimiento: High performance
alto_rendimiento_desc: High demands on quality and requisites on accelerated projects and start-ups, urging them to be enthusiastic and daring, but not only towards ourselves, but to the mentors, the assessors and to the committee members as well. Intense pace, execution and determination are our key factors to IMPACT.

consorcio: Consortium
consorcio_desc: "IMPACT (Internet Mobile Projects Accelerator) is one of the 16 consortiums selected by the European Commission within the framework of the Seventh Framework Programme. <br> It is made up of ISDI, Buongiorno, Teknologiudviking ApS , Seaya Ventures and a network of entrepreneurs and well-known professionals of the digital European ecosystem."
isdi_titulo: ISDI (Spain)
isdi_desc: First Business School specializing in the Digital Business, offering a full ecosystem  of training, entrepreneurship and acceleration.
buon_titulo: Buongiorno (Italy)
buon_desc: Multinational corporation pertaining to the Mobile technology sector has its own accelerator B-Ventures.
teknolo_titulo: Teknologiudviking ApS (Denmark)
teknolo_desc: Consulting firm specialized in funding, will provide valuable expertise on online management and monitoring of Open Calls  public proceedings.
seaya_titulo: Seaya Ventures(Germany)
seaya_desc: Michael Kleindel, Digital sector Super Angel Investor, through his Venture Capital Seaya.

como_funciona_tit: How IMPACT <strong>Works</strong>
Requisitos: Requisites
Seleccion: Selection
Financiacion: Funding
Aceleracion: Acceleration
Inversores: Investors

Requisitos_Mobile: "<strong>* Mobile</strong>: Mobile apps or business models based on mobility and related with: Communication, Social, Video, Media & Advertising, Design, Devices, Education, Entertainment, Infrastructure, Safety, SBM, Productivity, E-Commerce, Smart Cities, Connected TV, Finance and Social Networks."
Proyectos_Fase: Projects undergoing the following phases
Proyectos_Comprometen: Those selected  must be committed to
Tecnologias_FI: "Use <strong>FI technology</strong>: <a href='http://www.fi-ware.org/'>FI-Ware</a> and/or  <a href='http://mediafi.org/'>FI-Content</a>"
seguir_programa: Follow the Impact Acceleration Program for 6 months.

Proceso_Seleccion: Selection Process
FasesFinanciacion: Funding phases
Aceleracion: Acceleration
Aceleracion_entradilla: "Acceleration process is based on two modules: Training & Mentoring."
Formacion: Training

FinanciacionExtendida: Extended Funding

Titulo_inscribe: Stay <strong>Connected</strong>
Entradilla_inscribe: You can stay connected with IMPACT. Kindly leave your email and other data and we will keep you posted on the latest news, important info, and of any related events or actions we carry out.
Enviar: Go to the form
O_Siguenos: Follow us in...
IntroduceEmail: Enter your email

titulo_equipo: IMPACT <strong>Team</strong>
titulo_mentors: IMPACT <strong>Mentors</strong>
mentores_confirmados: Confirmed Mentors

titulo_espacios: Acceleration <strong>Spaces</strong>

grafica_requisitos: /img/diapos/en/requisitos/grafica.png
grafica_seleccion: /img/diapos/en/seleccion/grafico.png
grafica_financiacion: /img/diapos/en/financiacion/grafico.png
grafica_mentoring: /img/diapos/en/mentoring/grafico.png
grafica_inversores: /img/diapos/en/inversores/grafica.png
grafica_formacion: /img/diapos/en/formacion/grafica.png

comite_direccion: IMPACT Steering Committee
consejo_asesor: Accelerator Advisory Board
cargo_mentores: Mentor
cargo_coordinacion: Accelerator Team
cargo_director_proyecto: Project Director
cargo_equipo_organizacion: Organization Team
cargo_responsable_tecnologia: Technical Leader

Mentor: Mentor
All: All
follow_up: Follow up Mentor
specialized: Specialized Mentor
field_of_expertixe: Field of expertise
strategy: Strategy & Biz Model
marketing: Marketing & Sales
product_development: Product development
internationalization: Internationalization
finance: Finance & Funding
management: Management
legal: Legal
tech: Technology

Country: Country
Spain: Spain
Italy: Italy
Denmark: Denmark
Poland: Poland
UK: UK
Germany: Germany
---
{% include 01.alert.html %}

{% include 02.impact-about.html %}

{% include 03.what-is-impact.html %}

{% include 04.how-it-works.html %}

{% include 05.talent-impact.html %}

{% include 07.call-to-action.html %}

{% include 08.spaces.html %}

{% include 06.hot-news-pestanias.html %}
