@import "custom.less";

/*===================================================================================*/
/*  OWN STYLES
/*===================================================================================*/


// Body

body {
  padding-top: 55px;
  @media (min-width: @screen-sm-min) {
    padding-top: 96px;
  }
}


// Strong
strong{
  color: #fff;
}


// Headings

h1, .h1 {
  font-weight: 300;
  text-transform: uppercase;
  strong{
    font-weight: 800;
  }
}

h2, .h2 {
  text-transform: uppercase;
}

h3, .h3 {
  text-transform: none;
}

h4, .h4 {
  text-transform: none;
}


// Buttons

.btn {
  .button-size(@padding-vertical: 12px; @padding-horizontal: 20px; @font-size-small; @line-height-base; @border-radius: 3px);
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-transform: uppercase;
  .transition(all 200ms ease-out);
  .box-shadow(inset 0 -2px 0 rgba(0,0,0,0.20));
  &:hover,
  &:focus,
  &:active,
  &.active{
    .transition(all 200ms ease-out);
    .box-shadow(inset 0 -2px 0 rgba(0,0,0,0.20));
  }
}

.btn-lg {
  .button-size(11px; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

.btn-sm{
  padding: 10px 12px;
}

.btn-primary{
  color: @gray-dark;
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @gray-dark;
    background-color: darken(@brand-primary, 30%);
  }
}


// Nav bar

.navbar{
  border-width: 0 0 1px 0;
}

.navbar-brand{
  width: 142px;
  height: 55px;
  padding: 15px;
  display: block;
  background: url(../img/img.logo-header.png) 15px 14px no-repeat;
}

.navbar-nav {
  > li > a {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.navbar-inverse {
  border-color: transparent;
}

.navbar-brand{
  font-weight: 900;
}



// Footer
.footer-bottom li, .header-top a {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

footer .inner {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-menu li:before {
  display: inline-block;
  content: "·";
  padding-right: 12px;
}
.footer-menu li:first-child:before {
    display: none;
}
@media (max-width: @screen-sm-min) {
  .footer-menu li {
    display: list-item;
  }
  .footer-menu li:before {
    content: "";
    padding-right: 0;
  }
}

// Tabs on side
.tabs-side{
  .tab {
    a {
      &:hover {
        color: @gray-dark;
      }
    }
  }
}


// Wells
.well{
  .box-shadow(inset 0 0 0 transparent);
}


// Hero

#hero{
  @media (min-width: @screen-sm-min) {
    //background-image: url(../../../img/bk.deepbanner-sm.v2.jpg);
    background-image: url(../../../img/bk.deepbanner.verde.jpg);
    .h2{
      margin-bottom: 40px;
      font-weight: 500;
      strong {
        font-weight: 800;
      }
    }
    p {
      font-size: 30px;
    }
  }
  @media (max-width: @screen-sm-min) {
    background-image: url(../../../img/bk.deepbanner.verde_sm.jpg);
  }
  .dark-bg{
    background-color: transparent;
    color: @green;
  }
  .dark-bg.img-bg-soft:before {
    background-color: #000000;
    opacity: 0.5;
  }
  .brand{
    width: 280px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/img.logo.png) 0 0 no-repeat;
    @media (min-width: @screen-sm-min) {
      width: 720px;
      height: 200px;
      background: url(../img/img.logo-sm.png) 0 0 no-repeat;
    }
  }
}


// Tint backgroung

.tint-bg {
    color: @gray-dark;
    h1,
    h2,
    h3,
    h4,
    p,
    .item-details li:before,
    .icon i.icn,
    strong {
        color: @gray-dark;
    }
}

.gray-bg {
    margin-top: 0px;
}

// Text Overlay

.items li,
.thumbs .thumb,
.owl-carousel .item{
  .text-overlay{
    .info{
      h2,
      h3,
      h4,
      p{
        color: @gray-dark;
      }
    }
  }
}


// Social icons

.social {
  li {
    a {
      i {
        &.icon-s-youtube{
          font-size: 28px;
        }
      }
    }
  }
}


// Hot New Alert

#alert-hot-new {
  margin-bottom: 0;
  padding: 8px 10px 12px 10px;
  .alert-variant(@brand-primary; @brand-primary; @gray-dark);
  strong{
    color: @gray-dark;
  }

}

.text-normal, .navbar-inverse .navbar-nav > li > a.text-normal {
  font-size: 14px;
  color: #fff;
  @media (min-width: @screen-sm-min) {
    font-size: inherit;
  }
}

.navbar-nav .text-normal {
  @media (min-width: @screen-sm-min) {
    font-size: 20px;
  }
}

// Qué es IMPACT

#what-is-impact{
  #values{
    .h2{
      margin-bottom: 30px;
      @media (min-width: @screen-sm-min) {
        margin-top: 30px;
      }
    }
  }
  .wrapper{
    @media (min-width: @screen-xs-min) {
      width: 335px;
      .clearfix;
      .center-block;
    }
  }
  ul.list-objetivos li {
    margin-bottom:10px;
    font-weight: 400;
    font-size: 20px;
    background: url("/img/flecha.png") no-repeat left top;
    list-style-type: none;
    padding-left: 30px;
    color: #eee;
  }
  @media (min-width: @screen-sm-min) {
    ul.list-objetivos li {
      margin-bottom:20px;
      font-weight: 400;
      font-size: 28px;
    }
  }
  h2 {
    font-weight: 300;
  }
  @media (max-width: @screen-sm-min) {
    .icon i.icn.lg {
      font-size: 50px;
    }
  }

}

.arrow-bottom-what-is:after, .arrow-bottom-what-is:after, .arrow-bottom-what-is:after, .arrow-bottom-what-is:after {
    border-color: #222 transparent transparent;
}

// Como funciona IMPACT

#how-it-works{
  h1, h2, h3, h4 {
    color: @dark-color;
    strong {
      color: @dark-color;
    }
  }
  h3 {
    text-transform: uppercase;
  }
  a:hover {
    color: @dark-color;
  }

  .panel-title > a span {
    color: @dark-color;
  }

  .panel-title > a {
    background-color: @brand-primary;
  }

  .panel-title > a.collapsed {
    background-color: #F8FAFD;
  }

  .tabs-out {
    //background-color: red;
    background: url("/img/bk.pestanias.png") center 0 no-repeat;
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background: url("/img/bk.pestanias-md.png") center 0 no-repeat;
    }
    @media (max-width: @screen-sm-max) {
      background: url("/img/bk.pestanias-sm.png") center 0 no-repeat;
    }
  }
  .tabs-circle-top .tab.active a {
    height: 100px;
    width: 100px;
    max-width: 100px;
    font-size:11px;
    div {
      font-size: 40px;
    }
    @media (min-width: @screen-md-min) {
      height: 110px;
      width: 110px;
      max-width: 110px;
      font-size:12px;
    }
    @media (min-width: @screen-lg-min) {
      font-size:14px;
      height: 130px;
      width: 130px;
      max-width: 130px;
    }
  }

  @media (min-width: @screen-sm-min) {
    .tabs-circle-top .tab.active {
      top: 5px;
    }

    .tabs-circle-top .tab.active a {
      color: #404040;
    }

    .tabs-circle-top .tab {
      height: 130px;
      margin: 0 30px;
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        height: 110px;
        margin: 0 25px;
      }
      @media (max-width: @screen-sm-max) {
        height: 100px;
        margin: 0 20px;
      }
    }

    .tabs-circle-top.tab-container .panel-container {
      margin-top: 0;
    }
    .tabs-circle-top .tab a {
      padding: 0;
    }
    .tabs-circle-top .tab a:hover {
      border: 1px solid @brand-primary;
      background-color: @brand-primary;
    }
  }

  .tabs-circle-top .tab.active a.active:hover {
    color: #fff;
  }

  p, li {
    color: @dark-color;
    strong {
      color: @dark-color;
    }
  }

  #tab-requisitos, #tab-seleccion, #tab-financiacion,
  #tab-formacion, #tab-mentoring, #tab-inversores {
    padding-top: 50px;
    background-repeat: no-repeat;
  }

  #tab-requisitos {
    background: url("/img/diapos/requisitos/fondo.gif") 0 0 no-repeat;
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -35px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -130px 0;
    }
    .text-large {
      font-size: 20px;
    }
    a {
      color: @dark-color;
      text-decoration: underline;
      &:hover {
        color: @brand-primary;
      }
    }
  }
  ul.lista-requisitos i {
    color: @brand-primary;
    font-size: 30px;
  }
  .well {
    background-color: rgba(0, 0, 0, 0.05);
  }

  #tab-seleccion {
    background-image: url("/img/diapos/seleccion/fondo.gif");

    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -68px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -180px 0;
    }
  }
  #tab-seleccion ol li {
    color: @dark-color;
    font-weight: 800;
    p {
      font-weight: normal;
    }
  }

  #tab-financiacion {
    background-image: url("/img/diapos/financiacion/fondo.gif");
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -103px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -233px 0;
    }
  }

  #tab-formacion {
    background-image: url("/img/diapos/formacion/fondo.gif");
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -130px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -280px 0;
    }
  }

  #tab-mentoring {
    background-image: url("/img/diapos/mentoring/fondo.gif");
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -145px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -300px 0;
    }
    ul li {
      padding-bottom: 20px;
    }
  }

  #tab-inversores {
    background-image: url("/img/diapos/inversores/fondo.gif");
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      background-position: -162px 0;
    }
    @media (max-width: @screen-sm-max) {
      background-position: -330px 0;
    }
  }
}



// Talento IMPACT

#talent-impact{
  .member{
    .h4{
      margin-bottom: 10px;
    }
  }
}

// Hot News

#hot-news{
  .h2{
    padding-top: 15px;
  }
  .tabs-side .tab a {
    background: #333;
  }
  .tabs-side .tab a:hover {
    color: @brand-primary;
  }
  .tabs-side .tab.active a {
    background: #222;
  }
}


// Call to action

#call-to-action{
  .form-control{
    width: 280px;
    @media (min-width: @screen-xs-min) {
      width: 528px;
    }
    @media (min-width: @screen-sm-min) {
      width: 350px;
    }
    @media (min-width: @screen-md-min) {
      width: 450px;
    }
    @media (min-width: @screen-lg-min) {
      width: 600px;
    }
  }
  .btn-primary{
    color: #fff;
    background-color: @main-bg;
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
      color: #fff;
      background-color: @gray-darker;
    }
  }
  .social li a i {
    color: #fff;
    font-size: 40px;
    @media (max-width: @screen-md-min) {
      font-size: 35px;
      width: 35px;
    }
  }
  .social li a:hover i {
    color: #000;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
