.post-title {
    margin: 0 0 15px 0;
}

h1{
    &.post-title {
        font-size: 22px;
        line-height: 24px;
    }
}

.bordered{
    .post-title {
        margin-bottom: 5px;
    }
}
#share{
    @media (max-width: @screen-xs-max) {
        overflow: hidden;   
    }
    .container {
        @media (max-width: @screen-xs-max) {
            width: auto;
            padding: 0;
            margin-left: -15px;
            margin-right: -15px;
        }
    }    
}

.blog{
    &.no-sidebar{
        .post,
        #comments,
        .pagination,
        .comment-form-wrapper {
            width: 770px;
            margin: 0px auto !important;
            @media (max-width: @screen-sm-max) {
                width: 100%;    
            }
            @media (max-width: @screen-xs-max) {
                width: 100%;   
            }
        }
        .post-title,
        .meta {
            text-align: center
        }
        .pagination ul {
            @media (max-width: @screen-xs-max) {
                margin: 0;
            }
        }
    }
}

.classic-blog{
    &.sidebar-left{
        .sidemeta,
        .pagination {
            padding-left: 0;
            border-left: none;
            margin-left: 0;
            padding-right: 59px;
            border-right: 1px solid @border-color;
            margin-right: 30px;
            @media (max-width: @screen-xs-max) {
                padding-right: 0;
                border-right: none;
                margin-right: 0;    
            }
        }
        .sidemeta{
            .date-wrapper {
                left: auto;
                right: -90px;
            }
            .format-wrapper {
                left: auto;
                right: -80px;
            }
        }
        .post{
            .date-wrapper {
                margin-right: 0;
                margin-left: 20px;
            }
        }
    }
    &.no-sidebar{
        .sidemeta,
        .pagination {
            position: relative;
            left: -30px;
            @media (max-width: @screen-sm-max) {
                left: auto;    
            }
            @media (max-width: @screen-xs-max) {
                left: 0;    
            }
        }
        .pagination,
        .comment-form-wrapper {
            @media (max-width: @screen-sm-max) {
                margin-bottom: 0;
            }
        }
    }
    .meta {
        margin-right: -5px;
        margin-left: -5px;
    }
    .post-content > *:first-child,
    .post-media + * {
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-top: 45px;
        }
        @media (max-width: @screen-sm-max) {
            margin-top: 45px;    
        }
    }
    .post-content > .post-media:first-child,
    .owl-carousel.post-media + * {
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-top: 0;
        }
        @media (max-width: @screen-sm-max) {
            margin-top: 0;
        }
    }
    .post-content{
        .meta {
            padding-left: 80px;
            padding-right: 80px;
            margin-bottom: 25px;
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                padding-left: 50px;
                padding-right: 50px;
                margin-right: -5px;
                margin-left: -5px;
                margin-bottom: 25px;   
            }
            @media (max-width: @screen-sm-max) {
                padding-left: 50px;
                padding-right: 50px;
                margin-right: -5px;
                margin-left: -5px;
                margin-bottom: 25px;
            }
        }
        > * {
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                margin-left: 50px;
                margin-right: 50px;
            }
            @media (max-width: @screen-sm-max) {
                margin-left: 50px;
                margin-right: 50px;    
            }
        }
        > .post-media {
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                margin-left: 0;
                margin-right: 0;
            }
            @media (max-width: @screen-sm-max) {
                margin-left: 0;
                margin-right: 0;    
            }
        }
    }
    .sidemeta,
    .pagination {
        padding-left: 59px;
        border-left: 1px solid @border-color;
        margin-left: 30px;
        @media (max-width: @screen-xs-max) {
            padding-left: 0;
            border-left: none;
            margin-left: 0;   
        }
    }
    .sidemeta{
        .format-wrapper {
            display: table;
        }
    }
    .post{
        width: 750px;
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            width: 601px;
            padding-bottom: 50px;    
        }
        @media (max-width: @screen-sm-max) {
            width: 630px;
            padding-bottom: 50px;
        }
        @media (max-width: @screen-xs-max) {
            margin-top: 80px;
            width: 100%;    
        }
        .date-wrapper {
            text-align: center;
            display: table;
            float: left;
            margin-right: 20px;
        }
        .date {
            display: table-cell;
            vertical-align: middle;
            line-height: 1;
            width: 60px;
            height: 60px;
            border: 1px solid @brand-primary;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: @brand-primary;
            font-weight: bold;
            color: #FFF;
            line-height: 1;
            text-transform: uppercase;
            .day {
                font-size: 20px;
                margin-bottom: 1px;
                display: block;
            }
            .month {
                font-size: 12px;
                display: block;
            }
        }
    }
    .post-title {
        font-size: 40px;
        line-height: 120%;
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            font-size: 33px;    
        }
        @media (max-width: @screen-sm-max) {
            font-size: 33px;
        }
    }
    .isotope {
        overflow: visible !important;
    }
    #share {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .panel-group {
        margin-bottom: 40px;
    }
    .pagination,
    .comment-form-wrapper {
        @media (max-width: @screen-sm-max) {
            margin-bottom: 120px;
        }
    }
}

#blog-post{
    .classic-blog{
        .post {
            width: 100%;
        }
    }
    .post{
        h2{
            @media (max-width: @screen-xs-max) {
                font-size: 19px;
                margin-bottom: 15px;   
            }    
        }
        h3{
            @media (max-width: @screen-xs-max) {
                font-size: 16px; 
            }    
        }
        h4{
            @media (max-width: @screen-xs-max) {
                font-size: 14px; 
            }    
        }
        figure figcaption p {
            @media (max-width: @screen-xs-max) {
                font-size: 14px;
                line-height: 150%;
            }
        }
    }
}

.post {
    position: relative;
    background: #FFF;
    padding-bottom: 60px;
    border: 1px solid #E6E9ED;
    border-bottom-width: 2px;
    border-radius: 3px;
    margin-bottom: 40px;
    &.format-link {
        background: @dark-bg;
        color: @medium-color;
        .post-title {
            color: #FFF;
        }
    }
    &.format-quote{
        background-color: @brand-primary;    
    }
}

.sidemeta{
    .format-wrapper{
        position: absolute;
        top: 75px;
        left: -80px;
        font-size: 15px;
        a {
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            background: #FFF;
            text-align: center;
            color: @brand-primary;
            line-height: 1;
            border: 1px solid @brand-primary;
            border-radius: 50%;
            &:hover {
                background-color: @brand-primary;
                color: #FFF;
            }
        }
    }
    .date-wrapper {
        position: absolute;
        top: 0;
        left: -90px;
    }
}

.sidemeta .date-wrapper,
.classic-blog.sidebar-left .sidemeta .date-wrapper {
    @media (max-width: @screen-xs-max) {
        top: -80px;
        left: 50%;
        margin-left: -60px;
    }
}

.sidemeta .format-wrapper,
.classic-blog.sidebar-left .sidemeta .format-wrapper {
    @media (max-width: @screen-xs-max) {
        top: -70px;
        left: 50%;
        margin-left: 10px;
    }
}

.post-content{
    > * {
        margin-left: 80px;
        margin-right: 80px;
    }
    *:last-child {
        margin-bottom: 0;
    }
    > .post-media {
        margin-left: 0;
        margin-right: 0;
        &:first-child {
            margin-top: 0;
        }
    }
}

.post-content > *:first-child,
.post-media + * {
    margin-top: 60px;
}

.owl-carousel{
    &.post-media + * {
        margin-top: 20px;
    }
}

.post-media{
    iframe {
        margin-bottom: -7px;
    }
}

.grid-blog{
    @media (max-width: @screen-xs-max) {
        margin-left: 0 !important;
        margin-bottom: 20px !important;   
    }
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
    &.col-2,
    &.col-3.no-sidebar{
        .post {
            padding-bottom: 40px;
        }
        .post-content{
            > * {
                margin-left: 40px;
                margin-right: 40px;
            }
            > .post-media {
                margin-left: 0;
                margin-right: 0;
            }
            .meta {
                padding-left: 40px;
                padding-right: 40px;
                margin-right: -5px;
                margin-left: -5px;
                margin-bottom: 25px;
            }
        }
        .post-content > *:first-child,
        .post-media + * {
            margin-top: 40px;
        }
        .post-content > .post-media:first-child,
        .owl-carousel.post-media + * {
            margin-top: 0;
        }
        .post-title {
            font-size: 30px;
        }
    }
    &.col-2,
    &.col-3{
        &.no-sidebar{
            @media (max-width: @screen-sm-max) {
                padding-right: 0;
                margin-left: -25px;   
            }
            .post {
                @media (max-width: @screen-sm-max) {
                    width: 347px;
                    padding-bottom: 40px;
                    margin-left: 25px;
                    margin-bottom: 25px;
                }
            }
            .post-content{
                > * {
                    margin-left: 40px;
                    margin-right: 40px;
                }
                .meta {
                    padding-left: 40px;
                    padding-right: 40px;
                    margin-right: -5px;
                    margin-left: -5px;
                    margin-bottom: 25px;
                }
            }
            .post-content > *:first-child,
            .post-media + * {
                margin-top: 35px;
            }
            .post-title {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
            + .pagination {
                @media (max-width: @screen-xs-max) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.col-2{
        @media (min-width: @screen-lg-min) {
            margin-left: -40px;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            margin-left: -30px;
        }
        @media (max-width: @screen-sm-max) {
            padding-right: 20px;
            margin-left: 0;
            margin-bottom: 0;    
        }
        @media (max-width: @screen-xs-max) {
            padding-right: 0;    
        }
        &.no-sidebar{
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                margin-left: -40px;   
            }
            .post {
                padding-bottom: 50px;
                @media (min-width: @screen-lg-min) {
                    width: 565px;    
                }
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    width: 465px;
                    margin-left: 40px;
                    margin-bottom: 40px;
                }
            }
            .post-content{
                > * {
                    margin-left: 50px;
                    margin-right: 50px;
                }
                > .post-media {
                    margin-left: 0;
                    margin-right: 0;
                }
                .meta {
                    padding-left: 50px;
                    padding-right: 50px;
                    margin-right: -5px;
                    margin-left: -5px;
                    margin-bottom: 25px;
                }
            }
            .post-content > *:first-child,
            .post-media + * {
                margin-top: 45px;
            }
            .post-content > .post-media:first-child,
            .owl-carousel.post-media + * {
                margin-top: 0;
            }
            .post-title {
                font-size: 33px;
            }
        }
        .post{
            @media (min-width: @screen-lg-min) {
                width: 390px;
                margin-left: 40px;
                margin-bottom: 40px;
            }
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                width: 330px;
                margin-left: 30px;
                margin-bottom: 30px;    
            }
            @media (max-width: @screen-sm-max) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 30px;
            }
        }
        .post-title {
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                font-size: 28px;
            }
            @media (max-width: @screen-sm-max) {
                font-size: 28px;
            }
        }
    }
    &.col-3{
        @media (min-width: @screen-lg-min) {
            margin-left: -30px;   
        }
        &.no-sidebar{
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                margin-left: -25px;    
            }
            .post{
                @media (min-width: @screen-lg-min) {
                    width: 370px; 
                }
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    width: 306px;
                    margin-left: 25px;
                    margin-bottom: 25px;    
                }
            }
            .post-title {
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    font-size: 24px;
                }
            }
            p {
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    font-size: 16px;
                }
            }
        }
        .post{
            @media (min-width: @screen-lg-min) {
                margin-left: 30px;
                margin-bottom: 30px; 
            }    
        }
    }
    .post{
        float: left;
        min-height: 1px;
        position: relative;
        @media (max-width: @screen-xs-max) {
            width: 100% !important;
            margin-left: 0 !important;
            margin-bottom: 20px !important;    
        }
        figure {
            margin-bottom: -1px;
        }
        .date {
            display: inline;
        }
    }
}

.classic-blog,
.grid-blog.col-2,
.grid-blog.col-3,
.grid-blog.col-2.no-sidebar,
.grid-blog.col-3.no-sidebar {
    .post{
        @media (max-width: @screen-xs-max) {
            padding-bottom: 30px;
        }
        @media (max-width: @screen-xs-max) {
            padding-bottom: 30px;   
        }
    }
    .post-content > * {
        @media (max-width: @screen-xs-max) {
            margin-left: 30px;
            margin-right: 30px;    
        }
        .meta{   
            @media (max-width: @screen-xs-max) {
                padding-left: 30px;
                padding-right: 30px;
                margin-bottom: 20px;
            }
        }
    }
    .post-content > *:first-child,
    .post-media + * {
        @media (max-width: @screen-xs-max) {
            margin-top: 30px;
        }
    }
    .post-title {
        @media (max-width: @screen-xs-max) {
            font-size: 24px;
        }
    }
    p { 
        @media (max-width: @screen-xs-max) {
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 10px;   
        }
    }
}

.classic-blog .pagination,
.classic-blog .comment-form-wrapper,
.pagination {
    @media (max-width: @screen-xs-max) {
        margin-bottom: 100px;
    }
}

.classic-blog .pagination,
.classic-blog.sidebar-left .pagination,
.grid-blog.col-2 + .pagination,
.grid-blog.col-3 + .pagination,
.grid-blog.col-2.no-sidebar + .pagination,
.grid-blog.col-3.no-sidebar + .pagination {
    @media (max-width: @screen-xs-max) {
        margin-left: -10px;
    }
}

.sidebar-left{
    .grid-blog{
        &.col-2,
        &.col-2 + .pagination{
            @media (max-width: @screen-sm-max) {
                padding-left: 20px;
                padding-right: 0;    
            }    
        }
        &.col-2 {
            @media (min-width: @screen-lg-min) { 
                margin-left: -20px;
            }
            @media (max-width: @screen-xs-max) {
                padding-left: 0;   
            }
            + .pagination{
                @media (max-width: @screen-xs-max) {
                    padding-left: 0;   
                }    
            }
        }
    }
    .pagination {
        @media (min-width: @screen-lg-min) { 
            margin-left: 20px;
        }
    }
}