.bordered{
    border: 1px solid #E6E9ED;
    border-bottom-width: 2px;
    border-radius: 3px;
    padding: 25px;
    background: #F5F7FA;
    .info {
        text-align: center;
        h3,
        h4 {
            margin-bottom: 5px;
            a {
                color: @dark-color;
                &:hover {
                    color: @brand-primary;
                }
            }
        }
        p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0;
        }
    }
}

.light-bg{
    .bordered {
        background: #FFF;
    }
}

.dark-bg,
.tint-bg{
    .bordered{
        .info{
            h3,
            h4{
                color: @dark-color;    
            }
            p{
                color: #73879C;    
            }
        }
    }
}

.no-top-border {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border {
    border: 1px solid @border-color;
}

.border-top-lg,
.border-top-md,
.border-top-sm,
.border-top-xs,
.border-top {
    border-top: 1px solid @border-color;
}

.border-right-lg,
.border-right-md,
.border-right-sm,
.border-right-xs,
.border-right {
    border-right: 1px solid @border-color;
}

.border-bottom-lg,
.border-bottom-md,
.border-bottom-sm,
.border-bottom-xs,
.border-bottom {
    border-bottom: 1px solid @border-color;
}

.border-left-lg,
.border-left-md,
.border-left-sm,
.border-left-xs,
.border-left {
    border-left: 1px solid @border-color;
}

.border-lg,
.border-top-lg,
.border-right-lg,
.border-bottom-lg,
.border-left-lg {
    border-width: 20px;
}

.border-md,
.border-top-md,
.border-right-md,
.border-bottom-md,
.border-left-md {
    border-width: 10px;
}

.border-sm,
.border-top-sm,
.border-right-sm,
.border-bottom-sm,
.border-left-sm {
    border-width: 5px;
}
.border-xs,
.border-top-xs,
.border-right-xs,
.border-bottom-xs,
.border-left-xs {
    border-width: 3px;
}
.light-bg{
    .border,
    .border-lg,
    .border-md,
    .border-sm,
    .border-xs,
    .border-top-lg,
    .border-top-md,
    .border-top-sm,
    .border-top-xs,
    .border-top,
    .border-right-lg,
    .border-right-md,
    .border-right-sm,
    .border-right-xs,
    .border-right,
    .border-bottom-lg,
    .border-bottom-md,
    .border-bottom-sm,
    .border-bottom-xs,
    .border-bottom,
    .border-left-lg,
    .border-left-md,
    .border-left-sm,
    .border-left-xs,
    .border-left {
        border-color: #BCC7D1;
    }
}

.dark-bg{
    .border,
    .border-lg,
    .border-md,
    .border-sm,
    .border-xs,
    .border-top-lg,
    .border-top-md,
    .border-top-sm,
    .border-top-xs,
    .border-top,
    .border-right-lg,
    .border-right-md,
    .border-right-sm,
    .border-right-xs,
    .border-right,
    .border-bottom-lg,
    .border-bottom-md,
    .border-bottom-sm,
    .border-bottom-xs,
    .border-bottom,
    .border-left-lg,
    .border-left-md,
    .border-left-sm,
    .border-left-xs,
    .border-left {
        border-color: #73879C;
    }
}

.tint-bg{
    .border,
    .border-lg,
    .border-md,
    .border-sm,
    .border-xs,
    .border-top-lg,
    .border-top-md,
    .border-top-sm,
    .border-top-xs,
    .border-top,
    .border-right-lg,
    .border-right-md,
    .border-right-sm,
    .border-right-xs,
    .border-right,
    .border-bottom-lg,
    .border-bottom-md,
    .border-bottom-sm,
    .border-bottom-xs,
    .border-bottom,
    .border-left-lg,
    .border-left-md,
    .border-left-sm,
    .border-left-xs,
    .border-left {
        border-color: #FFF;
    }
}

