//
// Colors
// --------------------------------------------------


// Text colors
// -------------------------

.green {
    color: @green;
}

.blue {
    color: @blue;
}

.red {
    color: @red;
}

.pink {
    color: @orange;
}

.purple {
    color: @purple;
}

.orange {
    color: @pink;
}

.navy {
    color: @navy;
}

.gray {
    color: @gray;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.light-color,
.light-color .dark-bg {
    color: #FFF;
}

.medium-color {
    color: @medium-color;
}

.dark-color {
    color: @dark-color;
}

.tint-color {
    color: @brand-primary;
}

.text-color {
    color: @text-color;
}

// Background colors
// -------------------------

.green-bg {
    background-color: @green;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.blue-bg {
    background-color: @blue;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.red-bg {
    background-color: @red;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.orange-bg {
    background-color: @orange;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.purple-bg {
    background-color: @purple;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.pink-bg {
    background-color: @pink;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.navy-bg {
    background-color: @navy;
    color: #FFF;
    padding: 2px 8px 4px;
    margin-top: -2px;
}

.gray-bg {
    background-color: @gray;
    color: #FFF;
    p,
    .item-details li:before {
        color: @medium-color;
    }
    h1,
    h2,
    h3,
    h4 {
        color: #FFF;
    }
    .widget{
        h1,
        h2,
        h3,
        h4 {
            color: #FFF;
        }
    }
}

.light-bg {
    background-color: @light-bg;
}

.dark-bg {
    background-color: @dark-bg;
    color: @medium-color;
    p,
    .item-details li:before {
        color: @medium-color;
    }
    h1,
    h2,
    h3,
    h4 {
        color: #FFF;
    }
    .widget{
        h1,
        h2,
        h3,
        h4 {
            color: #FFF;
        }
    }
}

.tint-bg {
    background-color: @brand-primary;
    color: #FFF;
    h1,
    h2,
    h3,
    h4,
    p,
    .item-details li:before,
    .icon i.icn {
        color: #FFF;
    }
    a:hover {
        color: @dark-color;
    }
    .btn{
        color: @brand-primary;    
    }
}