//
// Figure
// --------------------------------------------------


h1 + figure,
p + figure {
	padding-top: 15px;
}

h2 + figure,
h3 + figure,
h2 + .thumbs,
h3 + .thumbs,
h2 + .thumb,
h3 + .thumb {
	padding-top: 10px;
}

h4 + figure {
	padding-top: 5px;
}

h2 + .owl-carousel,
p + .owl-carousel,
h2 + .panel-group,
p + .panel-group {
	padding-top: 20px;
}


// Figure caption
// -------------------------

figure figcaption {
	font-size: 14px;
	line-height: 150%;
}

figure figcaption h4 {
	margin-bottom: 10px;
}

figure * + figcaption {
	padding-top: 20px;
}


// Misc
// -------------------------

figure + *,
.thumb + figure {
	padding-top: 25px;
}

.classic-blog figure + * {
	padding-top: 35px;
}

figure.post-media + * {
	padding-top: 0;
}
