---
layout: default
lang: it

lema: Incubiamo, acceleriamo ed investiamo nelle migliori mobile startup per aiutarle a sviluppare un business globale.

titulo_objetivos: Gli <strong>obiettivi</strong> di IMPACT
objetivo1: Accelerare almeno <strong>64 startup europee</strong> focalizzate sul <strong>Mobile Internet</strong>.
objetivo2: Sovvenzionare ogni startup fino a <strong>100.000 Euro senza alcun corrispettivo in equity</strong> per un investimento totale di <strong>6.400.000 di Euro in 2 anni</strong>.
objetivo3: Fornire un <strong>servizio di accelerazione Premium</strong> della durata di 6 mesi che include Training e Mentoring sotto la guida di <strong>professionisti ed imprenditori esperti ed affermati nell’ecosistema Digitale</strong>.
objetivo4: Aiutare le startup più promettenti nella ricerca e raccolta di fondi ed investimenti da parte di <strong>Business Angels</strong> e <strong>Venture Capital</strong>.

valores: Valori
transparencia: Trasparenza
transparencia_desc: "Lavoriamo in modo trasparente con processi chiari e visibili per raggiungere un obiettivo comune: un ecosistema aperto e indipendente contribuisce a promuovere IMPACT."
alto_rendimiento: High performance
alto_rendimiento_desc: Requisiti come qualità e professionalità sono essenziali per le startup che fanno parte del programma, gli startupper devono essere motivati e determinati, non solo per loro stessi, ma anche per i mentor, i valutatori e i membri del comitato. Ritmi sostenuti, velocità di esecuzione e determinazione sono le principali caratteristiche di IMPACT.

consorcio: Consorzio
consorcio_desc: "IMPACT (Internet Mobile Projects Accelerator) è uno dei 16 consorzi selezionati dalla Commissione Europea nell’ambito del Seventh Framework Programme. <br> IMPACT è format da ISDI, Buongiorno (attraverso b-ventures), Teknologiudviking ApS , Seaya Ventures e un network di imprenditori e professionisti di riferimento nell’ecostistema Digitale Europeo."
isdi_titulo: ISDI (Spagna)
isdi_desc: La prima Business School specializzata nel Digital Business, con un’offerta completa di formazione, supporto all’imprenditore e accelerazione di impresa.
buon_titulo: Buongiorno (Italia)
buon_desc: Multinazionale leader nella tecnologia mobile che partecipa attraverso il suo acceleratore per startup “b-ventures”.
teknolo_titulo: Teknologiudviking ApS (Danimarca)
teknolo_desc: Società di consulenza specializzata in finanziamenti, fornirà preziose competenze in materia di gestione e monitoraggio di bandi pubblici.
seaya_titulo: Seaya Ventures(Germania)
seaya_desc: Michael Kleindel, Super Angel Investor nel settore Digital, partecipa attraverso il suo Venture Capital Seaya.

como_funciona_tit: <strong>Come lavora</strong> IMPACT
Requisitos: Requisiti
Seleccion: Selezione
Financiacion: Finanziamento
Aceleracion: Accelerazione
Inversores: Investitori

Requisitos_Mobile: "<strong>* Mobile</strong>: Applicazioni mobile o business model basati sulla mobilità e relativi alle seguenti tematiche: comunicazione, social, video, media e advertising, design, educazione, intrattenimento, e-commerce, mobile hardware, contenuti, connected TV, infrastrutture e sicurezza."
Proyectos_Fase: "I progetti verranno suddivisi come segue:"
Proyectos_Comprometen: Quelli selezionati dovranno impegnarsi a
Tecnologias_FI: "Utilizzare la <strong>FI technology</strong>: <a href='http://www.fi-ware.org/'>FI-Ware</a> e/o la  <a href='http://mediafi.org/'>FI-Content</a>"
seguir_programa: Seguire il programma di accelerazione IMPACT per 6 mesi.

Proceso_Seleccion: Processo di Selezione
FasesFinanciacion: Fase di Finanziamento
Aceleracion: Accelerazione
Aceleracion_entradilla: "Il processo di Accelerazione comprende due moduli: Training e Mentoring."
Formacion: Training

FinanciacionExtendida: Extended Funding

Titulo_inscribe: Stay <strong>Connected</strong>
Entradilla_inscribe: You can stay connected with IMPACT. Kindly leave your email and we will keep you posted on the latest news, important info, and of any related events or actions we carry out.
Enviar: Invia
O_Siguenos: Seguici su...
IntroduceEmail: Inserisci la tua mail

titulo_equipo: IMPACT <strong>Team</strong>
titulo_mentors: IMPACT <strong>Mentors</strong>
mentores_confirmados: Mentor Confermati

titulo_espacios: Le sedi degli <strong>Acceleratori</strong>

grafica_requisitos: /img/diapos/it/requisitos/grafica.png
grafica_seleccion: /img/diapos/it/seleccion/grafico.png
grafica_financiacion: /img/diapos/it/financiacion/grafico.png
grafica_mentoring: /img/diapos/it/mentoring/grafico.png
grafica_inversores: /img/diapos/it/inversores/grafica.png
grafica_formacion: /img/diapos/it/formacion/grafica.png

comite_direccion: IMPACT Steering Committee
consejo_asesor: Accelerator Advisory Board
cargo_mentores: Mentor
cargo_coordinacion: Accelerator Team
cargo_director_proyecto: Project Director
cargo_equipo_organizacion: Organization Team
cargo_responsable_tecnologia: Technical Leader
---
{% include 01.alert.html %}

{% include 02.impact-about.html %}

{% include 03.what-is-impact.html %}

{% include 04.how-it-works.html %}

{% include 05.talent-impact.html %}

{% include 07.call-to-action.html %}

{% include 08.spaces.html %}

{% include 06.hot-news-pestanias.html %}
