<div id="alert-hot-new" class="alert alert-info text-normal" role="alert">
	<div class="container">
    <i class="icon-info-circle"></i>
    {% if {{page.lang}} == 'en' %}
      <strong>Hot News!</strong> <a href="#hot-news">IMPACT will invest 2.5 million Euro to accelerate 25 fiware-based startups </a>
    {% endif %}

    {% if {{page.lang}} == 'es' %}
      <strong>Hot News!</strong> <a href="#hot-news">IMPACT will invest 2.5 million Euro to accelerate 25 fiware-based startups </a>
    {% endif %}

    {% if {{page.lang}} == 'it' %}
      <strong>Hot News!</strong> <a href="#hot-news">IMPACT will invest 2.5 million Euro to accelerate 25 fiware-based startups </a>
    {% endif %}
	</div>
</div>