<div id="alert-hot-new" class="alert alert-info text-normal" role="alert">
	<div class="container">
    <i class="icon-info-circle"></i>
    {% if {{page.lang}} == 'en' %}
      <strong>Hot News!</strong> 1st OPEN CALL announcement: We start receiving projects from today up to Nov 7. <a href="#hot-news " class="scroll">Apply now!</a>
    {% endif %}

    {% if {{page.lang}} == 'es' %}
      <strong>Hot News!</strong> 1st OPEN CALL announcement: We start receiving projects from today up to Nov 7. <a href="#hot-news " class="scroll">Apply now!</a>
    {% endif %}

    {% if {{page.lang}} == 'it' %}
      <strong>Hot News!</strong> 1st OPEN CALL announcement: We start receiving projects from today up to Nov 7. <a href="#hot-news " class="scroll">Apply now!</a>
    {% endif %}
	</div>
</div>
