<section id="estadisticas" class="inner-sm gray-bg arrow-bottom arrow-bottom-estadisticas">
	<div class="container">
		<header class="text-center">
			<h1 class="single-block">Our <strong>metrics</strong></h1>
		</header>
		<div class="row">
			<div class="col-md-6">
				<h2 class="estadisticas__titulo-grupo"><strong>Portfolio</strong></h2>
				<div class="inner-bottom-sm">
					<div class="row">
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra"60</div>	
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Invested Startups</h3>	
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">18</div>	
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Now Accelerating</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">5,8<span class="estadistica__cifra__texto">M€</span></div>
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Total Investment</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="estadisticas__titulo-grupo"><strong>Origin of Startups</strong></h2>
				<div class="inner-bottom-sm">
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">1670</div>		
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Total Applications</h3>	
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">30</div>	
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">EU Countries</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2 class="estadisticas__titulo-grupo"><strong>IMPACT STARTUPS</strong></h2>
				<div class="inner-bottom-sm">
					<div class="row">
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="myStat" data-dimension="144" data-text="+50%" data-width="3" data-fontsize="26" data-percent="100" data-fgcolor="#73fcd6" data-bgcolor="#444" data-fill="transparent" data-total="100" data-part="50" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>		
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Teams Growth</h3>	
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="myStat" data-dimension="144" data-text="70%" data-width="3" data-fontsize="26" data-percent="70" data-fgcolor="#73fcd6" data-bgcolor="#444" data-fill="transparent" data-total="100" data-part="70" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>	
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Funding after IMPACT</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="myStat" data-dimension="144" data-text="100%" data-width="3" data-fontsize="26" data-percent="100" data-fgcolor="#73fcd6" data-bgcolor="#444" data-fill="transparent" data-total="100" data-part="100" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">FIWARE Implementation</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="estadisticas__titulo-grupo"><strong>ACCELERATION</strong></h2>
				<div class="inner-bottom-sm">
					<div class="row">
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">855</div>		
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Mentoring Sessions</h3>	
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico gray">
									<div class="myStat" data-dimension="144" data-text="86%" data-width="3" data-fontsize="26" data-percent="100" data-fgcolor="#fff" data-bgcolor="#73fcd6" data-fill="#73fcd6" data-total="100" data-part="86" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>	
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Net Promoter Score</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="estadistica clearfix">
								<div class="estadistica__grafico">
									<div class="estadistica__cifra">100<span class="estadistica__cifra__texto">M</span></div>
								</div>
								<div class="estadistica__pie">
									<h3 class="estadistica__titulo">Media Impacts</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
