<section id="hero" class="dark-bg img-bg-soft img-bg arrow-bottom">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-md-10 center-block text-center">
				<header>
					<h1 class="brand">
						<span class="hide">IMPACT</span>
					</h1>
					<p><span class="light-color">{{ page.lema }}<span></p>

					{% comment %}
					<div class="hero__entradilla">
						<img src="/img/open-call.png" alt="3er Open Call is Now Open!">	
					</div>
					<a href="http://www.fundingbox.com/p/impact-accelerator/" target="_blank"  class="btn btn-primary btn-lg">{{ site.data.t[page.lang].menu_inscribe }}</a>
					{% endcomment %}
				</header>
			</div>
		</div>
	</div>
</section>
