<section id="hero" class="dark-bg img-bg-soft img-bg arrow-bottom">
	<div class="container inner">
		<div class="row">
			<div class="col-md-10 center-block text-center">
				<header>
					<h1 class="brand">
						<span class="hide">IMPACT</span>
					</h1>
					<h2 class="h2">Start, Accelerate, Impact.</h2>
					<p><span class="dark-bg">Subvencionamos, aceleramos e invertimos en  los mejores emprendimientos de internet mobile ayudándoles a generar impacto global.<span></p>
				</header>
			</div>
		</div>
	</div>
</section>
