<section id="what-is-impact" class="arrow-bottom arrow-bottom-what-is">
	<div class="container inner">
		<header class="text-center">
			<h1 class="single-block"><strong>Objetivos</strong> IMPACT</h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-sm-12 col-md-12 col-lg-12">
					<ul class="list-unstyled list-objetivos">
						<li> <span class="tint-bg"> Acelerar al menos a 64 startups  europeas con foco en Internet Mobile.</span></li>
						<li> <span class="tint-bg"> Subvencionar cada Startup con hasta 100.000 euros sin contrapartida de equity invirtiendo un total de 6.400.000 euros en 2 años.</span></li>
						<li> <span class="tint-bg">Proporcionar un Servicio de Aceleración Premium durante 6 meses compuesto de Formación y Mentoring con profesionales y emprendedores clave del ecosistema digital.</span></li>
						<li> <span class="tint-bg">Ofrecer a las startups supervivientes una Fase de Inversión Extendida con Business Angels y Fondos de primera línea internacional.</span></li>
				  </ul>
			</div>
		</div>

		<div class="well">
			<h2 class="h2 text-center"><strong>Valores</strong> IMPACT</h2>
			<div class="row">
				<div class="col-sm-2">
					<div class="icon pull-right">
						<i class="icon-search icn lg"></i>
					</div>
				</div>
				<div class="col-sm-4">
					<h3>Transparencia</h3>
					<p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
				</div>

				<div class="col-sm-2">
					<div class="icon pull-right">
						<i class="icon-gauge icn lg"></i>
					</div>
				</div>
				<div class="col-sm-4">
					<h3>Alto rendimiento</h3>
					<p class="text-small">Magnis modipsae lib voloratati andigen dapeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibuses conecus es dem tumquam core tibusam eumenis et consent accullignis posae modis volor.</p>
				</div>
			</div>
		</div>

		<br><br>
		<div class="well">
			<h2 class="h2 text-center"><strong>Consorcio</strong> IMPACT</h2>
			<div class="row inner-bottom-xs">
				<div class="col-md-10 col-md-offset-1">
					<p class="text-normal">
					ISDI, Boungiorno y Seaya Ventures junto a profesionales referentes del ecosistema digital europeo forman equipo para lanzar IMPACT. <br>
					Impact  potenciará a las startups  seleccionadas en un proceso de aceleración  de alto rendimiento formándoles, mentorizándoles , brindándoles acceso a mercados internacionales y facilitando el contacto con inversores y empresas globales. <br>
					IMPACT (Internet Mobile Projects Accelerator) es uno de los 16 consorcios seleccionados por la Comisión Europea en el marco del Seventh Framework Programme formado por:
					</p>
				</div>
			</div>

			<div class="row thumbs gap-lg">
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.isdi.es"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>ISDI (España)</h4>
								<p>La primera Escuela de Negocio Digital, con todo un ecosistema de formación, emprendimiento y aceleración.</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/isdi.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.buongiorno.com/"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>Buongiorno (Italia)</h4>
								<p>Corporación multinacional del sector de tecnología Mobile que cuenta con su propia aceleradora B-Ventures.</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/buongiorno.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.teknologiudvikling.dk/"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>Teknologiudviking (Dinamarca)</h4>
								<p>Consultora especializada en financiación con experiencia en gestión y monitorización online de procesos públicos de Open Call.</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/Teknologiudvikling.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://seayaventures.com/"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>Seaya Ventures (Alemania)</h4>
								<p>Michael Kleindel, Super Angel Investor del sector digital, a través de su Venture Capital Seaya.</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/seaya.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
			</div><!-- /.row -->

		</div>
	</div><!-- /.container -->
</section>
