<section id="what-is-impact" class="arrow-bottom arrow-bottom-what-is">
	<div class="container inner">
		<header class="text-center">
			<h1 class="single-block">{{ page.titulo_objetivos }}</h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-sm-12 col-md-12 col-lg-12">
					<ul class="list-objetivos">
						<li>{{ page.objetivo1 }}</li>
						<li>{{ page.objetivo2 }}</li>
						<li>{{ page.objetivo3 }}</li>
						<li>{{ page.objetivo4 }}</li>
				  </ul>
			</div>
		</div>

		<div class="well">
			<h2 class="h2 text-center"><strong>{{ page.valores }}</strong> IMPACT</h2>
			<div class="row">
				<div class="col-sm-2">
					<div class="icon pull-right">
						<i class="icon-search icn lg"></i>
					</div>
				</div>
				<div class="col-sm-4 inner-bottom-xs">
					<h3>{{ page.transparencia }}</h3>
					<p class="text-small">{{ page.transparencia_desc }}</p>
				</div>

				<div class="col-sm-2">
					<div class="icon pull-right">
						<i class="icon-gauge icn lg"></i>
					</div>
				</div>
				<div class="col-sm-4">
					<h3>{{ page.alto_rendimiento }}</h3>
					<p class="text-small">{{ page.alto_rendimiento_desc }}</p>
				</div>
			</div>
		</div>

		<br><br>
		<div class="well">
			<h2 class="h2 text-center"><strong>{{ page.consorcio }}</strong> IMPACT</h2>
			<div class="row inner-bottom-xs">
				<div class="col-md-10 col-md-offset-1">
					<p class="text-normal">
						{{ page.consorcio_desc }}
					</p>
				</div>
			</div>

			<div class="row thumbs gap-lg">
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.isdi.es" target="_blank"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>{{ page.isdi_titulo }}</h4>
								<p>{{ page.isdi_desc }}</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/isdi.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.buongiorno.com/" target="_blank"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>{{ page.buon_titulo }}</h4>
								<p>{{ page.buon_desc }}</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/buongiorno.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://www.teknologiudvikling.dk/"  target="_blank"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>{{ page.teknolo_titulo }}</h4>
								<p>{{ page.teknolo_desc }}</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/Teknologiudvikling.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
				<div class="col-xs-6 col-sm-3 thumb">
					<a href="http://seayaventures.com/"  target="_blank"><figure>
						<figcaption class="text-overlay visible-lg">
							<div class="info">
								<h4>{{ page.seaya_titulo }}</h4>
								<p>{{ page.seaya_desc }}</p>
							</div><!-- /.info -->
						</figcaption>
						<img src="/img/logos/seaya.png" class="img-responsive">
					</figure></a>
				</div><!-- /.col -->
			</div><!-- /.row -->

		</div>
	</div><!-- /.container -->
</section>
