<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">{{page.como_funciona_tit}}</h1>
		</header>
		<div class="row hidden-xs">
			<div class="col-xs-12 tabs-out">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-requisitos"><div><i class="icon-ok"></i></div>{{page.Requisitos}}</a></li>
						<li class="tab"><a href="#tab-seleccion"><div><i class="icon-flow-tree"></i></div>{{page.Seleccion}}</a></li>
						<li class="tab"><a href="#tab-financiacion"><div><i class="icon-money"></i></div>{{page.Financiacion}}</a></li>
						<li class="tab"><a href="#tab-formacion"><div><i class="icon-gauge"></i></div>{{page.Aceleracion}}</a></li>
						<li class="tab"><a href="#tab-inversores"><div><i class="icon-users"></i></div>{{page.Inversores}}</a></li>
					</ul>

					<div class="container panel-container">
						<div class="tab-content" id="tab-requisitos">
							<div class="row">
								<div class="col-sm-8">
									<h2>{{page.Requisitos}}</h2>
									{% include entradillas/requisitos.html %}
									<p class="text-center"><img src="/img/diapos/requisitos/mapa.png" alt="Sede en Europa y Mobile"></p>

								</div>
								<div class="col-sm-4 well">
									<p class="text-small">
										{{page.Requisitos_Mobile}}
									</p>
								</div>
							</div>
							<div class="row inner-top-xs">
								<div class="col-sm-6">
									<p class="text-large">
										<strong>{{page.Proyectos_Fase}}:</strong>
									</p>
									<p >{{page.Proyectos_Fase2}}</p>

								</div>
								<div class="col-sm-1"><p class="text-center"><img src="/img/diapos/requisitos/mas.gif" alt="+"></p></div>
								<div class="col-sm-5">
									<p class="text-large">
										<strong>{{page.Proyectos_Comprometen}}:</strong>

										<ul class="lista-requisitos text-large">
											<li><i class="icon-ok-circle"></i> {{page.Tecnologias_FI}}</li>
											<li><i class="icon-ok-circle"></i> {{page.seguir_programa}}</li>
										</ul>

									</p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-seleccion">
							<h2>{{page.Proceso_Seleccion}}</h2>

							<div class="row">
								<div class="col-sm-4">
									<p class="text-center"><img src="{{page.grafica_seleccion}}" alt="{{page.Proceso_Seleccion}}"  class="img-responsive" ></p>
								</div>
								<div class="col-sm-7">
									{% include entradillas/seleccion.html %}
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-financiacion">
							<div class="row">
								<div class="col-sm-12">
									<h2>{{page.FasesFinanciacion}}</h2>
									{% include entradillas/financiacion.html %}
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<img src="{{page.grafica_financiacion}}" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" >
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-formacion">
							<h2>{{page.Aceleracion}}</h2>
							<p>{{page.Aceleracion_entradilla}}</p>

							<div class="row">
								<div class="col-sm-4">
									<h3>1. {{page.Formacion}}</h3>
								</div>
							</div>
							<div class="row inner-left-sm">
								{% include entradillas/formacion_cuerpo.html %}
							</div>

							<div class="row">
								<div class="col-sm-12 inner-top-xs">
									<h3>2. Mentoring</h3>
								</div>
							</div>
							<div class="row inner-left-sm">
								<div class="col-sm-12">
									{% include entradillas/mentoring.html %}
								</div>
							</div>
							<div class="row inner-left-sm">
								<div class="col-sm-10 col-sm-offset-1">
									<a href="#talent-impact" class="scroll"><img src="{{page.grafica_mentoring}}" alt="Gráfica de mentoring"  class="img-responsive" ></a>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-inversores">
							<div class="row">
								<div class="col-sm-7">
									<h2>{{page.FinanciacionExtendida}}</h2>
									{% include entradillas/inversores.html %}

								</div>
								<div class="col-sm-5">
									<p class="text-center"><img src="{{page.grafica_inversores}}" alt="Inversores"  class="img-responsive" ></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="accordion2" class="panel-group visible-xs">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#acc-requisitos">
							<span><i class="icon-ok"></i> {{page.Requisitos}}</span>
						</a>
					</h4>
				</div>
				<div id="acc-requisitos" class="panel-collapse collapse in">
					<div class="panel-body text-small">
						{% include entradillas/requisitos.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-seleccion">
							<span><i class="icon-flow-tree"></i> {{page.Seleccion}}</span>
						</a>
					</h4>
				</div>
				<div id="acc-seleccion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/seleccion.html %}
					</div>
				</div>
			</div><!-- /.panel -->


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-financiacion">
							<span><i class="icon-money"></i> {{page.Financiacion}}</span>
						</a>
					</h4>
				</div>
				<div id="acc-financiacion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/financiacion.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-formacion">
							<span><i class="icon-gauge"></i> {{page.Aceleracion}}</span>
						</a>
					</h4>
				</div>
				<div id="acc-formacion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						<p>{{page.Aceleracion_entradilla}}</p>
						<h4>{{page.Formacion}}</h4>
						{% include entradillas/formacion.html %}
						<h4>Mentoring</h4>
						{% include entradillas/mentoring.html %}
					</div>
				</div>
			</div><!-- /.panel -->


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-inversores">
							<span><i class="icon-users"></i> {{page.Inversores}}</span>
						</a>
					</h4>
				</div>
				<div id="acc-inversores" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/inversores.html %}
					</div>
				</div>
			</div><!-- /.panel -->
		</div>

	</div>
</section>
