<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Como funciona</strong> IMPACT</h1>
		</header>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-requisitos"><div><i class="icon-ok"></i></div>Requisitos</a></li>
						<li class="tab"><a href="#tab-seleccion"><div><i class="icon-flow-tree"></i></div>Selección</a></li>
						<!--li class="tab"><a href="#tab-3"><div><i class="icon-gauge-1"></i></div>Aceleración</a></li-->
						<li class="tab"><a href="#tab-financiacion"><div><i class="icon-money"></i></div>Financiación</a></li>
						<li class="tab"><a href="#tab-formacion"><div><i class="icon-book-1"></i></div>Formación</a></li>
						<li class="tab"><a href="#tab-mentoring"><div><i class="icon-compass"></i></div>Mentoring</a></li>
						<li class="tab"><a href="#tab-inversores"><div><i class="icon-users"></i></div>Inversores</a></li>
					</ul>

					<div class="container panel-container">
						<div class="tab-content" id="tab-requisitos">
							<div class="row">
								<div class="col-sm-8">
									<p>
										Emprendedores digitales, start-ups o PYMES establecidas en <strong>Europa</strong> o al menos con <strong>su equipo directivo</strong> en Europa, en las que <strong>Mobile</strong><sup>*</sup> es clave en su modelo de negocio y utilicen las <strong>tecnologías FI</strong>.
									</p>
									<p class="text-center"><img src="/img/diapos/requisitos/mapa.png" alt="Sede en Europa y Mobile"></p>

								</div>
								<div class="col-sm-4 well">
									<p class="text-small">
										<strong>* Mobile</strong>: Aplicaciones móviles o modelos de negocio basados en movilidad, relacionados con: comunicación, social, vídeo, medios & publicidad, diseño, educación, entretenimiento, comercio electrónico, hardware móvil, contenidos, TV conectada, infraestructuras y seguridad.
									</p>
								</div>
							</div>
							<div class="row inner-top-xs">
								<div class="col-sm-6">
									<p class="text-large">
										<strong>Todos los proyectos que puedan ubicarse entre:</strong>
									</p>
									<p class="text-center"><img src="/img/diapos/requisitos/grafica.png" class="img-responsive" alt="Gráfica ubicación de proyectos"></p>

								</div>
								<div class="col-sm-1"><p class="text-center"><img src="/img/diapos/requisitos/mas.gif" alt="+"></p></div>
								<div class="col-sm-5">
									<p class="text-large">
										<strong>Aquellos seleccionados se comprometan a:</strong>

										<ul class="lista-requisitos text-large">
											<li><i class="icon-ok-circle"></i> Utilizar <strong><a href="#">tecnologías FI</a></strong></li>
											<li><i class="icon-ok-circle"></i> Seguir el Programa de Aceleración Impact durante <strong>6 meses</strong></li>
										</ul>

									</p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-seleccion">
							<div class="row">
								<div class="col-sm-12">
									<p>
										Se desarrollarán 3 fases de selección. Cada fase se inicia con una <strong>Convocatoria Pública (Open Call)</strong> a nivel europeo.
									</p>
									<ol>
										 <li><p>Los candidatos presentarán sus proyectos a través de la plataforma online Funding Box. Aquellos que cumplan con los standards solicitados pasarán a la siguiente fase de Selección.</p></li>
										 	<li><p>En fase 2 los proyectos serán valorados por un Panel de Expertos Independiente. Los mejor puntuados presentarán su proyecto delante de un jurado (Jury Day).</p></li>
										 	<li><p>Por último, el Comité de Selección definirá en el Jury Day a las startups finalistas para comenzar al Programa de Aceleración.</p></li>
									</ol>
									<p class="text-center"><img src="/img/diapos/seleccion/grafico.png" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></p>
								</div>
							</div>
						</div>

						<!--div class="tab-content" id="tab-3">
							<figure>
								<img src="/img/diapos/diapositiva.aceleracion.png" class="img-responsive" alt="Diapositiva">
							</figure>
						</div-->

						<div class="tab-content" id="tab-financiacion">
							<div class="row">
								<div class="col-sm-12">
									<p>
										El dinero se desembolsará en 3 tramos a lo largo del proceso de aceleración, y en función del cumplimiento de unos hitos de negocio marcados por los emprendedores y sus mentores.
									</p>
									<p class="text-center"><img src="/img/diapos/financiacion/grafico.png" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-formacion">
							<div class="row inner-top-xs">
								<div class="col-sm-4">
									<div>
										<h2>50 horas de clases presenciales</h2>
										<ul class="circled">
											<li>del concepto al prototipo</li>
											<li>tecnología</li>
											<li>ventas y marketing digital</li>
											<li>creación de empresa</li>
											<li>financiación y exit</li>
										</ul>
									</div>
									<div class="inner-top-xs">
										<h2>Start-up exercises</h2>
										<p>
											Ejercicios prácticos que pondrán los mentores a las start-ups para evaluar su continuidad en el proceso de aceleración.
										</p>
									</div>
								</div>
								<div class="col-sm-4">
									<p class="text-center">
										<img src="/img/diapos/formacion/grafico.gif"  class="img-responsive" alt="programa de formación">
									</p>
								</div>
								<div class="col-sm-4">
									<div>
										<h2>E-Learning</h2>
										<p>
											3 cursos de e-learning técnicos sobre especialidades digitales a elegir entre un portfolio de 10 opciones.
										</p>
									</div>
									<div class="inner-top">
										<h2>Entrepreneur talks</h2>
										<p>
											Emprendedores de éxito darán charlas, expondrán dificultadas e intercambiarán consejos con los proyectos acelerados.
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-mentoring">
							<div class="row">
								<div class="col-sm-12">
									<p>
										Plan de Mentorización Matricial: Las startups seleccionadas seguirán un proceso de mentorización a lo largo de 6 meses con el objetivo de cumplir los Hitos y llevar a la star-tup al siguiente nivel.
										<ul class="circled">
											<li>Mentor de Follow Up: profesionales con perfil multifuncional y fundadores de startups, cuyo objetivo es guiar a la startup de manera holística a través de los entregables de cada hito a lo largo del proceso de aceleración.</li>
											<li>Mentores Especialistas bajo demanda: profesionales con perfil específico a disposición de las startups para tratar temas especializados.</li>
										</ul>
									</p>
									<p class="text-center"><a href="#talent-impact" class="scroll"><img src="/img/diapos/mentoring/grafico.png" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></a></p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-inversores">
							<div class="row">
								<div class="col-sm-7">
									<p>
										Impact organizará eventos, competencias de pitching, sesiones de networking y demo days con Inversores Europeos de primer nivel para aquellas start-ups que terminen el proceso de Aceleración en la llamada Fase de Financiación Extendida.
									</p>
									<p>
										En esta Fase el consorcio IMPACT podrá invertir hasta 250.000€ en start-ups escogidas con un 25% de descuento acordado en el grant agreement.
									</p>
									<p>
										Además de las oportunidades de inversión, estos eventos serán una fuente de exposición mediática para los emprendedores y sus proyectos.
									</p>
								</div>
								<div class="col-sm-5">
									<p class="text-center"><img src="/img/diapos/inversores/grafico.gif" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
