<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Como funciona</strong> IMPACT</h1>
		</header>
		<div class="row hidden-xs">
			<div class="col-xs-12 tabs-out">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-requisitos"><div><i class="icon-ok"></i></div>Requisitos</a></li>
						<li class="tab"><a href="#tab-seleccion"><div><i class="icon-flow-tree"></i></div>Selección</a></li>
						<li class="tab"><a href="#tab-financiacion"><div><i class="icon-money"></i></div>Financiación</a></li>
						<li class="tab"><a href="#tab-formacion"><div><i class="icon-gauge"></i></div>Aceleración</a></li>
						<li class="tab"><a href="#tab-inversores"><div><i class="icon-users"></i></div>Inversores</a></li>
					</ul>

					<div class="container panel-container">
						<div class="tab-content" id="tab-requisitos">
							<div class="row">
								<div class="col-sm-8">
									<h2>Requisitos</h2>
									{% include entradillas/requisitos.html %}
									<p class="text-center"><img src="/img/diapos/requisitos/mapa.png" alt="Sede en Europa y Mobile"></p>

								</div>
								<div class="col-sm-4 well">
									<p class="text-small">
										<strong>* Mobile</strong>: Aplicaciones móviles o modelos de negocio basados en movilidad, relacionados con: comunicación, social, vídeo, medios & publicidad, diseño, educación, entretenimiento, comercio electrónico, hardware móvil, contenidos, TV conectada, infraestructuras y seguridad.
									</p>
								</div>
							</div>
							<div class="row inner-top-xs">
								<div class="col-sm-6">
									<p class="text-large text-center">
										<strong>Proyectos que estén en las siguientes fases:</strong>
									</p>
									<p class="text-center"><img src="/img/diapos/requisitos/grafica.png" class="img-responsive" alt="Gráfica ubicación de proyectos"></p>

								</div>
								<div class="col-sm-1"><p class="text-center"><img src="/img/diapos/requisitos/mas.gif" alt="+"></p></div>
								<div class="col-sm-5">
									<p class="text-large">
										<strong>Aquellos seleccionados se comprometan a:</strong>

										<ul class="lista-requisitos text-large">
											<li><i class="icon-ok-circle"></i> Utilizar <strong>tecnologías FI</strong>: <a href="http://www.fi-ware.org/">FI-Ware</a> y/o <a href="http://mediafi.org/">FI-Content</a></li>
											<li><i class="icon-ok-circle"></i> Seguir el Programa de Aceleración Impact durante <strong>6 meses</strong></li>
										</ul>

									</p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-seleccion">
							<h2>Proceso de selección</h2>

							<div class="row">
								<div class="col-sm-4">
									<p class="text-center"><img src="/img/diapos/seleccion/grafico.png" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></p>
								</div>
								<div class="col-sm-7">
									{% include entradillas/seleccion.html %}
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-financiacion">
							<div class="row">
								<div class="col-sm-12">
									<h2>Fases de financiación</h2>
									{% include entradillas/financiacion.html %}

									<p class="text-center"><img src="/img/diapos/financiacion/grafico.png" alt="Se desarrollarán 3 fases de selección."  class="img-responsive" ></p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-formacion">
							<h2>Aceleración</h2>
							<p>El proceso de aceleración está basado en dos módulos: Formación y Mentoring.</p>

							<div class="row">
								<div class="col-sm-4">
									<h3>1. Formación</h3>
								</div>
							</div>
							<div class="row inner-left-sm">
								<div class="col-sm-4">
									<div>
										<h4>A. 50 horas de clases presenciales</h4>
										<ul class="circled">
											<li>del concepto al prototipo</li>
											<li>tecnología</li>
											<li>ventas y marketing digital</li>
											<li>creación de empresa</li>
											<li>financiación y exit</li>
										</ul>
									</div>
									<div class="inner-top-xs">
										<h4>D. Start-up exercises</h4>
										<p>
											Ejercicios prácticos que pondrán los mentores a las start-ups para evaluar su continuidad en el proceso de aceleración.
										</p>
									</div>
								</div>
								<div class="col-sm-4">
									<p class="text-center">
										<img src="/img/diapos/formacion/grafica.png"  class="img-responsive" alt="programa de formación">
									</p>
								</div>
								<div class="col-sm-4">
									<div>
										<h4>B. E-Learning</h4>
										<p>
											3 cursos de e-learning técnicos sobre especialidades digitales a elegir entre un portfolio de 10 opciones.
										</p>
									</div>
									<div class="inner-top">
										<h4>C. Entrepreneur talks</h4>
										<p>
											Emprendedores de éxito darán charlas, expondrán dificultadas e intercambiarán consejos con los proyectos acelerados.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 inner-top-xs">
									<h3>2. Mentoring</h3>
								</div>
							</div>
							<div class="row inner-left-sm">
								<div class="col-sm-12">
									{% include entradillas/mentoring.html %}

									<p class="text-center"><a href="#talent-impact" class="scroll"><img src="/img/diapos/mentoring/grafico.png" alt="Gráfica de mentoring"  class="img-responsive" ></a></p>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-inversores">
							<div class="row">
								<div class="col-sm-7">
									<h2>Fase de inversión extendida</h2>
									{% include entradillas/inversores.html %}

								</div>
								<div class="col-sm-5">
									<p class="text-center"><img src="/img/diapos/inversores/grafica.png" alt="Inversores"  class="img-responsive" ></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="accordion2" class="panel-group visible-xs">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#acc-requisitos">
							<span><i class="icon-ok"></i> Requisitos</span>
						</a>
					</h4>
				</div>
				<div id="acc-requisitos" class="panel-collapse collapse in">
					<div class="panel-body text-small">
						{% include entradillas/requisitos.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-seleccion">
							<span><i class="icon-flow-tree"></i> Selección</span>
						</a>
					</h4>
				</div>
				<div id="acc-seleccion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/seleccion.html %}
					</div>
				</div>
			</div><!-- /.panel -->


			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-financiacion">
							<span><i class="icon-money"></i> Financiación</span>
						</a>
					</h4>
				</div>
				<div id="acc-financiacion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/financiacion.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-formacion">
							<span><i class="icon-book-1"></i> Formación</span>
						</a>
					</h4>
				</div>
				<div id="acc-formacion" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/formacion.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-mentoring">
							<span><i class="icon-compass"></i> Mentoring</span>
						</a>
					</h4>
				</div>
				<div id="acc-mentoring" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/mentoring.html %}
					</div>
				</div>
			</div><!-- /.panel -->

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#acc-inversores">
							<span><i class="icon-users"></i> Inversores</span>
						</a>
					</h4>
				</div>
				<div id="acc-inversores" class="panel-collapse collapse">
					<div class="panel-body text-small">
						{% include entradillas/inversores.html %}
					</div>
				</div>
			</div><!-- /.panel -->
		</div>

	</div>
</section>
