<section id="talent-impact" class="arrow-bottom dark-bg">
	<div class="inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">{{ page.titulo_equipo }}</h1>
		</header>
		<div class="row thumbs no-gap">

			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Nacho de Pinedo</h2>
								<p class="cargo">CEO de ISDI</p>
								<p>{{page.comite_direccion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/nachodepinedo" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/NachodePinedo" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div><!-- /.text-overlay -->
						<img src="/img/equipo/nacho.pinedo.jpg" class="img-responsive" alt="Nacho de Pinedo">
					</div>
				</figure>
			</div><!--/.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Rodrigo Miranda</h2>
								<p class="cargo">Director General de internetAcademi</p>
								<p>{{page.comite_direccion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/rodrigomiranda" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/Rmiranda" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/rodrigo.miranda.jpg" class="img-responsive" alt="Rodrigo Miranda">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Michael Klindel</h2>
								<p class="cargo">Founder & Partner Seaya</p>

								<p>{{page.comite_direccion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/michaelkleindl" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/michael_kleindl" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/michael.kleindl.jpg" class="img-responsive" alt="Michael Klindel">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Beatriz González</h2>
								<p class="cargo">Founder & Partner Seaya</p>

								<p>{{page.comite_direccion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/pub/beatriz-gonzalez/b/a3a/aa5" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									{% comment %}<li><a href="#" target="_blank"><i class="icon-s-twitter"></i></a></li>{% endcomment %}
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/beatriz.gonzalez.png" class="img-responsive" alt="Beatriz González">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Simona Torre</h2>
								<p class="cargo">B-ventures Manager</p>

								<p>{{page.comite_direccion}}</p>

								<ul class="social">
									<li><a href="http://it.linkedin.com/pub/simona-torre/0/617/317" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									{% comment %}<li><a href="#" target="_blank"><i class="icon-s-twitter"></i></a></li>{% endcomment %}
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/Simona.torre.jpg" class="img-responsive" alt="Simona Torre">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Fernando González Mesones</h2>
								<p class="cargo">CEO BuonGiorno</p>

								<p>{{page.comite_direccion}}</p>

								<ul class="social">
									<li><a href="http://es.linkedin.com/pub/fernando-gonzález-mesones/3/166/3b4" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/fgmesones" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/fernando.gonzalo.jpg" class="img-responsive" alt="Fernando González Mesones">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Sanyu Karani</h2>
								<p class="cargo">CEO Econet</p>
								<p>{{page.comite_direccion}}</p>

								<ul class="social">
									<li><a href="https://www.linkedin.com/in/sanyukarani" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/SanyuKarani" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/Sanyu_karani.jpg" class="img-responsive" alt="Sanyu Karani">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member consejo_asesor">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Carina Szpilka</h2>
								<p>{{page.consejo_asesor}}</p>

								<ul class="social">
									<li><a href="http://es.linkedin.com/in/carinaszpilka/en" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/carinaszpilka" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/carina.szpilka.jpg" class="img-responsive" alt="Carina Szpilka">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member consejo_asesor">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Didac Lee</h2>
								<p>{{page.consejo_asesor}}</p>

								<ul class="social">
									<li><a href="http://es.linkedin.com/in/didaclee" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/DidacLee" target="_blank"><i class="icon-s-twitter"></i></a></li>

								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/didac.lee.jpg" class="img-responsive" alt="Didac Lee">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member consejo_asesor">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Francois Derbaix</h2>
								<p>{{page.consejo_asesor}}</p>

								<ul class="social">
									<li><a href="http://es.linkedin.com/in/fderbaix" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/fderbaix" target="_blank"><i class="icon-s-twitter"></i></a></li>
									<li><a href="http://francoisderbaix.com" target="_blank"><i class="icon-vkontakte"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/francoix.derbaix.jpg" class="img-responsive" alt="Francois Derbai">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Steve Cadigan</h2>
								<p>{{page.cargo_mentores}}</p>

								<ul class="social">
									<li><a href="http://www.linkedin.com/in/cadigan" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/scadigan" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/steve.cadigan.jpg" class="img-responsive" alt="Steve Cadigan">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Gustavo García Brusilowski</h2>
								<p>{{page.cargo_mentores}}</p>

								<ul class="social">
									<li><a href="http://es.linkedin.com/in/gustavogarciabrusilovsky" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									{% comment%}<li><a href="#" target="_blank"><i class="icon-s-twitter"></i></a></li> {% endcomment%}
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/gustavo.garcia.jpg" class="img-responsive" alt="Gustavo García Brusilowski">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Pedro Jareño</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/pedroja" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/pedrojareno" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div><!-- /.text-overlay -->
						<img src="/img/equipo/pedro.jareno.jpg" class="img-responsive" alt="Pedro Jareño">
					</div>
				</figure>
			</div><!--/.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Inma Martínez</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/in/inmamartinez" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/inma_martinez" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/inmaculada.martinez.jpg" class="img-responsive" alt="Inma Martínez">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Aquilino Peña</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/aquilinopena" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/Aquilino" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/aquilino.jpg" class="img-responsive" alt="Aquilino Peña">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Ventura Barba</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/venturabarba" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/venturabarba" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/ventura.barba.jpg" class="img-responsive" alt="Ventura Barba">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Arnaldo Muñoz</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/pub/arnaldo-mu%C3%B1oz/1/752/958" target="_blank"><i class="icon-s-linkedin"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/arnaldo.munoz.jpg" class="img-responsive" alt="Arnaldo Muñoz">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Luis Ferrandiz</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/in/luisferrandiz" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/LFMAG" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/luis.ferrandiz.jpg" class="img-responsive" alt="Luis Ferrandiz">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Miguel Angel Díez Ferreira</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/in/ferrenet" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/ferrenet" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/miguelangel.diaz.jpg" class="img-responsive" alt="Miguel Angel Díez Ferreira">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Noelia Fernandez</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/in/noeliafernandez" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/noe_cherokee" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/noelia.fernandez.jpg" class="img-responsive" alt="Noelia Fernandez">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member cargo_mentores">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Alberto Benbunan</h2>
								<p>{{page.cargo_mentores}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/abenbunan" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/betobetico" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/alberto.benbunam.jpg" class="img-responsive" alt="Alberto Benbunan">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member coordinacion">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Sebastián Muller</h2>
								<p>{{page.cargo_coordinacion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/sebastianmuller" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/sebmuller" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/sebastian.muller.jpg" class="img-responsive" alt="Sebastián Muller">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member coordinacion">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Daniel Twal</h2>
								<p>{{page.cargo_coordinacion}}</p>
								<ul class="social">
									<li><a href="https://www.linkedin.com/in/danieltwal" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/DanielTwal" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/daniel.twal.jpg" class="img-responsive" alt="Daniel Twal">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member coordinacion">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h3">Marcelo Royán</h2>
								<p>{{page.cargo_coordinacion}}</p>
								<ul class="social">
									<li><a href="http://es.linkedin.com/in/marceloroyan" target="_blank"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="https://twitter.com/marceloroyan" target="_blank"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="/img/equipo/marcelo.royan.jpg" class="img-responsive" alt="Marcelo Royán">
					</div>
				</figure>
			</div><!-- /.thumb -->
		</div>
	</div>
</section>
