<section id="hot-news" class="light-bg">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">Hot <strong>News</strong></h1>
		</header>

		<div class="row">
				{% comment %}

			<div class="col-md-3 col-md-push-8">
				<figure><img src="http://lorempixel.com/410/308/business/10/" alt=""></figure>
			</div>
				{% endcomment %}



			<div class="col-md-6 col-md-offset-3">

				{% if {{page.lang}} == 'es' %}
					<h2 class="h2">Lanzamos Impact</h2>
					<p>
						Madrid, 16 Julio. Hoy, conferencia de prensa. Puedes seguirnos en nuestras redes sociales: <a href="https://twitter.com/IMPACT_acc" target="_blank">@impact_acc en twitter</a> y <a href="https://www.linkedin.com/company/impact-accelerator" target="_blank">Linkedin</a>.
					</p>
				{% else %}
					<h2 class="h2">Impact is officially out</h2>
					<p>
						Madrid, July 16. Today we have a press conference. follow us:: <a href="https://twitter.com/IMPACT_acc" target="_blank">@impact_acc in twitter</a> and <a href="https://www.linkedin.com/company/impact-accelerator" target="_blank">Linkedin</a>.
					</p>
				{% endif %}

				{% comment %}
				<p>

					<a href="#">Descargar nota de prensa <i class="icon-download-1"></i></a>
				</p>
				{% endcomment %}
			</div>
		</div>
		{% comment %}
		<div class="row inner-top">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="h2">Storify IMPACT</h2>
				<div class="storify"><iframe src="//storify.com/IMPACT_acc/impact/embed?header=false&border=false" width="100%" height="400" frameborder=no allowtransparency=true></iframe><script src="//storify.com/IMPACT_acc/impact.js?header=false&border=false"></script><noscript>[<a href="//storify.com/IMPACT_acc/impact" target="_blank">View the story "IMPACT" on Storify</a>]</noscript></div>
			</div>
		</div>
		{% endcomment %}


	</div>

</section>


