<section id="hot-news" class="light-bg">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">Hot <strong>News</strong></h1>
		</header>

		<div class="row">
			<div class="col-md-3 col-md-push-8">
				<figure><img src="http://lorempixel.com/410/308/business/10/" alt=""></figure>
			</div>
			<div class="col-md-7 col-md-pull-3 col-md-offset-1">
				<h2 class="h2">Presentado IMPACT</h2>
				<p>
					Madrid, 16 Julio. Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.
				</p>
				<p>
					Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.
					<br>
					<a href="#">Descargar nota de prensa <i class="icon-download-1"></i></a>
				</p>
			</div>
		</div>

		<div class="row inner-top">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="h2">Storify IMPACT</h2>
				<div class="storify"><iframe src="//storify.com/IMPACT_acc/impact/embed?header=false&border=false" width="100%" height="400" frameborder=no allowtransparency=true></iframe><script src="//storify.com/IMPACT_acc/impact.js?header=false&border=false"></script><noscript>[<a href="//storify.com/IMPACT_acc/impact" target="_blank">View the story "IMPACT" on Storify</a>]</noscript></div>
			</div>
		</div>


	</div>

</section>


