<section id="hot-news" class="light-bg">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">Hot <strong>News</strong></h1>
		</header>
		<div class="tabs tabs-side tab-container">
			<ul class="etabs">
				{% for post in site.categories.news  %}
				  {% if post.lang == page.lang %}
							<li class="tab"><a href="#tab-{{ forloop.index }}">{{ post.title }}</a></li>
		      {% endif %}
		    {% endfor %}
			</ul>

			<div class="panel-container">
				{% for post in site.categories.news  %}
				  {% if post.lang == page.lang %}
						<div class="tab-content" id="tab-{{ forloop.index }}">
							<div class="row">
								{% if post.image %}				
									<div class="col-md-6 col-md-push-6 inner-left-xs">
										<figure><img src="{{ post.image }}" alt="{{ post.title }}"></figure>
									</div>
									<div class="col-md-6 col-md-pull-6 inner-right-xs">
										<h2 class="h2">{{ post.title }}</h2>
										{{ post.date | date: "%b %-d, %Y" }}
										<p>{{ post.content }}</p>
									</div>
								{% else %} 

									<div class="col-md-12 inner-right-xs">
										<h2 class="h2">{{ post.title }}</h2>
										{{ post.date | date: "%b %-d, %Y" }}
										<p>{{ post.content }}</p>
									</div>
								{% endif %}
							</div>
						</div>
		      {% endif %}
		    {% endfor %}
			</div>
		</div>

		<div class="row inner-top">
			<div class="col-md-10 col-md-offset-1">
				<h2 class="h2">Storify IMPACT</h2>
				<div class="storify"><iframe src="//storify.com/IMPACT_acc/nace-impact/embed?header=false&border=false" width="100%" height=750 frameborder=no allowtransparency=true></iframe><script src="//storify.com/IMPACT_acc/nace-impact.js?header=false&border=false"></script><noscript>[<a href="//storify.com/IMPACT_acc/nace-impact" target="_blank">View the story "NACE IMPACT" on Storify</a>]</noscript></div>
			</div>
		</div>
	</div>
</section>
