<section id="hot-news" class="arrow-bottom light-bg ">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">Hot <strong>News</strong></h1>
		</header>
		<div class="tabs tabs-side tab-container">
			<ul class="etabs">
				<li class="tab"><a href="#tab-1">Presentado el Hackathon de Julio</a></li>
				<li class="tab"><a href="#tab-2">Otro evento anterior al de arriba</a></li>
				<li class="tab"><a href="#tab-3">Presentado el Hackathon de Julio</a></li>
				<li class="tab"><a href="#tab-4">Presentado el Hackathon de Julio</a></li>
			</ul>
			<div class="panel-container">
				<div class="tab-content" id="tab-1">
					<div class="row">
						<div class="col-md-6 col-md-push-6 inner-left-xs">
							<figure><img src="http://lorempixel.com/410/308/business/10/" alt=""></figure>
						</div>
						<div class="col-md-6 col-md-pull-6 inner-right-xs">
							<h2 class="h2">Presentado el Hackathon de Julio</h2>
							<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.</p>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="row">
						<div class="col-md-6 col-md-push-6 inner-left-xs">
							<figure><img src="http://lorempixel.com/410/308/business/9/" alt=""></figure>
						</div>
						<div class="col-md-6 col-md-pull-6 inner-right-xs">
							<h2 class="h2">Otro evento anterior al de arriba</h2>
							<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.</p>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="row">
						<div class="col-md-6 col-md-push-6 inner-left-xs">
							<figure><img src="http://lorempixel.com/410/308/business/8/" alt=""></figure>
						</div>
						<div class="col-md-6 col-md-pull-6 inner-right-xs">
							<h2 class="h2">Presentado el Hackathon de Julio</h2>
							<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.</p>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-4">
					<div class="row">
						<div class="col-md-6 col-md-push-6 inner-left-xs">
							<figure><img src="http://lorempixel.com/410/308/business/7/" alt=""></figure>
						</div>
						<div class="col-md-6 col-md-pull-6 inner-right-xs">
							<h2 class="h2">Presentado el Hackathon de Julio</h2>
							<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus conecus iure posae volor.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
