<section id="call-to-action" class="arrow-bottom tint-bg text-center">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-md-10 col-sm-10 center-block">
				<header>
					<h1>{{page.Titulo_inscribe}}</h1>
					<p>{{page.Entradilla_inscribe}}</p>
				</header>
				<form class="form-inline" role="form" action="//impact-accelerator.us8.list-manage.com/subscribe/post?u=a03def41f5b2a1f95b10bb327&amp;id=7d63f15ba2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					<div class="form-group">
						<label class="sr-only" for="mce-EMAIL">Email</label>
						<input type="email" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="{{page.IntroduceEmail}}">
					</div>
					<button type="submit" class="gatrack btn btn-default btn-lg btn-primary" data-gacat="home" data-gaacc="subscribe" data-gaeti="newsletter">{{page.Enviar}}</button>
				</form>

				<footer class="text-normal inner-top-xs">
					{{page.O_Siguenos}}
						<ul class="social list-inline ">
							<li><a href="{{ site.data.variables.linkedin }}" target="_blank"><i class="icon-s-linkedin"></i></a></li>
							{% comment %}<li><a href="{{ site.data.variables.youtube }}" target="_blank"><i class="icon-s-youtube"></i></a></li>
							<li><a href="{{ site.data.variables.facebook }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
							<li><a href="{{ site.data.variables.gplus }}" target="_blank"><i class="icon-s-gplus"></i></a></li>{% endcomment %}
							<li><a href="{{ site.data.variables.twitter }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
			      </ul>

    		<footer>
			</div>
		</div>
	</div>
</section>
