<section id="call-to-action" class="arrow-bottom tint-bg text-center">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block">
				<header>
					<h1><strong>Suscríbete</strong></h1>
					<p>Déjanos tu correo y te mantendremos informado de las novedades, acciones que realizamos, cuando se abre el plazo, etc.</p>
				</header>
				<form class="form-inline" role="form">
					<div class="form-group">
						<label class="sr-only" for="InputEmail">Email</label>
						<input type="email" class="form-control input-lg" id="InputEmail" placeholder="Introduce tu email">
					</div>
					<button type="submit" class="btn btn-default btn-lg btn-primary">Enviar</button>
				</form>
			</div>
		</div>
	</div>
</section>
