<section id="spaces">
	<div class="container inner-top">
		<header class="text-center">
			<h1 class="single-block">Espacios de <strong>aceleración</strong></h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-md-10 col-md-offset-1">
				<p class="text-normal">
					La operación de IMPACT se desarrollará físicamente en la <strong>Sede de B-Ventures en Parma</strong> y en los Centros de Aceleración Digital de <strong>ISDI en Madrid y Barcelona</strong>, aunque no incluye el uso de espacio para las start-ups.
				</p>
				<p class="text-normal">
					En la Fase de Financiación Extendida, las start-ups seleccionadas por el consorcio que necesiten internacionalizarse contarán con los Sedes de BuonGiorno de 14 países, con un puente en Mexico DF a través del acuerdo de ISDI con StartupMexico, y conexión con Silicon Valley a través de 500 Startups y RocketSpace, participadas por Docomo Innovation Inc.
				</p>
				<p class="text-normal">
					IMPACT tiene también un acuerdo para el uso de las instalaciones de viveros y aceleradoras de la ciudad de Madrid a través de Madrid Emprende.
				</p>
{{ comment }}
<ul class="items col-4 gap " >
	<li class="item thumb" >
		<figure>

			<div class="icon-overlay icn-link">
				<a href="portfolio-post.html"><span class="icn-more"></span><img src="http://demo.fuviz.com/reen/v1-0-1/assets/images/art/work01.jpg" alt=""></a>
			</div><!-- /.icon-overlay -->

			<figcaption class="bordered no-top-border">
				<div class="info">
					<h4><a href="portfolio-post.html">Appscreen Dashboard</a></h4>
					<p>Interactive</p>
				</div><!-- /.info -->
			</figcaption>

		</figure>
	</li><!-- /.item -->

		<li class="item thumb" >
		<figure>

			<div class="icon-overlay icn-link">
				<a href="portfolio-post.html"><span class="icn-more"></span><img src="http://demo.fuviz.com/reen/v1-0-1/assets/images/art/work01.jpg" alt=""></a>
			</div><!-- /.icon-overlay -->

			<figcaption class="bordered no-top-border">
				<div class="info">
					<h4><a href="portfolio-post.html">Appscreen Dashboard</a></h4>
					<p>Interactive</p>
				</div><!-- /.info -->
			</figcaption>

		</figure>
	</li><!-- /.item -->
		<li class="item thumb" >
		<figure>

			<div class="icon-overlay icn-link">
				<a href="portfolio-post.html"><span class="icn-more"></span><img src="http://demo.fuviz.com/reen/v1-0-1/assets/images/art/work01.jpg" alt=""></a>
			</div><!-- /.icon-overlay -->

			<figcaption class="bordered no-top-border">
				<div class="info">
					<h4><a href="portfolio-post.html">Appscreen Dashboard</a></h4>
					<p>Interactive</p>
				</div><!-- /.info -->
			</figcaption>

		</figure>
	</li><!-- /.item -->
</ul>
{{ endcomment }}

			</div>

		</div>
	</div>
	{{ comment }}
	<div class="hidden-xs">
		<iframe width="100%" height="400"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=209848442351704431542.0004fdd2b164fb884d225&amp;ll=42.617119,3.312326&amp;spn=4.362788,14.027789&amp;t=m&amp;output=embed"></iframe>
	</div>
	{{ endcomment }}
</section>
