<section id="spaces" class="arrow-bottom">
	<div class="container inner-top">
		<header class="text-center">
			<h1 class="single-block">{{ page.titulo_espacios}}</h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-md-10 col-md-offset-1">
				{% include entradillas/espacios.html %}
			</div>
		</div>
		<div class="container-fluid">
			<div class="row inner-bottom-xs">
				<div class="col-md-4 item thumb inner-bottom-xs" >
					<figure>
							<a href="http://www.isdi.es"><img src="/img/sedes/isdi_madrid.jpg" alt="ISDI Madrid"></a>
						<figcaption class="bordered no-top-border">
							<div class="info">
								<h4><a href="http://www.isdi.es" target="_blank">ISDI Madrid</a></h4>
								<p>Calle Viriato, 20 - 28010 Madrid</p>
							</div>
						</figcaption>
					</figure>
				</div>

				<div class="col-md-4 item thumb inner-bottom-xs" >
					<figure>
							<a href="http://www.isdi.es"><img src="/img/sedes/isdi_barcelona.jpg" alt="ISDI Barcelona"></a>
						<figcaption class="bordered no-top-border">
							<div class="info">
								<h4><a href="http://www.isdi.es" target="_blank">ISDI Barcelona</a></h4>
								<p>Carrer Diputació 37, Interior 2A - 08015 Barcelona</p>
							</div>
						</figcaption>
					</figure>
				</div>

				<div class="col-md-4 item thumb" >
					<figure>
							<a href="http://www.buongiorno.com/"><img src="/img/sedes/bventures.jpg" alt="B-Ventures"></a>
						<figcaption class="bordered no-top-border">
							<div class="info">
								<h4><a href="http://www.buongiorno.com/" target="_blank">B-Ventures</a></h4>
								<p>Borgo Omero Masnovo, 2 - 43121 Parma</p>
							</div>
						</figcaption>
					</figure>
				</div>

			</div>
		</div>
	</div>
	{% comment %}
	<div class="hidden-xs">
		<iframe width="100%" height="400"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=209848442351704431542.0004fdd2b164fb884d225&amp;ll=42.617119,3.312326&amp;spn=4.362788,14.027789&amp;t=m&amp;output=embed"></iframe>
	</div>
	{% endcomment %}
</section>
