<section id="spaces">
	<div class="container inner-top">
		<header class="text-center">
			<h1 class="single-block">Espacios de <strong>aceleración</strong></h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-md-10 col-md-offset-1">
				<p class="text-normal">
					La operación de IMPACT se desarrollará físicamente en la Sede de B-Ventures en Parma y en los Centros de Aceleración Digital de ISDI en Madrid y Barcelona, aunque no incluye el uso de espacio para las startups. <br>

					En la Fase de Financiación Extendida, las startups seleccionadas por el consorcio que necesiten internacionalizarse contarán con los Sedes de BuonGiorno de 14 países, con un puente en Mexico DF a través del acuerdo de ISDI con StartupMexico, y conexión con Silicon Valley a través de 500 Startups y RocketSpace, participadas por Docomo Innovation Inc.<br>

					IMPACT tiene también un acuerdo para el uso de las instalaciones de viveros y aceleradoras de la ciudad de Madrid a través de Madrid Emprende.
				</p>
			</div>
		</div>
	</div>
	<div id="map"></div>

	<!--iframe src="https://mapsengine.google.com/map/embed?mid=zUpZHbJQlzV4.kljpWaeUiW9I" width="100%" height="300"></iframe-->


</section>
