<section id="talent-impact" class="dark-bg">
	<div class="inner inner-top-xs">
		<header class="text-center">
			<h1 class="single-block">Portfolio</h1>
		</header>
		
		<div class="inner-bottom-xs ">
			<form class="form-inline controls" id="Filters">
				  <fieldset class="form-group">
			        <label for="selectSector">{{ page.Sector }}: </label>
				    <select id="selectSector" class="form-control" >
				      <option value="">{{ page.All }}</option>
						<option value='.Adventure'>{{ page.Adventure }}</option>
						<option value='.Advertising'>{{ page.Advertising }}</option>

						
						<option value='.Analytics'>{{ page.Analytics }}</option>
						<option value='.BigData'>{{ page.BigData }}</option>
						<option value='.CloudProductivity'>{{ page.CloudProductivity }}</option>
						<option value='.Connectivity'>{{ page.Connectivity }}</option>
						<option value='.Content'>{{ page.Content }}</option>
						<option value='.Coupons'>{{ page.Coupons }}</option>
						<option value='.CRM'>{{ page.CRM }}</option>
						<option value='.Cryptocurrencies'>{{ page.Cryptocurrencies }}</option>
						<option value='.Design'>{{ page.Design }}</option>
						<option value='.Domotics'>{{ page.Domotics }}</option>
						<option value='.E-commerce'>{{ page.E-commerce }}</option>
						<option value='.E-health'>{{ page.E-health }}</option>
						<option value='.Education'>{{ page.Education }}</option>
						<option value='.Energy'>{{ page.Energy }}</option>
						<option value='.Events'>{{ page.Events }}</option>
						<option value='.Farmers'>{{ page.Farmers }}</option>
						<option value='.Fashion'>{{ page.Fashion }}</option>
						<option value='.Fintech'>{{ page.Fintech }}</option>
						<option value='.Fitness'>{{ page.Fitness }}</option>
						<option value='.Food'>{{ page.Food }}</option>

						
						<option value='.Football'>{{ page.Football }}</option>
						<option value='.Health'>{{ page.Health }}</option>
						<option value='.HumanResources'>{{ page.HumanResources }}</option>
						<option value='.Insurance'>{{ page.Insurance }}</option>
						<option value='.IoT'>{{ page.IoT }}</option>
						<option value='.Learning'>{{ page.Learning }}</option>
						<option value='.MediaSmartTv'>{{ page.MediaSmartTv }}</option>
						<option value='.Messaging'>{{ page.Messaging }}</option>

						
						<option value='.MobileTechnology'>{{ page.MobileTechnology }}</option>
						<option value='.Music'>{{ page.Music }}</option>
						<option value='.Payments'>{{ page.Payments }}</option>
						<option value='.Pictures'>{{ page.Pictures }}</option>
						<option value='.Productivity'>{{ page.Productivity }}</option>

						<option value='.Retail'>{{ page.Retail }}</option>
						<option value='.Sailing'>{{ page.Sailing }}</option>
						<option value='.Shareconomy'>{{ page.Shareconomy }}</option>

						
						<option value='.SmartCities'>{{ page.SmartCities }}</option>
						<option value='.SmartTV'>{{ page.SmartTV }}</option>

						<option value='.Science'>{{ page.Science }}</option>
						<option value='.Security'>{{ page.Security }}</option>
						<option value='.Social'>{{ page.Social }}</option>
						<option value='.Sports'>{{ page.Sports }}</option>

						
						<option value='.Telco'>{{ page.Telco }}</option>
						<option value='.Travel'>{{ page.Travel }}</option>
						<option value='.TTS'>{{ page.TTS }}</option>
						<option value='.VR'>{{ page.VR }}</option>

						
						<option value='.Weather'>{{ page.Weather }}</option>
				    </select>
				  </fieldset>
				<fieldset class="form-group">
			        <label for="selectType">{{ page.TypeOfBusiness }}: </label>

				    <select id="selectType" class="form-control" >
						<option value="">{{ page.All }}</option>
						<option value='.App '>{{ page.App  }}</option>
						<option value='.E-commerce'>{{ page.E-commerce }}</option>
						<option value='.Fremium'>{{ page.Fremium }}</option>
						<option value='.Marketplace'>{{ page.Marketplace }}</option>
						<option value='.SaaS'>{{ page.SaaS }}</option>
						<option value='.Service'>{{ page.Service }}</option>
						<option value='.Servicios'>{{ page.Servicios }}</option>
				    </select>
				  </fieldset>
				
				  <fieldset class="form-group">
			        <label for="selectBussiness">{{ page.BusinessModel }}: </label>
				    <select id="selectBussiness" class="form-control" >
						<option value="">{{ page.All }}</option>
						<option value=".B2C">B2C</option>
						<option value=".B2B">B2B</option>
						<option value=".B2B2C">B2B2C</option>
				    </select>
				  </fieldset>

	  		  	<fieldset class="form-group">
			        <label for="selectCountry">{{ page.Country }}: </label>
				    <select id="selectCountry" class="form-control" >
						<option value="">{{ page.All }}</option>
						<option value=".Croatia">Croatia</option>
						<option value=".Denmark">{{ page.Denmark }}</option>
						<option value=".Holland">{{ page.Holland }}</option>
						<option value=".Italy">{{ page.Italy }}</option>
						<option value=".Macedonia">Macedonia</option>
						<option value=".Poland">{{ page.Poland }}</option>
						<option value=".Spain">{{ page.Spain }}</option>
						<option value=".Slovenia">{{ page.Slovenia }}</option>
						<option value=".Switzerland">Switzerland</option>
						<option value=".Turkey">Turkey</option>
						<option value=".UK">{{ page.UK }}</option>
				    </select>
				  </fieldset>
			</form>	
		</div>

		<div id="container_mentores" class="row thumbs no-gap dark-bg inner-top-xs inner-bottom-xs">
			{% for post in site.categories.portfolio %}
				<div class="col-xs-6 col-sm-4 col-lg-2 thumb mix 
							{% for sector_item in post.sector %} {{ sector_item }} {% endfor %} 
							{% for bussiness_item in post.bussiness %} {{ bussiness_item }} {% endfor %}
							{% for country_item in post.country %} {{ country_item }} {% endfor %}
							{% for model_item in post.model %} {{ model_item }} {% endfor %}">
					<figure class="member member--portfolio">
						<div class="member-image">
							<div class="text-overlay">
								<div class="info">
									<a href="{{ post.web }}" target="_blank">
										{% comment %}<h2 class="h3">{{ post.title }}</h2>{% endcomment %}
										{% if page.lang == 'en' %}
											<p>{{ post.desc_en }}</p>
										{% endif %}
										{% if page.lang == 'es' %}
											<p>{{ post.desc }}</p>
										{% endif %}
										{% if page.lang == 'it' %}
											<p>{{ post.desc_it }}</p>
										{% endif %}
									</a>
								</div>
							</div>
							<img src="{{ post.image }}" class="img-circle img-responsive" alt="{{ post.title }}">
						</div>
					</figure>
				</div>
	    	{% endfor %}
		</div>
	</div>
</section>
