
<section class="faq">
  <div class="container inner-top-xs">
    <header class="text-center">
      <h1 class="single-block"><strong>FAQ</strong></h1>
      <h2>IMPACT 3rd OPEN CALL (2015 edition)</h2>
      <p>Closing date for proposals: <br> Thursday, 15th October 2015 at 15:00 (CET)</p>
    </header>
    <div class="row inner-bottom-xs">
      <div class="col-md-10 col-md-offset-1">
        <p class="single-line">
          We are grateful that you are interested in applying to the IMPACT Accelerator. The following information is intended to help you through the process, and solving queries on the IMPACT Open Call.
          
<br><br>
Please, read carefully our <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a> and the following FAQs. If you cannot find the answer to your question in these documents, please submit your question(s) to <a href="mailto:opencall@impact-accelerator.com">opencall@IMPACT-accelerator.com</a>. We will do our best to assist you! 


          <br><br>Finally a Technical Helpdesk service (<a href="mailto:info@fundingbox.com">info@fundingbox.com</a>) is also available if you encounter any technical problem when fill in the Application Form.
        </p>

        <div id="accordion1" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#content1">
                  <span>1. General Questions related with FI-PPP</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content1" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>1.1 What is FI-PPP</h3>
                  <p><a href="http://www.fi-ppp.eu/" target="nueva">The Future Internet Public Private Partnership (FI-PPP)</a> is a European programme for Internet-enabled innovation. The FI-PPP will accelerate the development and adoption of Future Internet technologies in Europe, advance the European market for smart infrastructures, and increase the effectiveness of business processes through the Internet. The FI-PPP is covering a wide scope of usage areas through a set of use case projects that make use of the FI-PPP core platform in setting up trials of advanced Future-Internet-based services and applications The core platform of the FI-PPP program is FIWARE technologies those realized by the FIWARE project. </p>

                  <h3>1.2 What is FIWARE?</h3>
                  <p><a href="http://www.fi-ware.org/" target="nueva">FIWARE</a> is an innovative, open cloud-based infrastructure for cost-effective creation and delivery of Future Internet applications and services. FIWARE API specifications are public and royalty-free, driven by the development of an open source reference implementation, which accelerates the availability of commercial products and services based on FIWARE technologies.</p>      
				  
				  <h3>1.3 Where can I find more information about FIWARE?</h3>
                  <p>FIWARE is a set of technologies that includes a cloud infrastructure and a framework of software and services that you need to use in your project in order to be considered for IMPACT accelerator participation. You shall integrate FIWARE modules (called &ldquo;enablers&rdquo;) in your application architecture in such a way that you can get the added value you need from FIWARE technology. From our point of view at IMPACT, the more enablers you include in your architecture, the better we will evaluate your proposal.</p>
					<p>FIWARE management offers many online resources that can be handy when you are preparing your application to the acceleration program:</p>
					<p>General advice regarding the description of use of FIWARE in your project and proposal: <a href="http://www.fi-ware.org/fiware-usage-questionnaire">http://www.fi-ware.org/fiware-usage-questionnaire</a></p>
					<p>FIWARE FAQ: <a href="http://wiki.fi-ware.org/FIWARE_Frequently_Asked_Questions_(FAQ)">http://wiki.fi-ware.org/FIWARE_Frequently_Asked_Questions_(FAQ)</a></p>
					<p>Contact and general support: <a href="http://www.fi-ware.org/contact-us/">http://www.fi-ware.org/contact-us/</a></p>
					<p>FIWARE is a big ecosystem, and for this reason I recommend that you take some time to research the software and architecture underneath before you send your application to the IMPACT program. There are many online resources which can help you in doing so, and my suggestion is that you begin with the following:</p>
					<p>Catalogue of FIWARE services: <a href="http://catalogue.fi-ware.org/">http://catalogue.fi-ware.org/</a></p>
					<p>e-learning platform: <a href="http://edu.fi-ware.org/">http://edu.fi-ware.org/</a></p>
					<p>IMPACT Webinars: <a href="http://www.impact-accelerator.com/%20">http://www.impact-accelerator.com/</a> (&ldquo;hot news&rdquo; area)</p>
              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion2" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#content2">
                  <span>2. General Questions related with IMPACT</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>2.1 What is IMPACT?</h3>
                  <p>The Internet Mobile ConTent (IMPACT) partnership and project contributes to the promotion and early adoption of <strong>FIWARE Technology</strong> by providing <strong>premium acceleration mentoring program </strong>  and distributing a total grant support of 6,4 M€ to around 64 European SMEs operating in <strong>the MOBILE INTERNET space</strong>.</p>

                  <h3>2.2 What is considered Mobile Content?</h3>
                  <p>Mobile content or technologies are mobile apps or business models based on mobility in the areas of communications, social, video, media & advertising; design, education, entertainment, ecommerce, peripheral devices, content, connected TV, infrastructure, security, productivity, finance, smart cities and social networks, among others.</p>
                  <p>It is important to highlight that to be considered a Mobile business it is not enough to transfer a website into a mobile site, the strategy of the business model must focus on mobility.</p>

                  <h3>2.3 Why should I participate in the IMPACT Open Call?</h3>
                  <p>First of all, because you have the possibility of receiving up to 100.000€ (in cash and services), without diluting equity. </p>
                  <p><strong>But it is not just for the money!!!</strong></p>
                  <p>You would be able to participate in a 6 months <strong>Premium Acceleration Service</strong>, led by key world class digital ecosystem professionals and entrepreneurs, which will offer you:</p>
                  <ul>
                    <li>Specialized <strong>training in Digital entrepreneurship</strong> and mobile content to give you the specific tools necessary to manage your Project or business and take it to the next level</li>
                    <li><strong>Ongoing mentorship at a high level</strong>,  providing you with continued support throughout the whole process</li>
                    <li>Support in finding additional complementary funding opportunities </li>
                    <li>A <strong>Demo Day</strong> where you will have direct contact with Business Angels and other first class global Funds.</li>
                  </ul>

                  <p><strong>Moreover, if you are accepted</strong> as a beneficiary you will have the added possibility of an Extended Investment Phase, which will give you fast track access to the Project Partners investment programs.</p>

                  <p>Therefore, if you want to learn and work with the most recognized professionals within the Mobile sector, with first class mentoring support and importantly real financial support, IMPACT is your program.</p>
              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion3" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#content3">
                  <span>3. General Questions related to IMPACT Open Call</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>3.1  Who can apply for the open call?</h3>
                  <p>
                    The IMPACT Open Call is open to two types of applicants:
                    <ul>
                      <li>
                        <strong>SMEs (legal persons)</strong> participating on their own (only one SME per application).</li>
                        <li><strong>Web Entrepreneurs (physical persons)</strong>, or individuals, participating in groups of minimum 2 members</li>
                    </ul>
                  </p>
                  <p>

                    As an applicant you shall be <strong>established</strong>, or at least your key management team, in any of the <strong>EU-28 countries</strong>  or a <strong>FP7 Associated countries</strong>.
                  </p>
                  <p>
                    Moreover, to be <strong>eligible</strong>, your proposals have to fully comply with the <strong>eligibility criteria</strong> indicated in the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>, which are:
                    <ul>
                      <li>The product or serviced must use FIWARE technologies </li>
                      <li>The scope of the project must be in the Mobile domain</li>
                    </ul>
                  </p>
                  <p>
                    In addition you should also take note of <strong>exclusion criteria</strong>, as described in the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>:
                    <ul>
                      <li>The same proposal must not be funded by more than one FIWARE Accelerator.  If the same proposal, or a very similar one, has been already funded by another accelerator, the proposal will be excluded from the IMPACT process.</li>
                      <li>Only one proposal per SME or individual can be submitted. If more than one proposal per SME or individual is identified, the proposal will be excluded from the process.</li>
                    </ul>
                  </p>

                    <h3>3.2 If we have a partnership with a large company for product development, does this make us ineligible?</h3>
                    <p>As you can see in the Guide for Applicants, Section 3, applicants must be:</p>
					<ul>
						<li>SMEs [legal person] participating on their own, only one SME (not a consortium of SMEs),</li>
						<li>Web Entrepreneurs [physical persons], participating in groups of at least two individual members.</li>
					</ul>
					<p>A product development partnership, focused on technical or technology collaboration, is not a limitation for application per se.</p>
					<p>Other kinds of partnership, e.g. business partnership or more specifically crossed share capital participations, with a large company should not breach EC RECOMMENDATION of 6 May 2003 concerning the definition of micro, small and medium-sized enterprises (notified under document number C(2003) 1422) (2003/361/EC).</p>
					<p>If the large company owns more than 25% of the SME&rsquo;s shareholders capital, this would most probably mean that the small daughter company could NOT be considered an SME.</p>

                    <h3>3.3 What type of projects are IMPACT looking for?</h3>
                    <p>If you meet the criteria described above and your project’s focus is on an innovative way to do business in the mobile domain using FIWARE technologies, you are welcome to submit your application.</p>

                    <p>The type of projects that IMPACT consortium are looking for are Projects with a working prototype available and at least two founders who work full time for the project, where the founders still own 51% of Shareholders’ Equity and with a target market launch date that is set in six months time or if the product is already present in the market, has been so for less than seven years.</p>
                    <p>All these elements are recommended, they are not mandatory. The more closely the Projects match these criteria, the more likely they are to be selected. 
                    </p>

					<h3>3.4&nbsp;Why is important to show project maturity?</h3>
					<p>Because IMPACT and FIWARE Initiative in general are looking for sustainable businesses, business that are able to develop new product or services, but also to transfer them to take them to the market and make a sustainable business with them.</p>
					
					<h3>3.5&nbsp;Proximity to the market can be supported with potential client&rsquo;s commitment letters?</h3>
					<p>If you have commitment letters, it is good to make it clear in one of the questions on Business Opportunity. You may add a link to an external resource where these letters can be screened by the reviewers. Keep in mind that reviewers may not have the time or opportunity to screen accurately these letters, so we suggest that you include the juicy details in the text of your answers. For instance, if you have a commitment letter from a famous large corporation, state their name in the text.</p>
					
					<h3>3.6 Why is important to show a Prototype?</h3>
					<p>Showing a prototype is important because it proves proximity to the market. At least more than those project not even having a prototype.</p>
					
					<h3>3.7&nbsp;What do you mean by prototype/demo?</h3>
					<p>A prototype would be any non-commercial but functional product or service.</p>
					
					<h3>3.8 How do you expect that prototypes to be presented in the application process?</h3>
					<p>Inside the online form there is a specific field to include a URL where Prototype can be checked online. Otherwise also the field for the Video on the online form can be a good alternative to show how a prototype works.</p>
					
					<h3>3.9 &nbsp;Can I apply if I&rsquo;m a single person?</h3>
					<p>An &ldquo;Individual&rdquo; can submit a proposal as indicated in the section 3.1 &lsquo;Type of beneficiaries&rsquo; within the &lsquo;Guide for Applicants&rsquo;.</p>
					<p>IMPACT looks for high potential start-ups and, in this sense; a consolidated team is one of the most important aspects of achieving success.</p>
					
					<h3>3.10&nbsp;Can one company submit 2 project ideas?</h3>
					<p>No, according to IMPACT Open Call eligibility criteria: Only one proposal per SME or individual can be submitted. If more than one proposal per SME or individual is identified by the IMPACT team all the proposals of the applicant will be discarded.</p>


                    <h3>3.11 Do we have to be constituted as SME?</h3>
                    <p>No, it’s not a requirement, because as indicated in Question 3.3 a group of at least 2 “individuals” can submit a Proposal. However, IMPACT is looking for consolidated projects, so although you can apply as a group of individuals, or as an SME in the  process of being constituted, if you are selected as a beneficiary, IMPACT project will ask you to form an SME as soon as possible.</p>

                    <h3>3.12 Do we have to be already selling or invoicing?</h3>
                    <p>It is not a requirement, but it would be positively evaluated, because one of the objectives of the Acceleration Process is that all of the beneficiaries will be able to sell their product or service in at the end of the 6 months of acceleration.   </p>

                    <h3>3.13 If we are in another Acceleration Program, can we apply to IMPACT? </h3>
                    <p>Yes as long as the Programs don’t overlap.  If you are selected, you will have to sign a Declaration confirming that you will not be participating in another Acceleration Program, once you start the IMPACT Program. </p>
					
					<h3>3.14 If we are in another FIWARE Acceleration Program, can we apply to IMPACT?</h3>
					<p>The same Proposer can be founded for two different Proposals from two different FIWARE programs.</p>
					<p>If a Proposer applying for a new Proposal have been already funded for a prior different Proposal by a FIWARE Accelerator, they can be asked to check that they are able to execute successfully two projects in parallel.</p>
					<p>And finally, the same Proposer should not be founded for a third different Proposal. FIWARE is not willing to fund a Proposer for more than two proposals.</p>

					<h3>3.15&nbsp;Is it possible for me to be eligible as IMPACT-participant with project A, while already being part of another FIWARE Accelerator with project B (while project A and B are not interrelated in any way)?</h3>
					<p>It is possible as far as the rest of the entrepreneurial team is different, project A and project B are different, and you yourself can properly justify your time commitment on both projects at the same time while bringing substantial value to project A. This said, if the Open Call Management Unit identifies an explicit intention to breach double funding restrictions, both proposals could potentially be declared ineligible for further funding.</p>

					<h3>3.16 What information should I include about the use of FIWARE in my application?</h3>
					<p>In your application you need to show a feasible architecture for your system, including some of the FIWARE Enablers. You can also include your current architecture if you like, along with the proposed one integrating FIWARE. Your project will be evaluated in the basis of this architecture, so it has to be consistent but does not need to be definitive, as it can then be subject of minor changes. If you are selected, you will have to send a final architecture proposal based on the one you propose in your application.</p>
					<p>Regarding the technology map needed for your application, a diagram showing the different components of your architecture and the connections and interactions between them, plus a reference to your technology stack (both front and back end) is fine. If you want you can add some textual explanation that clarifies both, and help the evaluators understanding your technology.</p>

					<h3>3.17 Can a startup already funded by IMPACT after the 1<sup>st</sup> and 2nd Open Call, submit a different proposal to IMPACT for the third call?</h3>
					<p>Yes, you can. Limitation for multiple submissions apply only within the same Open Call.</p>
					<p>Such a limitation aims to focus applicants in one single project during a certain period and to avoid dispersion of resources in several projects. As far as a project funded during the 1<sup>st</sup> and 2nd Open Call is already completed while starting the 3rd round of IMPACT Acceleration program this objective would be met.In any case this would be a second funding from FIWARE for the same beneficiary. As far as we were talking about different projects, it would be allowed: it would not be considered as a double funding.</p>
					<p>However, keep in mind that the same beneficiary cannot be granted funds more than twice by FIWARE Accelerators no matter on which projects. So if the beneficiaries have already been granted a proposal in any other FIWARE Accelerator, plus the one in IMPACT 1<sup>st</sup> and 2nd Call, then they would not be eligible for IMPACT 3rd Call.</p>

					<h3>3.18 Can we apply to IMPACT even if we do not manage to obtain our company registration number from the National Tax Authority by the closing date?</h3>
					<p>As indicated in another of our FAQs "Do we have to be constituted as SME?", you can apply to IMPACT, even if you don't manage to obtain your company registration before deadline. You do not need to be incorporated as SME in order to apply. As specified in Section 3.1 of the Guide for Applicants, an individual can submit a Proposal.</p>
					<p>Generally speaking, it would be recommended to incorporate because, the more consolidated the project idea is in legal terms, the higher score it will receive in the evaluation process. For this reason, if you have already incorporated your company and you only need the registration number, you can apply as SME. We will ask you the documentation to prove that you are a SME, once the evaluation process is finished and before starting the Acceleration Program, so well after the closing date for applications.</p>
					<p>In any case, although you can apply as a group of individuals or as SMEs in constitution process, if you are finally selected as beneficiary, IMPACT project will ask you to be incorporated as SME before the first milestone of the IMPACT Acceleration Program.</p>

                    <h3>3.19 How can I apply for the open call?</h3>
                    <p>You can apply for the call through the following link: <a href="http://www.fundingbox.com/IMPACT/apply" target="_blank">http://www.fundingbox.com/IMPACT/apply</a></p>

                    <h3>3.20 How long does it take to fill in an application?</h3>
                    <p>It shouldn’t take long. You only have to fill in the contest application form. Specific character limits have been established for each field.</p>
                    <p>An important aspect of your application is the technology that is used in your project as you will be required to upload a Technology Map (including FIWARE Technologies Use Plan) as part of your application.</p>
                    <p>We encourage you to keep your proposal as focused as possible concentrating on the specific information requests made.</p>

                    <h3>3.21 What type of support is available for preparing the proposal?</h3>
                    <p>The <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a> is the main reference document. It provides more details about the evaluation and selection processes the many requirements and the acceleration program offered by IMPACT.</p>
                    <p>Additionally a Open Call Helpdesk service (<a href="mailto:opencall@IMPACT-accelerator.com">opencall@IMPACT-accelerator.com</a>) is on hand to clear any doubts you may have relating to the application process (eligibility rules, Application Form information requests, etc)</p>

          <p>Finally a Technical Helpdesk service (<a href="mailto:info@fundingbox.com">info@fundingbox.com</a>) is also available if you encounter any technical problem when filling in the Application Form.</p>

                    <h3>3.22  What is the deadline for the application?</h3>
                    <p>The deadline for the third call is <strong>October 15th 2015 at 15:00 p.m (CET)</strong>. No application will be accepted after deadline. </p>

              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div><!-- /.accordion -->

        <div id="accordion4" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#content4">
                  <span>4. Questions related with IMPACT evaluation process
</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content4" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>4.1 What are the criteria for selecting the final beneficiaries?</h3>
                <p>The IMPACT selection process has been designed to be fair, fun and interesting for you.  Therefore we have designed a process in 3 phases.</p>
                <ul>
                  <li><strong>Phase 1</strong>. Projects will be presented through the Funding Box platform. After completing the online questionnaire, those who meet the eligibility criteria (see Question Nº 3.1) and are better aligned with the type of project (See Question Nº 3.2) that is being sought, will move to the next phase of selection.</li>
                  <li><strong>Phase 2</strong>. After that, each proposal will be evaluated by 2 independent experts who will assess different variables (Team, Business Model and Technology)</li>
                  <li><strong>Phase 3</strong>. Finally, the highest ranked proposals will participate in the Jury Day which will involve interviews by the Selection Committee that will then select the final beneficiaries.</li>
                </ul>
                <p>For more information about the evaluation process, consult the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>.</p>
                <h3>4.2 What kind of rewards and benefits will IMPACT offer to beneficiaries?</h3>
                <p>If you are selected by the IMPACT Selection Committee, you will receive:</p>
                <ul>
                  <li>An exclusive <strong>6 months Acceleration Program</strong> which will include: 90.000€ of <strong>Funding</strong>, to be delivered in instalments against the successful delivery of the specific deliverables detailed in the ’IMPACT Sub-grant Agreement’ signed with the IMPACT consortium.  In addition you will receive 10.000€ in Services Vouchers, that are to be used via the <strong>Premium Acceleration Program</strong> consisting in Training and Mentoring under the guidance of key world class digital ecosystem professionals and entrepreneurs.</li>
                  <li>An <strong>Extended Investment Phase</strong>, beyond the European Commission funding and therefore out of the IMPACT project, but which could be a very important step for the beneficiaries in terms of project sustainability. In this phase the project partners of IMPACT consortium will invite the most outstanding projects into their existing investment tracks.</li>
                </ul>

              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion5" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#content5">
                  <span>5. Questions related o IMPACT’s funding</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content5" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>5.1 Is there going to be an advanced payment to selected projects? </h3>
                <p>The IMPACT funding scheme is based on a series of payments against validation of deliverables established and forming part of the ‘IMPACT Sub-grant Agreement’. That means that payments will only be made upon receiving and validating the beneficiary’s previously agreed deliverables. Therefore, there is no advance payment.</p>
                <h3>5.2 When do the selected projects receive the funding? </h3>
                <p>The beneficiaries will receive the 90.000€ in cash in three stages:</p>
                <ul>
                  <li><strong>1st Stage (Month 0)</strong>: 25%, once the <em>’IMPACT sub-grant Agreement’</em> has been signed and the deliverables indicated are submitted and validated.</li>
                  <li><strong>2nd Stage (Month 3)</strong>: 50% once the criteria for this second stage have been completed and the deliverables submitted and validated.</li>
                  <li><strong>3rd Stage (Month 6)</strong>: 25% delivered in 2 instalments. First instalment of 10% at the end of the acceleration program, if all the objectives have been met, and the remaining 15% will be approved and the payment made when the IMPACT consortia receives the final payment from the European Commission.</li>
                </ul>
                <h3>5.3 How will IMPACT monitor the progress of the beneficiaries? </h3>
                <p>Each beneficiary will have their specific deliverables/objectives included in their <stong>’Individual Mentor Plan’</stong>, which will be developed in the ’Welcoming Week’ and will be attached, as a formal requirement for beneficiaries, within the <em>’IMPACT Sub-grant Agreements’</em>.</p>
                <p>The <em>’Follow Up Individual Mentor’</em> assigned to each beneficiary will be in charge of monitoring the progress of the objectives proposed and the <em>’Acceleration Program Committee'</em> will validate the deliverables submitted by each beneficiary indicating if they are able to pass to the next phase.</p>
                <p>For more information about the general deliverables/objectives assigned to each stage, consult the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>.</p>


              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion6" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#content6">
                  <span>6. Questions related to the IMPACT Acceleration Suite</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content6" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>6.1 Are all activities included in the Acceleration Program compulsory?</h3>
                <p>All activities included in the <em>‘Individual Mentoring Plan’</em> of each beneficiary are compulsory.</p>
                <h3>6.2 Are all projects required to go through the training process?</h3>
                <p>Yes, your project is UNIQUE and also your training needs.  The IMPACT team will help identify your needs and those of your team, providing the necessary tools and training that will ensure the experience is of maximum benefit to your Project.</p>
                <h3>6.3  Is it mandatory to move our business to Spain or Italy for the acceleration process? </h3>
                <p>No, it isn’t. Every beneficiary can operate in their home country. The mentoring is done remotely or in your country. </p>
                <p>You will however have to attend 3 events which will require your relocation for short periods of time, namely: for the Jury Day during the selection phase, and for the “Welcoming Week” and for the “Demo Day”, during the acceleration programme, if you are selected as beneficiary.</p>
                <h3>6.4 Does IMPACT offer co-working spaces for beneficiaries? </h3>
                <p>If you are interested, IMPACT through agreements with partner entities, can offer beneficiaries office spaces at attractive rates. Just ask the IMPACT team if you need more information regarding this service.</p>
                <h3>6.5 Are all activities included in the Acceleration Program covered by the Program?</h3>
                <p>Yes, all the activities included in the Acceleration Program are free of charge for beneficiaries. You will only have to pay your travel and accommodation cost related to the in-situ events (Jury day, Welcoming Week and Demo Day)</p>


              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>



      </div>
    </div>
  </div><!-- /.container -->
</section>
