
<section class="faq">
  <div class="container inner-top-xs">
    <header class="text-center">
      <h1 class="single-block"><strong>FAQ</strong></h1>
      <h2>IMPACT 2nd OPEN CALL (2015 edition)</h2>
      <p>Closing date for proposals: <br> Thursday, 30th April 2015 at 15:00 (CET)</p>
    </header>
    <div class="row inner-bottom-xs">
      <div class="col-md-10 col-md-offset-1">
        <p class="single-line">
          We are grateful that you are interested in applying to the IMPACT Accelerator. The following information is intended to help you through the process, and solving queries on the IMPACT Open Call.
          
<br><br>
Please, read carefully our <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a> and the following FAQs. If you cannot find the answer to your question in these documents, please submit your question(s) to <a href="mailto:opencall@impact-accelerator.com">opencall@IMPACT-accelerator.com</a>. We will do our best to assist you! 


          <br><br>Finally a Technical Helpdesk service (<a href="mailto:info@fundingbox.com">info@fundingbox.com</a>) is also available if you encounter any technical problem when fill in the Application Form.
        </p>

        <div id="accordion1" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#content1">
                  <span>1. General Questions related with FI-PPP</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content1" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>1.1 What is FI-PPP</h3>
                  <p><a href="http://www.fi-ppp.eu/" target="nueva">The Future Internet Public Private Partnership (FI-PPP)</a> is a European programme for Internet-enabled innovation. The FI-PPP will accelerate the development and adoption of Future Internet technologies in Europe, advance the European market for smart infrastructures, and increase the effectiveness of business processes through the Internet. The FI-PPP is covering a wide scope of usage areas through a set of use case projects that make use of the FI-PPP core platform in setting up trials of advanced Future-Internet-based services and applications The core platform of the FI-PPP program is FIWARE technologies those realized by the FIWARE project. </p>

                  <h3>1.2 What is FIWARE?</h3>
                  <p><a href="http://www.fi-ware.org/" target="nueva">FIWARE</a> is an innovative, open cloud-based infrastructure for cost-effective creation and delivery of Future Internet applications and services. FIWARE API specifications are public and royalty-free, driven by the development of an open source reference implementation, which accelerates the availability of commercial products and services based on FIWARE technologies.</p>
              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion2" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#content2">
                  <span>2. General Questions related with IMPACT</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>2.1 What is IMPACT?</h3>
                  <p>The Internet Mobile ConTent (IMPACT) partnership and project contributes to the promotion and early adoption of <strong>FIWARE Technology</strong> by providing <strong>premium acceleration mentoring program </strong>  and distributing a total grant support of 6,4 M€ to around 64 European SMEs operating in <strong>the MOBILE INTERNET space</strong>.</p>

                  <h3>2.2 What is considered Mobile Content?</h3>
                  <p>Mobile content or technologies are mobile apps or business models based on mobility in the areas of communications, social, video, media & advertising; design, education, entertainment, ecommerce, peripheral devices, content, connected TV, infrastructure, security, productivity, finance, smart cities and social networks, among others.</p>
                  <p>It is important to highlight that to be considered a Mobile business it is not enough to transfer a website into a mobile site, the strategy of the business model must focus on mobility.</p>

                  <h3>2.3 Why should I participate in the IMPACT Open Call?</h3>
                  <p>First of all, because you have the possibility of receiving up to 100.000€ (in cash and services), without diluting equity. </p>
                  <p><strong>But it is not just for the money!!!</strong></p>
                  <p>You would be able to participate in a 6 months <strong>Premium Acceleration Service</strong>, led by key world class digital ecosystem professionals and entrepreneurs, which will offer you:</p>
                  <ul>
                    <li>Specialized <strong>training in Digital entrepreneurship</strong> and mobile content to give you the specific tools necessary to manage your Project or business and take it to the next level</li>
                    <li><strong>Ongoing mentorship at a high level</strong>,  providing you with continued support throughout the whole process</li>
                    <li>Support in finding additional complementary funding opportunities </li>
                    <li>A <strong>Demo Day</strong> where you will have direct contact with Business Angels and other first class global Funds.</li>
                  </ul>

                  <p><strong>Moreover, if you are accepted</strong> as a beneficiary you will have the added possibility of an Extended Investment Phase, which will give you fast track access to the Project Partners investment programs.</p>

                  <p>Therefore, if you want to learn and work with the most recognized professionals within the Mobile sector, with first class mentoring support and importantly real financial support, IMPACT is your program.</p>
              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion3" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#content3">
                  <span>3. General Questions related to IMPACT Open Call</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content3" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                  <h3>3.1  Who can apply for the open call?</h3>
                  <p>
                    The IMPACT Open Call is open to two types of applicants:
                    <ul>
                      <li>
                        SMEs (legal persons) participating on their own (only one SME per application).</li>
                        <li>Web Entrepreneurs (physical persons), or individuals, participating in groups of minimum 2 members</li>
                    </ul>
                  </p>
                  <p>

                    As an applicant you shall be <strong>established</strong>, or at least your key management team, in any of the <strong>EU-28 countries</strong>  or a <strong>FP7 Associated countries</strong>.
                  </p>
                  <p>
                    Moreover, to be <strong>eligible</strong>, your proposals have to fully comply with the <strong>eligibility criteria</strong> indicated in the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>, which are:
                    <ul>
                      <li>The product or serviced must use FIWARE technologies </li>
                      <li>The scope of the project must be in the Mobile domain</li>
                    </ul>
                  </p>
                  <p>
                    In addition you should also take note of <strong>exclusion criteria</strong>, as described in the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>:
                    <ul>
                      <li>The same proposal must not be funded by more than one FIWARE Accelerator.  If the same proposal, or a very similar one, has been already funded by another accelerator, the proposal will be excluded from the IMPACT process.</li>
                      <li>Only one proposal per SME or individual can be submitted. If more than one proposal per SME or individual is identified, the proposal will be excluded from the process.</li>
                    </ul>
                  </p>

                    <h3>3.2 What type of projects are IMPACT looking for?</h3>
                    <p>If you meet the criteria described above and your project’s focus is on an innovative way to do business in the mobile domain using FIWARE technologies, you are welcome to submit your application.</p>

                  

                    <p>The type of projects that IMPACT consortium are looking for are Projects with a working prototype available and at least two founders who work full time for the project, where the founders still own 51% of Shareholders’ Equity and with a target market launch date that is set in six months time or if the product is already present in the market, has been so for less than seven years.</p>
                    <p>All these elements are recommended, they are not mandatory. The more closely the Projects match these criteria, the more likely they are to be selected. 
                    </p>

                    <h3>3.3 Can I apply if I’m a single person?</h3>
                    <p>An “Individual” can submit a proposal, but the team has to have a minimum of at least 2 persons, as indicated in the section ‘Type of Applicants’ within the  <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>.</p>
                    <p>IMPACT looks for high potential start-ups and, in this sense; a consolidated team is one of the most important aspects of achieving success. </p>

                    <h3>3.4 Do we have to be constituted as SME?</h3>
                    <p>No, it’s not a requirement, because as indicated in Question 3.3 a group of at least 2 “individuals” can submit a Proposal. However, IMPACT is looking for consolidated projects, so although you can apply as a group of individuals, or as an SME in the  process of being constituted, if you are selected as a beneficiary, IMPACT project will ask you to form an SME as soon as possible.</p>

                    <h3>3.5 Do we have to be already selling or invoicing?</h3>
                    <p>It is not a requirement, but it would be positively evaluated, because one of the objectives of the Acceleration Process is that all of the beneficiaries will be able to sell their product or service in at the end of the 6 months of acceleration.   </p>

                    <h3>3.6 If we are in another Acceleration Program, can we apply to IMPACT? </h3>
                    <p>Yes as long as the Programs don’t overlap.  If you are selected, you will have to sign a Declaration confirming that you will not be participating in another Acceleration Program, once you start the IMPACT Program. </p>

                    <h3>3.7 How can I apply for the open call?</h3>
                    <p>You can apply for the call through the following link: <a href="http://www.fundingbox.com/IMPACT/apply" target="_blank">http://www.fundingbox.com/IMPACT/apply</a></p>

                    <h3>3.8 How long does it take to fill in an application?</h3>
                    <p>It shouldn’t take long. You only have to fill in the contest application form. Specific character limits have been established for each field.</p>
                    <p>An important aspect of your application is the technology that is used in your project as you will be required to upload a Technology Map (including FIWARE Technologies Use Plan) as part of your application.</p>
                    <p>We encourage you to keep your proposal as focused as possible concentrating on the specific information requests made.</p>

                    <h3>3.9 What type of support is available for preparing the proposal?</h3>
                    <p>The <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a> is the main reference document. It provides more details about the evaluation and selection processes the many requirements and the acceleration program offered by IMPACT.</p>
                    <p>Additionally a Open Call Helpdesk service (<a href="mailto:opencall@IMPACT-accelerator.com">opencall@IMPACT-accelerator.com</a>) is on hand to clear any doubts you may have relating to the application process (eligibility rules, Application Form information requests, etc)</p>

                    <p>Finally a Technical Helpdesk service (info@fundingbox.com) is also available if you encounter any technical problem when filling in the Application Form.</p>

                    <h3>3.10  What is the deadline for the application?</h3>
                    <p>The deadline for the second call is <strong>April 30th 2015 at 15:00 p.m (CET)</strong>. No application will be accepted after deadline. </p>

              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div><!-- /.accordion -->

        <div id="accordion4" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#content4">
                  <span>4. Questions related with IMPACT evaluation process
</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content4" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>4.1 What are the criteria for selecting the final beneficiaries?</h3>
                <p>The IMPACT selection process has been designed to be fair, fun and interesting for you.  Therefore we have designed a process in 3 phases.</p>
                <ul>
                  <li><strong>Phase 1</strong>. Projects will be presented through the Funding Box platform. After completing the online questionnaire, those who meet the eligibility criteria (see Question Nº 3.1) and are better aligned with the type of project (See Question Nº 3.2) that is being sought, will move to the next phase of selection.</li>
                  <li><strong>Phase 2</strong>. After that, each proposal will be evaluated by 2 independent experts who will assess different variables (Team, Business Model and Technology)</li>
                  <li><strong>Phase 3</strong>. Finally, the highest ranked proposals will participate in the Jury Day which will involve interviews by the Selection Committee that will then select the final beneficiaries.</li>
                </ul>
                <p>For more information about the evaluation process, consult the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>.</p>
                <h3>4.2 What kind of rewards and benefits will IMPACT offer to beneficiaries?</h3>
                <p>If you are selected by the IMPACT Selection Committee, you will receive:</p>
                <ul>
                  <li>An exclusive 6 months Acceleration Program which will include: 90.000€ of Funding, to be delivered in instalments against the successful delivery of the specific deliverables detailed in the ’IMPACT Sub-grant Agreement’ signed with the IMPACT consortium.  In addition you will receive 10.000€ in Services Vouchers, that are to be used via the Premium Acceleration Program consisting in Training and Mentoring under the guidance of key world class digital ecosystem professionals and entrepreneurs.</li>
                  <li>An Extended Investment Phase, beyond the European Commission funding and therefore out of the IMPACT project, but which could be a very important step for the beneficiaries in terms of project sustainability. In this phase the project partners of IMPACT consortium will invite the most outstanding projects into their existing investment tracks.</li>
                </ul>

              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion5" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion5" href="#content5">
                  <span>5. Questions related o IMPACT’s funding</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content5" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>5.1 Is there going to be an advanced payment to selected projects? </h3>
                <p>The IMPACT funding scheme is based on a series of payments against validation of deliverables established and forming part of the ‘IMPACT Sub-grant Agreement’. That means that payments will only be made upon receiving and validating the beneficiary’s previously agreed deliverables. Therefore, there is no advance payment.</p>
                <h3>5.2 When do the selected projects receive the funding? </h3>
                <p>The beneficiaries will receive the 90.000€ in cash in three stages:</p>
                <ul>
                  <li><strong>1st Stage (Month 0)</strong>: 25%, once the <em>’IMPACT sub-grant Agreement’</em> has been signed and the deliverables indicated are submitted and validated.</li>
                  <li><strong>2nd Stage (Month 3)</strong>: 50% once the criteria for this second stage have been completed and the deliverables submitted and validated.</li>
                  <li><strong>3rd Stage (Month 6)</strong>: 25% delivered in 2 instalments. First instalment of 10% at the end of the acceleration program, if all the objectives have been met, and the remaining 15% will be approved and the payment made when the IMPACT consortia receives the final payment from the European Commission.</li>
                </ul>
                <h3>5.3 How will IMPACT monitor the progress of the beneficiaries? </h3>
                <p>Each beneficiary will have their specific deliverables/objectives included in their <stong>’Individual Mentor Plan’</stong>, which will be developed in the ’Welcoming Week’ and will be attached, as a formal requirement for beneficiaries, within the <em>’IMPACT Sub-grant Agreements’</em>.</p>
                <p>The <em>’Follow Up Individual Mentor’</em> assigned to each beneficiary will be in charge of monitoring the progress of the objectives proposed and the <em>’Acceleration Program Committee'</em> will validate the deliverables submitted by each beneficiary indicating if they are able to pass to the next phase.</p>
                <p>For more information about the general deliverables/objectives assigned to each stage, consult the <a href="/assets/IMPACT_2OC_GuideForApplicants_01042015.pdf">“Guide for Applicants”</a>.</p>


              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>

        <div id="accordion6" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion6" href="#content6">
                  <span>6. Questions related to the IMPACT Acceleration Suite</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->
            <div id="content6" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <h3>6.1 Are all activities included in the Acceleration Program compulsory?</h3>
                <p>All activities included in the <em>‘Individual Mentoring Plan’</em> of each beneficiary are compulsory.</p>
                <h3>6.2 Are all projects required to go through the training process?</h3>
                <p>Yes, your project is UNIQUE and also your training needs.  The IMPACT team will help identify your needs and those of your team, providing the necessary tools and training that will ensure the experience is of maximum benefit to your Project.</p>
                <h3>6.3  Is it mandatory to move our business to Spain or Italy for the acceleration process? </h3>
                <p>No, it isn’t. Every beneficiary can operate in their home country. The mentoring is done remotely or in your country. </p>
                <p>You will however have to attend 3 events which will require your relocation for short periods of time, namely: for the Jury Day during the selection phase, and for the “Welcoming Week” and for the “Demo Day”, during the acceleration programme, if you are selected as beneficiary.</p>
                <h3>6.4 Does IMPACT offer co-working spaces for beneficiaries? </h3>
                <p>If you are interested, IMPACT through agreements with partner entities, can offer beneficiaries office spaces at attractive rates. Just ask the IMPACT team if you need more information regarding this service.</p>
                <h3>6.5 Are all activities included in the Acceleration Program covered by the Program?</h3>
                <p>Yes, all the activities included in the Acceleration Program are free of charge for beneficiaries. You will only have to pay your travel and accommodation cost related to the in-situ events (Jury day, Welcoming Week and Demo Day)</p>


              </div><!-- /.panel-body -->
            </div><!-- /.content -->
          </div><!-- /.panel -->
        </div>




      </div>
    </div>
  </div><!-- /.container -->
</section>
