<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <ul class="footer-menu pull-left">
        <li>© 2014 IMPACT</li>
        <!-- li><a href="#">Aviso legal</a></li -->
        <li><a href="mailto:info@impact-accelerator.com"><i class="icon-mail-1 contact"></i> info@impact-accelerator.com</a></li>
        <li><a href="mailto:press@impact-accelerator.com"><i class="icon-mail-alt contact"></i> press@impact-accelerator.com</a></li>
      </ul>
      <ul class="social pull-right">
        <li><a href="https://www.linkedin.com/groups?gid=8132990"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCIOQoA-ZfMxthBICI1hlDww"><i class="icon-s-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/pages/Impact_acc"><i class="icon-s-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/0/b/106639153865804795411/106639153865804795411/about"><i class="icon-s-gplus"></i></a></li>
        <li><a href="https://twitter.com/IMPACT_acc"><i class="icon-s-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="custom_components/custom/js/jquery.min.js"></script>
<script src="custom_components/custom/js/jquery.easing.1.3.min.js"></script>
<script src="custom_components/custom/js/bootstrap.min.js"></script>
<script src="custom_components/custom/js/bootstrap-hover-dropdown.min.js"></script>
<!--script src="custom_components/custom/js/owl.carousel.min.js"></script-->
<script src="custom_components/custom/js/jquery.easytabs.min.js"></script>
<!--script src="custom_components/custom/js/google.maps.api.v3.js"></script-->
<script src="custom_components/custom/js/viewport-units-buggyfill.js"></script>
<script src="js/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52687448-1', 'auto');
  ga('send', 'pageview');
</script>
