<footer>
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© 2014 IMPACT</p>
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>

<!-- JavaScripts placed at the end of the document so the pages load faster -->
<script src="custom_components/custom/js/jquery.min.js"></script>
<script src="custom_components/custom/js/jquery.easing.1.3.min.js"></script>
<script src="custom_components/custom/js/bootstrap.min.js"></script>
<script src="custom_components/custom/js/bootstrap-hover-dropdown.min.js"></script>
<script src="custom_components/custom/js/skrollr.min.js"></script>
<script src="custom_components/custom/js/skrollr.stylesheets.min.js"></script>
<script src="custom_components/custom/js/waypoints.min.js"></script>
<script src="custom_components/custom/js/waypoints-sticky.min.js"></script>
<script src="custom_components/custom/js/owl.carousel.min.js"></script>
<script src="custom_components/custom/js/jquery.isotope.min.js"></script>
<script src="custom_components/custom/js/jquery.easytabs.min.js"></script>
<script src="custom_components/custom/js/jquery.slickforms.js"></script>
<!-- <script src="custom_components/custom/js/google.maps.api.v3.js"></script> -->
<script src="custom_components/custom/js/viewport-units-buggyfill.js"></script>
<script src="custom_components/custom/js/scripts.js"></script>
<script src="custom_components/custom/js/animations-on-scroll.js"></script>