<footer class="dark-bg">
  <div class="footer-bottom">
    <div class="container inner">
      <ul class="footer-menu pull-left">
        <li>© 2014 IMPACT</li>
        <!-- li><a href="#">Aviso legal</a></li -->
        <li><a href="mailto:{{ site.data.variables.mail }}"><i class="icon-mail-1 contact"></i> {{ site.data.variables.mail }}</a></li>
        <li><a href="mailto:{{ site.data.variables.mail_press }}"><i class="icon-mail-alt contact"></i> {{ site.data.variables.mail_press }}</a></li>
      </ul>
      <ul class="social pull-right">
        <li><a href="{{ site.data.variables.linkedin }}" target="_blank"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="{{ site.data.variables.youtube }}" target="_blank"><i class="icon-s-youtube"></i></a></li>
        <li><a href="{{ site.data.variables.facebook }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
        {% comment %}<li><a href="{{ site.data.variables.gplus }}" target="_blank"><i class="icon-s-gplus"></i></a></li>{% endcomment %}
        <li><a href="{{ site.data.variables.twitter }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-colaboradores inner-top-xs">
    <div class="container inner">

      <div class="row">
        <div class="col-md-1 col-md-offset-2">
          <a href="http://www.fi-ppp.eu/"><img src="/img/logos/europa.png" alt="European Union Seventh Framework Programme"></a>
        </div>
        <div class="col-md-4">
          <p class="text-small">IMPACT project has received funding from the European Union Seventh Framework Programme (FP7/2007-2013) under grant agreement n° 632828</p>
        </div>
        <div class="col-md-3">
          <a href="http://www.fi-ware.org"><img src="/img/logos/fiware-negativo.png" alt="FI-Ware"></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/custom_components/custom/js/jquery.min.js"></script>
<script src="/custom_components/custom/js/jquery.easing.1.3.min.js"></script>
<script src="/custom_components/custom/js/bootstrap.min.js"></script>
<script src="/custom_components/custom/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/custom_components/custom/js/jquery.easytabs.min.js"></script>
<script src="/custom_components/custom/js/viewport-units-buggyfill.js"></script>
<script src="/js/lib/jquery.cookie.js"></script>
<script src="/js/lib/jquery.mixitup.min.js"></script>
<script src="/js/scripts.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52687448-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

  ga('create', 'UA-55234367-1', 'auto', {'name': 'fundingBox'});
  ga('fundingBox.require', 'displayfeatures');
  ga('fundingBox.send', 'pageview');
</script>


