<header>
	<div class="navbar-fixed-top">
		<div class="header-top hidden-xs">
			<div class="container">
				<ul class="info pull-left">
					<li><a href="/{{ page.alt-lang }}"><i class="icon-ccw"></i> {{ page.alt-lang-desc }}</a></li>
					<li><a href="mailto:info@impact-accelerator.com"><i class="icon-mail-1 contact"></i> info@impact-accelerator.com</a></li>
					<li><a href="mailto:press@impact-accelerator.com"><i class="icon-mail-alt contact"></i> press@impact-accelerator.com</a></li>
				</ul>
				<ul class="social pull-right">
					<li><a href="https://www.linkedin.com/groups?gid=8132990" target="_blank"><i class="icon-s-linkedin"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCIOQoA-ZfMxthBICI1hlDww" target="_blank"><i class="icon-s-youtube"></i></a></li>
					<li><a href="https://www.facebook.com/pages/Impact_acc" target="_blank"><i class="icon-s-facebook"></i></a></li>
					<li><a href="https://plus.google.com/u/0/b/106639153865804795411/106639153865804795411/about" target="_blank"><i class="icon-s-gplus"></i></a></li>
					<li><a href="https://twitter.com/IMPACT_acc" target="_blank"><i class="icon-s-twitter"></i></a></li>
				</ul>
			</div>
		</div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span class="hide">IMPACT</span></a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#what-is-impact" class="text-normal scroll">Qué es IMPACT</a></li>
						<li><a href="#how-it-works" class="text-normal scroll">Cómo funciona</a></li>
						<li><a href="#talent-impact" class="text-small scroll">Equipo Impact</a></li>
						<li><a href="#hot-news" class="text-small scroll">Hot News</a></li>
						<li><a href="#spaces" class="text-small scroll">Espacios de aceleración</a></li>
						<li class="hidden-lg"><a href="/{{ page.alt-lang }}" class="text-small"><i class="icon-ccw"></i> {{ page.alt-lang-desc }}</a></li>
					</ul>
					<a href="#call-to-action" class="btn btn-sm btn-primary navbar-btn pull-right visible-lg scroll">Únete a IMPACT</a>
				</div>
			</div>
		</nav>
	</div>
</header>
