<header>
	<div class="navbar-fixed-top">
		<div class="header-top hidden-xs">
			<div class="container">
				<ul class="social pull-left">
					<li><a href="{{ site.data.variables.linkedin }}" target="_blank"><i class="icon-s-linkedin"></i></a></li>
					<li><a href="{{ site.data.variables.youtube }}" target="_blank"><i class="icon-s-youtube"></i></a></li>
					<li><a href="{{ site.data.variables.facebook }}" target="_blank"><i class="icon-s-facebook"></i></a></li>
					{% comment %}<li><a href="{{ site.data.variables.gplus }}" target="_blank"><i class="icon-s-gplus"></i></a></li>{% endcomment %}
					<li><a href="{{ site.data.variables.twitter }}" target="_blank"><i class="icon-s-twitter"></i></a></li>
				</ul>
				<ul class="info pull-left">
					<li class="inner-left-xs"><a href="mailto:{{ site.data.variables.mail }}"><i class="icon-mail-1 contact"></i> {{ site.data.variables.mail }}</a></li>
					<li><a href="mailto:{{ site.data.variables.mail_press }}"><i class="icon-mail-alt contact"></i> {{ site.data.variables.mail_press }}</a></li>
				</ul>

				{% if page.lang == 'en' %}
					<ul class="info pull-right">
						<li class="idioma"><a href="/es"><i class="icon-ccw"></i> Español</a></li>
						<li class="idioma"><a href="/it">| Italiano</a></li>
					</ul>
				{% endif %}
				{% if page.lang == 'es' %}
					<ul class="info pull-right">
						<li class="idioma"><a href="/"><i class="icon-ccw"></i> English</a></li>
						<li class="idioma"><a href="/it">| Italiano</a></li>
					</ul>
				{% endif %}
				{% if page.lang == 'it' %}
					<ul class="info pull-right">
						<li class="idioma"><a href="/"><i class="icon-ccw"></i> English</a></li>
						<li class="idioma"><a href="/es">| Español</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				
					<a href="#call-to-action" class="btn btn-sm btn-primary navbar-btn pull-right xvisible-lg">{{ site.data.t[page.lang].menu_inscribe2 }}</a>
		{%comment%}		
				<a href="http://bit.ly/IMPACTapplyNOW" target="_blank"  class="btn btn-sm btn-primary navbar-btn pull-right xvisible-lg">{{ site.data.t[page.lang].menu_inscribe }}</a>
{%endcomment%}
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					{% if page.es_hija %}
						<a class="navbar-brand" href="/{{page.lang}}/"><span class="hide">IMPACT</span></a>
					{% else %}
						<a class="navbar-brand" href="#"><span class="hide">IMPACT</span></a>
					{% endif %}
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						{% if page.es_hija %}
							<li><a href="/{{page.lang}}/#what-is-impact" class="text-normal">{{ site.data.t[page.lang].menu_que_es }}</a></li>
							<li><a href="/{{page.lang}}/#how-it-works" class="text-normal">{{ site.data.t[page.lang].menu_como_funciona }}</a></li>
							<li><a href="/{{page.lang}}/#talent-impact" class="text-small">{{ site.data.t[page.lang].menu_equipo }}</a></li>
							<li><a href="/{{page.lang}}/#spaces" class="text-small">{{ site.data.t[page.lang].menu_espacios }}</a></li>
							<li><a href="/{{page.lang}}/#hot-news" class="text-small">{{ site.data.t[page.lang].menu_hot_news }}</a></li>
						{% else %}
							<li><a href="#what-is-impact" class="text-normal scroll">{{ site.data.t[page.lang].menu_que_es }}</a></li>
							<li><a href="#how-it-works" class="text-normal scroll">{{ site.data.t[page.lang].menu_como_funciona }}</a></li>
							<li><a href="#talent-impact" class="text-small scroll">{{ site.data.t[page.lang].menu_equipo }}</a></li>
							<li><a href="#spaces" class="text-small scroll">{{ site.data.t[page.lang].menu_espacios }}</a></li>
							<li><a href="#hot-news" class="text-small scroll">{{ site.data.t[page.lang].menu_hot_news }}</a></li>

						{% endif %}

						{% if page.lang == 'en' %}
								<li><a href="/faq/" class="text-small">FAQ</a></li>
							{% else %}
								<li><a href="/{{page.lang}}/faq/" class="text-small">FAQ</a></li>
							{% endif %}

						{% if page.lang == 'en' %}
								<li class="hidden-lg"><a href="/es"  class="text-small">> Español</a></li>
								<li class="hidden-lg"><a href="/it"  class="text-small">> Italiano</a></li>
						{% endif %}
						{% if page.lang == 'es' %}
								<li class="hidden-lg"><a href="/"  class="text-small">> English</a></li>
								<li class="hidden-lg"><a href="/it"  class="text-small">> Italiano</a></li>
						{% endif %}
						{% if page.lang == 'it' %}
								<li class="hidden-lg"><a href="/"  class="text-small">> English</a></li>
								<li class="hidden-lg"><a href="/es"  class="text-small">> Español</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
