<header>
	<div class="navbar-fixed-top">
		<div class="header-top hidden-xs">	
			<div class="container">
				<ul class="info pull-left">
					<li><a href="#"><i class="icon-mail-1 contact"></i> info@impact.com</a></li>
					<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
				</ul><!-- /.info -->
				<ul class="social pull-right">
					<li><a href="#"><i class="icon-s-facebook"></i></a></li>
					<li><a href="#"><i class="icon-s-gplus"></i></a></li>
					<li><a href="#"><i class="icon-s-twitter"></i></a></li>
					<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
					<li><a href="#"><i class="icon-s-behance"></i></a></li>
					<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
				</ul><!-- /.social -->
			</div>
		</div>
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">IMPACT</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="#how-it-works" class="text-small">Cómo funciona</a></li>
						<li><a href="#target-audience" class="text-small">A quién va dirigido</a></li>
						<li><a href="#program" class="text-small">Programa</a></li>
						<li><a href="#financing" class="text-small">Financiación</a></li>
						<li><a href="#spaces" class="text-small">Espacios</a></li>
						<li><a href="#selected-startups" class="text-small">Startups seleccionadas</a></li>
						<li><a href="#companies" class="text-small">Quién esta detrás</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav>
	</div>
</header>