<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ page.lema }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/main.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="/custom_components/custom/js/html5shiv.js"></script>
    <script src="/custom_components/custom/js/respond.min.js"></script>
  <![endif]-->
  <meta name="google-site-verification" content="6LHo4eNaIVK3zVWD6_LTvW786iWoFhIjO1sYMPzfrDk" />
</head>
