<section id="clients">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Quién esta detrás de Impact</h1>
								<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row thumbs gap-lg inner-top-sm">
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>ISDI</h4>
												<p>Instituto Superior para el Desarrollo de Internet</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="../assets/images/art/client01.jpg" alt="">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>ISDI</h4>
												<p>Instituto Superior para el Desarrollo de Internet</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="../assets/images/art/client02.jpg" alt="">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>ISDI</h4>
												<p>Instituto Superior para el Desarrollo de Internet</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="../assets/images/art/client03.jpg" alt="">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>ISDI</h4>
												<p>Instituto Superior para el Desarrollo de Internet</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="../assets/images/art/client04.jpg" alt="">
									</figure>
								</div><!-- /.col -->
								
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>