<section id="clients">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 inner-bottom-sm center-block text-center">
							<header>
								<h1>Quién esta detrás de Impact</h1>
								<p>Es uno de los 16 consorcios seleccionados por la Comisión Europea en el marco del Seventh Framework Programme. Esta formado por:</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row thumbs gap-lg">
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>ISDI</h4>
												<p>España. La primera Escuela de Negocio Digital, con todo un ecosistema de formación, emprendimiento y aceleración.</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="http://placehold.it/293x200">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Buongiorno</h4>
												<p>Italia. Corporación multinacional del sector de tecnología Mobile que cuenta con su propia aceleradora B-Ventures.</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="http://placehold.it/293x200">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Teknologiudviking</h4>
												<p>Dinamarca. Consultora especializada en financiación con experiencia en gestión y monitorización online de procesos públicos de Open Call.</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="http://placehold.it/293x200">
									</figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-4 col-xs-6 thumb">
									<figure>
										<figcaption class="text-overlay">
											<div class="info">
												<h4>Michael Kleindel</h4>
												<p>Alemania. Super Angel Investor del sector digital, a través de su Venture Capital Seaya.</p>
											</div><!-- /.info -->
										</figcaption>
										<img src="http://placehold.it/293x200">
									</figure>
								</div><!-- /.col -->
								
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>