<section id="reasons" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		<header class="text-center">
			<h1>¿Por qué es diferente a otros programas?</h1>
		</header>
		<div class="row">

			<div class="col-md-3 inner-right-xs inner-xs">
				<h3>Selección de las startups</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-xs">
				<h3>Modelo de Financiación</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-xs">
				<h3>Proceso de Aceleración</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

			<div class="col-md-3 inner-right-xs inner-xs">
				<h3>Sedes y espacios</h3>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor quiae sitiorem rest tumquam core.</p>
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>