<section id="blog">
	<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center inner-bottom-sm">
				<header>
					<h1>Modelo de Financiación</h1>
					<p>La Comisión Europea financia a cada startup con un grant de hasta €100K sin ninguna contrapartida de equity: a cambio de la financiación, la startup firma un grant agreement por el que se compromete a:</p>
				</header>

			</div>
		</div>
		<div class="row text-center">

			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-lamp icn lg"></i>
				</div><!-- /.icon -->
				<h2>Uso de tecnologías FI</h2>
				<p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem. </p>
			</div><!-- /.col -->

			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-flow-tree icn lg"></i>
				</div><!-- /.icon -->
				<h2>Proceso de Aceleración</h2>
				<p class="text-small">Realizar un Proceso de Aceleración de 6 meses con un coste de €10K.</p>
			</div><!-- /.col -->

			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-beaker icn lg"></i>
				</div><!-- /.icon -->
				<h2>Poder recibir financiación</h2>
				<p class="text-small">Poder recibir una financiación extra por parte del consorcio con un descuento preferente.</p>
			</div><!-- /.col -->

		</div><!-- /.row -->
		
		<div class="light-bg">
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center inner-top-sm inner-bottom-xs">
					<header>
					<h2>Cómo es la financiación</h2>
					<p>El desembolso financiero se realiza a lo largo de 6 meses por cumplimiento de Hitos:</p>
					</header>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 center-block">

					<div class="posts sidemeta">

						<div class="post format-standard">

							<div class="date-wrapper">
								<div class="date">
									<span class="day">0</span>
									<span class="month">Mes</span>
								</div><!-- /.date -->
							</div><!-- /.date-wrapper -->

							<div class="post-content">

								<h2 class="post-title">
									<a href="blog-post.html">25% al comienzo</a>
								</h2>

								<p>Tras la selección y firma del grant agreement a cada startup se le entrega el 25% del grant, se le realiza un assessment en el que se pactan unos hitos de negocio y/o tecnología a los que le tiene que llevar el Proceso de Aceleración a los 3 y 6 meses posteriores.</p>

							</div><!-- /.post-content --> 

						</div><!-- /.post -->

						<div class="post format-standard">

							<div class="date-wrapper">
								<div class="date">
									<span class="day">3º</span>
									<span class="month">Mes</span>
								</div><!-- /.date -->
							</div><!-- /.date-wrapper -->

							<div class="post-content">

								<h2 class="post-title">
									<a href="blog-post.html">50% a los 3 primeros meses</a>
								</h2>
								<p>En caso de no cumplir con los hitos no se sigue financiando y abandona el Programa de Aceleración,  pero no tiene que devolver el dinero ya concedido. La bolsa de dinero remanente se destina a nuevas startups en la siguiente ronda.</p>

							</div><!-- /.post-content --> 

						</div><!-- /.post -->

						<div class="post format-standard">

							<div class="date-wrapper">
								<div class="date">
									<span class="day">6º</span>
									<span class="month">Mes</span>
								</div><!-- /.date -->
							</div><!-- /.date-wrapper -->

							<div class="post-content">

								<h2 class="post-title">
									<a href="blog-post.html">25% al finalizar + Demo day</a>
								</h2>

								<p>Al terminar los 6 meses del Proceso de Aceleración tiene lugar un Demo Day con las startups que cumplan los hitos, al que acudirán inversores externos. Las empresas del consorcio podrán invertir en la startup con el descuento acordado en el grant agreement.</p>

							</div><!-- /.post-content --> 

						</div><!-- /.post -->

					</div><!-- /.posts -->

				</div><!-- /.col -->
			</div><!-- /.row -->
		</div>

	</div><!-- /.container -->
</section>