<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container inner">				
		<header class="text-center inner-bottom-xs">
			<h1>¿<strong>Cómo funciona</strong> IMPACT?</h1>
			<p>Impact tiene el objetivo de acelerar a 64 empresas en dos años.</p>
		</header>
		<div class="row">
			<div class="col-sm-3">
				<img src="http://placehold.it/270x152" class="img-responsive">
				<h2 class="h2 inner-top-xs">Subvenciones de 100.000€</h2>
				<p class="text-small">Impact dará al menos 64 subvenciones de 100.000€ o emprendedores a cambio del compromiso a realizar el programa de aceleración, a usar tecnologías Europeas, en startups donde el sector Internet móvil sea estratégico.</p>
			</div>
			<div class="col-sm-3">
				<img src="http://placehold.it/270x152" class="img-responsive">
				<h2 class="h2 inner-top-xs">Formación presencial y online</h2>
				<p class="text-small">Impact, dará formación presencial y online bajo demanda andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div>
			<div class="col-sm-3">
				<img src="http://placehold.it/270x152" class="img-responsive">
				<h2 class="h2 inner-top-xs">Mentorización de alto nivel</h2>
				<p class="text-small">Impact ofrecerá Mentorización de alto nivel andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div>
			<div class="col-sm-3">
				<img src="http://placehold.it/270x152" class="img-responsive">
				<h2 class="h2 inner-top-xs">Demo Day con inversores Europeos</h2>
				<p class="text-small">Impact organizará un Demo Day con importantes inversores Europeos andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div>
		</div>
	</div>
</section>