<section id="hero" class="tint-bg img-bg-soft img-bg">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-10 center-block text-center">
				<header>
					<h1>Impact</h1>
					<h2>Aceleramos proyectos de Internet Mobile</h2>
					<p>En <strong>Internet Mobile Projects Accelerator</strong> tenemos como objetivo la rápida implantación de tecnologías digitales europeas (FI) en el área de Mobile Internet, a través de la financiación y aceleración de startups con fuerte componente estratégico móvil.</p>
					<a href="#" class="btn btn-large">¡Apúntate!</a>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>