<section id="circle-tabs" class="light-bg arrow-bottom">
	<div class="container inner">

		<div class="row">
			<div class="col-md-8 col-sm-9 inner-bottom-sm center-block text-center">
				<header>
					<h1>Cómo se desarrolla el programa</h1>
					<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->

		<div class="row">
			<div class="col-xs-12">
				<div class="tabs tabs-services tabs-circle-top tab-container">

					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-1"><div>1</div>Assessment inicial</a></li>
						<li class="tab"><a href="#tab-2"><div>2</div>Formación</a></li>
						<li class="tab"><a href="#tab-3"><div>3</div>Mentorización Matricial</a></li>
					</ul><!-- /.etabs -->

					<div class="panel-container">

						<div class="tab-content" id="tab-1">
							<div class="row">

								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="http://placehold.it/455x256"></figure>
								</div><!-- /.col -->

								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
									<h3>Assessment inicial</h3>
									<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
								</div><!-- /.col -->

							</div><!-- /.row -->
						</div><!-- /.tab-content -->

						<div class="tab-content" id="tab-2">
							<div class="row">

								<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
									<figure><img src="http://placehold.it/455x256"></figure>
								</div><!-- /.col -->

								<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
									<h3>Plan de Mentorización Matricial</h3>
									<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
								</div><!-- /.col -->

							</div><!-- /.row -->
						</div><!-- /.tab-content -->

						<div class="tab-content" id="tab-3">
							<div class="row">

								<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
									<figure><img src="http://placehold.it/455x256"></figure>
								</div><!-- /.col -->

								<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
									<h3>Assessment inicial</h3>
									<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
								</div><!-- /.col -->

							</div><!-- /.row -->
						</div><!-- /.tab-content -->

					</div><!-- /.panel-container -->

				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->

	</div><!-- /.container -->
</section>