<section id="portfolio" class="dark-bg">
				
				<div class="container inner-top">
					<div class="row inner-bottom-sm">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Startups seleccionadas</h1>
								<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
				
				<div class="portfolio">
					
					<ul class="items fullscreen">
						
						<li class="item thumb identity">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/1" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb identity">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/2" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb interactive">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/3" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb identity print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/4" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/5" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb interactive">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/6" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/7" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/8" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb identity">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/9" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/10" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb photography">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/1" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
						<li class="item thumb print">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Nombre de la startup</h4>
											<p>Subtítulo o descripción de la startup</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="http://lorempixel.com/570/390/business/2" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						
					</ul><!-- /.items -->
					
				</div><!-- /.portfolio -->
			</section>