<section id="talent-impact" class="arrow-bottom">
	<div class="inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Equipo</strong> IMPACT</h1>
		</header>
		<div class="row thumbs no-gap">

			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div><!-- /.text-overlay -->
						<img src="http://lorempixel.com/g/350/350/business/1/">
					</div>
				</figure>
			</div><!--/.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/1/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/1/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/1/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/1/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/1/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/2/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->
			<div class="col-xs-6 col-sm-4 col-lg-2 thumb">
				<figure class="member">
					<div class="member-image">
						<div class="text-overlay">
							<div class="info">
								<h2 class="h4">Nombre del Mentor</h2>
								<ul class="social">
									<li><a href="#"><i class="icon-s-linkedin"></i></a></li>
									<li><a href="#"><i class="icon-s-twitter"></i></a></li>
								</ul><!-- /.social -->
							</div><!-- /.info -->
						</div>
						<img src="http://lorempixel.com/g/350/350/business/7/" class="img-responsive">
					</div>
				</figure>
			</div><!-- /.thumb -->

		</div>
	</div>
</section>
