<section id="what-is-impact" class="arrow-bottom">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Objetivos</strong> IMPACT</h1>
		</header>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
					<ul class="list-unstyled list-objetivos text-large">
						<li> <span class="tint-bg"> Acelerar al menos a 64 Startups  europeas con foco en Internet Mobile.</span></li>
						<li> <span class="tint-bg"> Subvencionar cada Startup con hasta 100,000 euros sin contrapartida de equity invirtiendo un total de 6.400.000 euros en 2 años.</span></li>
						<li> <span class="tint-bg">Proporcionar un Servicio de Aceleración Premium durante 6 meses compuesto de Formación y Mentoring con profesionales y emprendedores clave del ecosistema digital.</span></li>
						<li> <span class="tint-bg">Dirigir a las Startups más prometedoras a una Fase de Inversión Extendida con Business Angels y Fondos de primera línea internacional.</span></li>
				  </ul>
			</div>
		</div>
		<div class="row inner-bottom-xs">
			<div class="col-sm-12 col-md-12 col-lg-12 inner-bottom-xs">
				<div id="values" class="text-center">
					<h2 class="h2">Valores IMPACT</h2>
					<div class="wrapper">
						<div class="circle md">
							<div class="circle-inner">
								<div class="icon single-block">
									<i class="icon-search icn tint-color"></i>
								</div>
								<h3 class="h4 tint-color">Transparencia</h3>
							</div>
						</div>
						<div class="circle md">
							<div class="circle-inner">
								<div class="icon single-block">
									<i class="icon-gauge icn tint-color"></i>
								</div>
								<h3 class="h4 tint-color">Alto <br>rendimiento</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<h2 class="h2 text-center">Consorcio IMPACT</h2>
		<div class="row thumbs gap-lg">
			<div class="col-xs-6 col-sm-3 thumb">
				<a href="http://www.isdi.es"><figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>ISDI</h4>
							<p>ISDI the world´s first “internet only” business school providing an internet business master’s degree integrated with a full startup support ecosystem (incubation, acceleration & venturing).</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="/img/logos/isdi.png" class="img-responsive">
				</figure></a>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<a href="http://www.buongiorno.com/"><figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Buongiorno</h4>
							<p>A world class Global Corporation in the mobile commerce ecosystem with its own acceleration program.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="/img/logos/buongiorno.png" class="img-responsive">
				</figure></a>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<a href="http://www.teknologiudvikling.dk/"><figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Teknologiudvikling</h4>
							<p>Consultancy firm specialized in funding will provide valuable expertise in the management & monitoring of public funding Open Calls through on-line processes.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="/img/logos/Teknologiudvikling.png" class="img-responsive">
				</figure></a>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<a href="http://seayaventures.com/
"><figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Seaya Ventures</h4>
							<p>The Super Angel Investor, Michael Kleindl, one of Europe’s most renowned public figures in the Internet advertising sector.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="/img/logos/seaya.png" class="img-responsive">
				</figure></a>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center inner-bottom-xs">
				<p class="text-normal">ISDI, Boungiorno and Seaya Ventures team up with the most emblematic talent of the european digital ecosystem to launch IMPACT. <br>
Our work is to facilitate to start-ups access to the global markets , enabling worldwide connections with global corporations and access to global investors.  </p>
			</div>
		</div>
	</div><!-- /.container -->
</section>
