<section id="what-is-impact" class="arrow-bottom">
	<div class="container inner">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<header class="text-center inner-bottom-sm">
				<h1><strong>Qué es</strong> Impact</h1>
				<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio.</p>
			</header>
			</div>
		</div>
		<div class="row inner-bottom-xs">
			<div class="col-sm-12 col-md-5 inner-bottom-sm">
				<ul class="arrowed">
					<li>Vamos a acelerar a 64 empresas en 2 años.</li>
					<li>64 subvenciones de 100.000€.</li>
					<li>Dando formación presencial y online.</li>
					<li>Con Mentorización de alto nivel.</li>
					<li>Y como hito final un Demo Day con los mejores inversores europeos.</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-7">
				<div class="row">
					<div class="col-sm-6 text-center inner-bottom-sm">
						<div class="icon">
							<i class="icon-flow-tree icn"></i>
						</div>
						<h2>Openness</h2>
						<p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
					</div>
					<div class="col-sm-6 text-center inner-bottom-sm">
						<div class="icon">
							<i class="icon-flow-tree icn"></i>
						</div>
						<h2>High Performances</h2>
						<p class="text-small">Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.</p>
					</div>
				</div>
			</div>
		</div>
		<h2 class="h2 text-center">Todo esto gracias a quiénes somos</h2>
		<div class="row thumbs gap-lg">
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>ISDI</h4>
							<p>España. La primera Escuela de Negocio Digital, con todo un ecosistema de formación, emprendimiento y aceleración.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Buongiorno</h4>
							<p>Italia. Corporación multinacional del sector de tecnología Mobile que cuenta con su propia aceleradora B-Ventures.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Teknologiudviking</h4>
							<p>Dinamarca. Consultora especializada en financiación con experiencia en gestión y monitorización online de procesos públicos de Open Call.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Michael Kleindel</h4>
							<p>Alemania. Super Angel Investor del sector digital, a través de su Venture Capital Seaya.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>