<section id="what-is-impact" class="arrow-bottom">
	<div class="container inner">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Compromiso</strong> IMPACT</h1>
		</header>
		<div class="row inner-bottom-xs">
			<div class="col-sm-12 col-md-7 col-lg-8 inner-bottom-xs">
				<div class="well well-lg">
					<ul class="arrowed text-large">
						<li><strong>Acelerar 64 startups</strong> de <strong>Internet Mobile</strong>.</li>
						<li><strong>Invertir 6.400.000 €</strong> en 2 años.</li>
						<li><strong>Subvencionar Startups</strong> con <strong>100.000€</strong> sin exigir acciones a cambio.</li>
						<li><strong>Formación y Mentorship</strong> a cargo de referentes del ecosistema digital.</li>
						<li><strong>Inversores</strong> de primera línea <strong>internacional</strong> en fase extendida tras el proceso de aceleración.</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12 col-md-5 col-lg-4 inner-bottom-xs">
				<div id="values" class="text-center">
					<h2 class="h2">Valores IMPACT</h2>
					<div class="wrapper">
						<div class="circle md">
							<div class="circle-inner">
								<div class="icon single-block">
									<i class="icon-search icn tint-color"></i>
								</div>
								<h3 class="h4 tint-color">Transparencia</h3>
							</div>
						</div>
						<div class="circle md">
							<div class="circle-inner">
								<div class="icon single-block">
									<i class="icon-gauge icn tint-color"></i>
								</div>
								<h3 class="h4 tint-color">Alto <br>rendimiento</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2 class="h2 text-center">Somos IMPACT</h2>
		<div class="row thumbs gap-lg">
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>ISDI</h4>
							<p>España. La primera Escuela de Negocio Digital, con todo un ecosistema de formación, emprendimiento y aceleración.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Buongiorno</h4>
							<p>Italia. Corporación multinacional del sector de tecnología Mobile que cuenta con su propia aceleradora B-Ventures.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Teknologiudviking</h4>
							<p>Dinamarca. Consultora especializada en financiación con experiencia en gestión y monitorización online de procesos públicos de Open Call.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-3 thumb">
				<figure>
					<figcaption class="text-overlay visible-lg">
						<div class="info">
							<h4>Michael Kleindel</h4>
							<p>Alemania. Super Angel Investor del sector digital, a través de su Venture Capital Seaya.</p>
						</div><!-- /.info -->
					</figcaption>
					<img src="http://placehold.it/293x200" class="img-responsive">
				</figure>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center inner-bottom-xs">
				<p class="text-large">ISDI, Boungiorno and Seaya Ventures team up with the most emblematic talent of the european digital ecosystem to launch IMPACT.</p>
			</div>
		</div>
	</div><!-- /.container -->
</section>