<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">				
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">The <strong>IMPACT Journey</strong></h1>
		</header>
		<div class="row line-steps">
			<div class="col-sm-2 col-sm-offset-1">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow">
						<span class="circle-inner">Selección</span>
					</h2>
					<p class="text-small">Impact te dará 3 oportunidades para presentarte a nuestros programas de aceleración y financiación.Se presentarán emprendedores de toda europa. Impact elegirá 30 para ser subvencionados con 100.000€.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Subvención</span></h2>
					<p class="text-small">Impact dará al menos 64 subvenciones de 100.000€ en 2 años a los mejores proyectos de Internet móvil y quieran pasar el proceso de aceleración.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Formación</span></h2>
					<p class="text-small">Impact, te dará 50 horas de formación presencial y 150 horas online bajo demanda y</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Mentorización</span></h2>
					<p class="text-small">Impact pondrá a tu  disposición mentores especialistas y de follow-up, todos ellos referentes del ecosistema digital europeo.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md"><span class="circle-inner">Inversión</span></h2>
					<p class="text-small">Impact te  ofrece la posibilidad de participar de eventos, competencias de pitching, sesiones de networkig y demo days con Inversores Europeos de primer nivel. También ayudaremos a que tus proyectos tengan repercusión internacional.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container inner-bottom">
		<div id="owl-work" class="owl-carousel owl-inner-nav owl-ui-md">

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

		</div><!-- /.owl-carousel -->
	</div>
</section>