<section id="selection" class="light-bg">
	<div class="container inner-top inner-bottom-sm">
		
		<div class="row">
			<div class="col-md-8 col-sm-9 inner-bottom-sm center-block text-center">
				<header>
					<h1>Cómo es la selección</h1>
					<p>Utilizamos este párrafo para resumir el proceso de selección, que a continuación lo detallaremos en 3 puntos remped modis volor dolor qui commolu ptatemp dolupta orem retibusam emnis.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
		<div class="row">
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-picture-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
				<h2>Apply en Funding Box</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-picture-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
				<h2>Panel de expertos</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->
			
			<div class="col-md-1">
				<div class="icon pull-right">
					<i class="icon-picture-1 icn"></i>
				</div><!-- /.icon -->
			</div><!-- /.col -->
			
			<div class="col-md-3 inner-bottom-xs">
				<h2>Cómite de selección Jury Day</h2>
				<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->
			
		</div><!-- /.row -->
		
	</div><!-- /.container -->
</section>