<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block"><strong>Como funciona</strong> IMPACT</h1>
		</header>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-1"><div><i class="icon-lamp"></i></div>Requisitos</a></li>
						<li class="tab"><a href="#tab-2"><div><i class="icon-flow-tree"></i></div>Selección</a></li>
						<li class="tab"><a href="#tab-3"><div><i class="icon-beaker"></i></div>Aceleración</a></li>
						<li class="tab"><a href="#tab-4"><div><i class="icon-code"></i></div>Financiación</a></li>
						<li class="tab"><a href="#tab-5"><div><i class="icon-thumbs-up-1"></i></div>Formación</a></li>
						<li class="tab"><a href="#tab-6"><div><i class="icon-megaphone-1"></i></div>Mentoring</a></li>
						<li class="tab"><a href="#tab-7"><div><i class="icon-megaphone-1"></i></div>Inversión</a></li>
					</ul>

					<div class="container panel-container">

						<div class="tab-content" id="tab-1">
							<div class="row">
								<div class="col-md-12">
									<figure>
										<img src="/img/diapos/diapositiva.10.confondo.png" class="img-responsive" alt="Diapositiva">
									</figure>
								</div>
							</div>
						</div>

						<div class="tab-content" id="tab-2">
							<figure>
								<img src="/img/diapos/diapositiva.11.confondo.png" class="img-responsive" alt="Diapositiva">
							</figure>
						</div>

						<div class="tab-content" id="tab-3">

						</div>

						<div class="tab-content" id="tab-4">

						</div>

						<div class="tab-content" id="tab-5">
						</div>

						<div class="tab-content" id="tab-6">
						</div>

						<div class="tab-content" id="tab-7">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
