<section id="program" class="light-bg arrow-bottom">
	<div class="container inner">
		<header class="inner-bottom-xs text-center center-block">
			<h1>¿<strong>Cómo se desarrolla</strong> el programa?</h1>
		</header>
		<div class="tabs tabs-circle-top tab-container">
					<ul class="etabs text-center">
						<li class="tab">
							<a href="#tab-1"><div>1</div>Selección</a></li>
						<li class="tab"><a href="#tab-2"><div>2</div>Formación</a></li>
						<li class="tab"><a href="#tab-3"><div>3</div>Mentoring</a></li>
						<li class="tab"><a href="#tab-4"><div>4</div>Inversión</a></li>
					</ul>
					<div class="panel-container">
						<div class="tab-content" id="tab-1">
							<div class="row">			
								<div class="col-md-1">
									<div class="icon pull-right">
										<i class="icon-picture-1 icn"></i>
									</div>
								</div>
								<div class="col-md-3 inner-bottom-xs">
									<h2>Apply en Funding Box</h2>
									<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
								</div>	
								<div class="col-md-1">
									<div class="icon pull-right">
										<i class="icon-picture-1 icn"></i>
									</div>
								</div>
								<div class="col-md-3 inner-bottom-xs">
									<h2>Panel de expertos</h2>
									<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
								</div>
								<div class="col-md-1">
									<div class="icon pull-right">
										<i class="icon-picture-1 icn"></i>
									</div>
								</div>
								<div class="col-md-3 inner-bottom-xs">
									<h2>Cómite de selección Jury Day</h2>
									<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
								</div>
							</div>
						</div>
						<div class="tab-content" id="tab-2">
							<!-- Contenido 2 -->
						</div>
						<div class="tab-content" id="tab-3">
							<div class="row thumbs no-gap">
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/1/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/2/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/7/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/1/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/2/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/7/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/2/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/7/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/1/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/2/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/7/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->
								<div class="col-xs-6 col-sm-2 thumb">
									<a href="#">
										<figure>
											<figcaption class="text-overlay">
												<div class="info">
													<h4>Nombre del Mentor</h4>
													<p>Breve descripción</p>
												</div><!-- /.info -->
											</figcaption>
											<img src="http://lorempixel.com/g/195/195/business/1/" class="img-responsive">
										</figure>
									</a>
								</div><!-- /.thumb -->


							</div>
						</div>
						<div class="tab-content" id="tab-4">
							<!-- Contenido 4 -->
						</div>
					</div>
				</div>
	</div>
</section>