<section id="services">
	<div class="container inner-top inner-bottom-sm">
		<div class="row inner-bottom-sm">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>¿<strong>A quién</strong> va dirigido?</h1>
					<p>Emprendedores digitales, startups o PYMES establecidas, basadas en Europa o al menos con su key management en Europa, en las que Mobile es clave es su modelo de negocio, y puedan utilizar las tecnologías FI.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row text-center">
			<div class="col-sm-6 inner-bottom-xs">
				<div class="icon">
					<i class="icon-picture-1 icn lg"></i>
				</div><!-- /.icon -->
				<h2>Emprendedores y startups</h2>
				<p class="text-small">Prototipo funcional disponible. Al menos 2 fundadores dedicados full time al proyecto. Valor de compañía por debajo de €1MM. Objetivo: lanzamiento en el mercado en menos de 6 meses.</p>
			</div><!-- /.col -->
			<div class="col-sm-6 inner-bottom-xs">
				<div class="icon">
					<i class="icon-picture-1 icn lg"></i>
				</div><!-- /.icon -->
				<h2>PYMES</h2>
				<p class="text-small">Facturación menor de €2MM. Menos de 7 años desde su constitución. Los fundadores poseen al menos el 51% de su capital. Las métricas muestran un crecimiento exponencial. Objetivo: internacionalización o consolidación del crecimiento.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>