<section id="hero" class="dark-bg img-bg-soft img-bg arrow-bottom">
	<div class="container inner">
		<div class="row">
			<div class="col-md-9 center-block text-center">
				<header>
					<h2 class="h2">Start. Accelerate.</h2>
					<h1 class="brand">
						<span class="hide">IMPACT</span>
					</h1>
					<p class="white">El mayor Programa de Financiación y Aceleración <br>de Startups Europeo de alta performance.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>