{% if {{page.lang}} == 'es' %}
  <p class="text-normal">
    La operación de IMPACT se desarrollará físicamente en la <strong>Sede de B-Ventures en Parma</strong> y en los Centros de Aceleración Digital de <strong>ISDI en Madrid y Barcelona</strong>, aunque no incluye el uso de espacio para las start-ups.
  </p>
  <p class="text-normal">
    En la Fase de Financiación Extendida, las start-ups seleccionadas por el consorcio que necesiten internacionalizarse contarán con los Sedes de BuonGiorno de 14 países, con un puente en Mexico DF a través del acuerdo de ISDI con StartupMexico, y conexión con Silicon Valley a través de 500 Startups y RocketSpace, participadas por Docomo Innovation Inc.
  </p>
  <p class="text-normal">
    IMPACT tiene también un acuerdo para el uso de las instalaciones de viveros y aceleradoras de la ciudad de Madrid a través de Madrid Emprende.
  </p>
{% endif %}

{% if {{page.lang}} == 'en' %}
  <p class="text-normal">
    IMPACT will physically operate in the <strong>B-Ventures Headquarters in Parma</strong> and in <strong>Digital Acceleration Centers of ISDI in Madrid & Barcelona</strong>, although this does not include space for the start-ups.
  </p>
  <p class="text-normal">
    In the Extended Funding Phase, the start-ups selected by the Consortium needing globalization can count on the Buongiorno Headquarters in 14 countries, with a contact in Mexico DF through the ISDI agreement with StartupMexico, and connection with Silicon Valley through 500 Start-ups and RocketSpace, participated by Docomo Innovation Inc.
  </p>
  <p class="text-normal">
    IMPACT also has an agreement to use incubators and accelerators centers in Madrid through Madrid Emprende.
  </p>
{% endif %}

{% if {{page.lang}} == 'it' %}
  <p class="text-normal">IMPACT opererà fisicamente presso le sedi <strong>b-ventures a Parma</strong>, Milano e Frenze e nei centri di accelerazione <strong>digitali di ISDI a Madrid e Barcellona</strong>, anche se questo non include lo spazio per le startup.
  </p>

  <p class="text-normal">
IMPACT ha un accordo per utilizzare gli spazi di coworking di Madrid Emprende in Spagna.
  </p>

  <p class="text-normal">
Nella fase Finanziamento Esteso, le startup selezionate dal Consorzio per la fase di internazionalizzazione potranno contare sulla presenza di Buongiorno in 14 paesi, su un contatto in Messico attraverso l'accordo di ISDI con StartupMexico, e su un collegamento con la Silicon Valley attraverso 500 Startup e RocketSpace, partecipata da Docomo Innovation Inc.
  </p>
{% endif %}
