<p>
La subvención se desembolsará en 3 Fases a lo largo del proceso de aceleración y en función del cumplimiento de unos hitos de negocio marcados por los emprendedores y sus mentores.

FASE 1:
</p>

<ul class="circled">
  <li><strong>FASE 1</strong>: 25% al mes 0 tras pasar el proceso de selección y al firmar un acuerdo de subvención donde se fijan los hitos de negocio.
</li>
  <li><strong>FASE 2</strong>: 50% al mes 3 tras cumplir los hitos marcados.</li>
  <li><strong>FASE 3</strong>: 25% al mes 6. Este último tramo se entrega en 2 tandas tras haber cumplido los hitos. Primera tanda del 10% al terminar el programa de aceleración y el 15% restante a los 6 meses de haberlo finalizado.</li>
</ul>

