{% if {{page.lang}} == 'es' %}
  <p>
  La subvención se desembolsará en 3 Fases a lo largo del proceso de aceleración y en función del cumplimiento de unos hitos de negocio marcados por los emprendedores y sus mentores.
  </p>

  <ul class="circled">
    <li><strong>FASE 1</strong>: 25% al mes 0 tras pasar el proceso de selección y al firmar un acuerdo de subvención donde se fijan los hitos de negocio.
  </li>
    <li><strong>FASE 2</strong>: 50% al mes 3 tras cumplir los hitos marcados.</li>
    <li><strong>FASE 3</strong>: 25% al mes 6. Este último tramo se entrega en 2 tandas tras haber cumplido los hitos. Primera tanda del 10% al terminar el programa de aceleración y el 15% restante a los 6 meses de haberlo finalizado.</li>
  </ul>
{% else %}
  <p>
  Funds will be disbursed in 3 installments throughout the acceleration process and subject to the attainment of certain business milestones set by the entrepreneurs and their mentors.
  </p>

  <ul class="circled">
    <li><strong>PHASE 1</strong>: 25% - Month 0. Or after the process of selection and signing a grant agreement.
  </li>
    <li><strong>PHASE 2</strong>: 50% - Month 3. After fulfillment of business milestones agreed on.</li>
    <li><strong>PHASE 3</strong>: 25% - Month 6. After fulfillment of corresponding business milestones agreed on. This last stage has, in turn, 2 scheduled payments breakdown; 10% at completion of acceleration and the remaining 15% 6 months after completion.</li>
  </ul>
{% endif %}
