{% if {{page.lang}} == 'es' %}
  <div class="col-sm-4">
    <div>
      <h4>A. 50 horas de clases presenciales</h4>
      <ul class="circled">
        <li>del concepto al prototipo</li>
        <li>tecnología</li>
        <li>ventas y marketing digital</li>
        <li>creación de empresa</li>
        <li>financiación y exit</li>
      </ul>
    </div>
    <div class="inner-top-xs">
      <h4>D. Start-up exercises</h4>
      <p>
        Guiados por los mentores, ejecuta lo aprendido en el proceso de formación para convertir conocimiento en experiencia real de negocio.
      </p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center">
      <img src="/img/diapos/formacion/grafica.png"  class="img-responsive" alt="programa de formación">
    </p>
  </div>
  <div class="col-sm-4">
    <div>
      <h4>B. E-Learning</h4>
      <p>
        3 cursos de e-learning técnicos sobre especialidades digitales a elegir entre un portfolio de 10 opciones.
      </p>
    </div>
    <div class="inner-top">
      <h4>C. Entrepreneur talks</h4>
      <p>
        Emprendedores de éxito darán charlas, expondrán dificultadas e intercambiarán consejos con los proyectos acelerados.
      </p>
    </div>
  </div>
{% else %}
<div class="col-sm-4">
    <div>
      <h4>A. 50 hours face-to-face classes</h4>
      <ul class="circled">
        <li>From concept to prototype</li>
        <li>Technology</li>
        <li>Digital marketing & sales</li>
        <li>Company creation</li>
        <li>Funds & exiting </li>
      </ul>
    </div>
    <div class="inner-top-xs">
      <h4>D. Start-up exercises</h4>
      <p>
        Guiados por los mentores, ejecuta lo aprendido en el proceso de formación para convertir conocimiento en experiencia real de negocio.
      </p>
    </div>
  </div>
  <div class="col-sm-4">
    <p class="text-center">
      <img src="/img/diapos/formacion/grafica.png"  class="img-responsive" alt="programa de formación">
    </p>
  </div>
  <div class="col-sm-4">
    <div>
      <h4>B. E-Learning</h4>
      <p>
        3 courses of e-learning techniques dealing with digital specializations to choose from a portfolio of 10 options.
      </p>
    </div>
    <div class="inner-top">
      <h4>C. Entrepreneur talks</h4>
      <p>
        Successful entrepreneurs will give talks, highlight difficulties & will exchange tips with the accelerated projects.
      </p>
    </div>
  </div>
{% endif %}
