{% if {{page.lang}} == 'es' %}
  <ul class="circled">
    <li>50 horas de clases presenciales.</li>
    <li><strong>Start-up exercices</strong>: 3 cursos de e-learning técnicos sobre especialidades digitales a elegir entre un portfolio de 10 opciones.</li>
    <li><strong>E-learning</strong>: Ejercicios prácticos que pondrán los mentores a las start-ups para evaluar su continuidad en el proceso de aceleración.</li>
    <li><strong>Entrepreneur talks</strong>: Emprendedores de éxito darán charlas, expondrán dificultadas e intercambiarán consejos con los proyectos acelerados.</li>
  </ul>
{% else %}
  <ul class="circled">
    <li>50 horas de clases presenciales.</li>
    <li><strong>Start-up exercices</strong>: 3 cursos de e-learning técnicos sobre especialidades digitales a elegir entre un portfolio de 10 opciones.</li>
    <li><strong>E-learning</strong>: Ejercicios prácticos que pondrán los mentores a las start-ups para evaluar su continuidad en el proceso de aceleración.</li>
    <li><strong>Entrepreneur talks</strong>: Emprendedores de éxito darán charlas, expondrán dificultadas e intercambiarán consejos con los proyectos acelerados.</li>
  </ul>
{% endif %}
