{% if {{page.lang}} == 'es' %}
  <p>
    Impact organizará eventos, competencias de pitching, sesiones de networking y <strong>Demo Days con Inversores Europeos</strong> de primer nivel para aquellas start-ups que terminen el proceso de Aceleración en la llamada Fase de Financiación Extendida.
  </p>
  <p>
    En esta Fase el consorcio IMPACT podrá <strong>invertir hasta 250.000€</strong> en start-ups escogidas con un 25% de descuento acordado en el grant agreement.
  </p>
  <p>
    Además de las oportunidades de inversión, estos eventos serán una fuente de <strong>exposición mediática</strong> para los emprendedores y sus proyectos.
  </p>
{% else %}
  <p>
    Impact will organize events, pitching competitions, networking sessions & <strong>demo days with top-notch European investors</strong> for those start-ups completing the Acceleration process in what is called the Extended Funding Phase.
  </p>
  <p>
    In this Phase the IMPACT consortium can <strong>invest up to 250,000€</strong> in selected start-ups with a 25% discount agreed on in the grant agreement.
  </p>
  <p>
    Aside from the investment opportunities this entails, these events give <strong>media exposure</strong> to the entrepreneurs & their projects.
  </p>
{% endif %}
