{% if {{page.lang}} == 'es' %}
  <p>
    Impact organizará eventos, competencias de pitching, sesiones de networking y <strong>Demo Days con Inversores Europeos</strong> de primer nivel para aquellas start-ups que terminen el proceso de Aceleración en la llamada Fase de Financiación Extendida.
  </p>
  <p>
    En esta Fase el consorcio IMPACT podrá <strong>invertir hasta 250.000€</strong> en start-ups escogidas con un 25% de descuento acordado en el grant agreement.
  </p>
  <p>
    Además de las oportunidades de inversión, estos eventos serán una fuente de <strong>exposición mediática</strong> para los emprendedores y sus proyectos.
  </p>
{% endif %}

{% if {{page.lang}} == 'en' %}
  <p>
    Impact will organize events, pitching competitions, networking sessions & <strong>demo days with top-notch European investors</strong> for those start-ups completing the Acceleration process in what is called the Extended Funding Phase.
  </p>
  <p>
    In this Phase the IMPACT consortium can <strong>invest up to 250,000€</strong> in selected start-ups with a 25% discount agreed on in the grant agreement.
  </p>
  <p>
    Aside from the investment opportunities this entails, these events give <strong>media exposure</strong> to the entrepreneurs & their projects.
  </p>
{% endif %}

{% if {{page.lang}} == 'it' %}
<p>


    Impact organizzerà eventi, pitch competition, sessioni e <strong>giornate dimostrative con investitori europei</strong> e occasioni di networking per le startup che parteciperanno al processo di accelerazione in quella che viene chiamata la fase di “finanziamento esteso”.
  </p>
  <p>
    In questa fase il consorzio IMPACT potrà <strong>investire fino a 250.000 Euro</strong> in deteminate startup con uno sconto del 25% concordato durante il contratto di sovvenzione iniziale.
  </p>
  <p>
    A parte le opportunità di investimento, questi eventi daranno <strong>esposizione mediatica</strong> agli imprenditori e ai rispettivi progetti.
  </p>
{% endif %}
