<p>
  Las start-ups seleccionadas seguirán un proceso de mentorización a lo largo de 6 meses con el objetivo de cumplir los Hitos y llevar a los proyectos al siguiente nivel.
  <ul class="circled">
    <li><strong>Mentor de Follow Up</strong>: profesionales con perfil multifuncional y fundadores de startups, cuyo objetivo es guiar a la startup de manera holística a través de los entregables de cada hito a lo largo del proceso de aceleración.</li>
    <li><strong>Mentores Especialistas bajo demanda</strong>: profesionales con perfil específico a disposición de las startups para tratar temas especializados.</li>
  </ul>
</p>
