{% if {{page.lang}} == 'es' %}
  <p>
    Emprendedores digitales, start-ups o PYMES establecidas en <strong>Europa</strong> o al menos con <strong>su equipo directivo</strong> en Europa, en las que <strong>Mobile</strong><sup>*</sup> es clave en su modelo de negocio y utilicen las <strong>tecnologías FI</strong>.
  </p>
{% endif %}

{% if {{page.lang}} == 'es' %}
  <p>
    Digital entrepreneurs, start-ups or SMEs established in <strong>Europe</strong> or at least with <strong>their management team</strong> located in Europe  where <strong>Mobile</strong><sup>*</sup> is key in its business model and who use <strong>FI technologies</strong>.
  </p>
{% endif %}

{% if {{page.lang}} == 'it' %}
  <p>
    Digital entrepreneurs, start-ups or SMEs established in <strong>Europe</strong> or at least with <strong>their management team</strong> located in Europe  where <strong>Mobile</strong><sup>*</sup> is key in its business model and who use <strong>FI technologies</strong>.
  </p>
{% endif %}
