<p>
  Se desarrollarán 3 fases de selección. Cada fase se inicia con una <strong>Convocatoria Pública (Open Call)</strong> a nivel europeo.
</p>
<ol>
   <li><p>Los candidatos presentarán sus proyectos a través de la plataforma online Funding Box. Aquellos que cumplan con los standards solicitados pasarán a la siguiente fase de Selección.</p></li>
    <li><p>En fase 2 los proyectos serán valorados por un Panel de Expertos Independiente. Los mejor puntuados presentarán su proyecto delante de un jurado (Jury Day).</p></li>
    <li><p>Por último, el Comité de Selección definirá en el Jury Day a las startups finalistas para comenzar al Programa de Aceleración.</p></li>
</ol>
