<section id="hero" class="dark-bg img-bg-soft img-bg arrow-bottom">
	<div class="container inner-top inner-bottom-sm">
		<div class="row">
			<div class="col-md-9 center-block text-center">
				<header>
					<h2>Start. Accelerate...</h2>
					<h1 class="tint-color">Imp<span class="white">act</span></h1>
					<p class="white">Programa de financiación y aceleración de startups con el objetivo de implantar tecnologías digitales europeas FI en el área de Mobile Internet.</p>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>