<section id="product" class="light-bg">
	<div class="container inner">
		<header>
			<h1 class="text-center">Cómo es la selección</h1>	
		</header>
		<div class="row">
			<div class="col-sm-6 inner-right-xs text-right">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 inner-top-xs inner-left-xs">
				<h2>Apply en Funding Box</h2>
				<p>Las candidatas aplicarán a través de la herramienta Funding Box y serán chequeadas por analistas para un primer screening restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
				<a href="#" class="txt-btn">Ver más (opcional)</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row inner-top-md">
			<div class="col-sm-6 col-sm-push-6 inner-left-xs">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
				<h2>Panel de expertos</h2>
				<p>Las que pasen este paso serán revisadas por un Panel de Expertos Independientes que generarán una short list que pasará al Jury Day restibusaes dem tumquam core posae volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis lib dentibea autem inisita. Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem.</p>
				<a href="#" class="txt-btn">Ver más (opcional)</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row inner-top-md">
			<div class="col-sm-6 inner-right-xs text-right">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 inner-top-xs inner-left-xs">
				<h2>Cómite de selección Jury Day</h2>
				<p>El Comité de Selección seleccionará en el Jury Day a las startups que pasarán al Programa de Aceleración restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
				<a href="#" class="txt-btn">Ver más (opcional)</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>