<section id="financing" class="arrow-bottom">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-8 center-block text-center inner-bottom-sm">
				<header>
					<h1>Modelo de <strong>Financiación</strong></h1>
					<div class="ribbon tint-bg">
						<div class="wrapper">
							<p class="light-color"><span>Hasta</span> <strong>100.000€</strong> <span class="text-small">sin ninguna contrapartida de equity</span></p>
						</div>
					</div>
					<p>La Comisión Europea financia a cada startup con un grant de hasta €100K sin ninguna contrapartida de equity: a cambio de la financiación, la startup firma un grant agreement por el que se compromete a:</p>
				</header>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-picture-1 icn lg"></i>
				</div><!-- /.icon -->
				<h2>Uso de tecnologías FI</h2>
				<p>Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem. </p>
			</div><!-- /.col -->
			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-picture-1 icn lg"></i>
				</div><!-- /.icon -->
				<h2>Proceso de Aceleración</h2>
				<p>Realizar un Proceso de Aceleración de 6 meses con un coste de €10K.</p>
			</div><!-- /.col -->
			<div class="col-sm-4 inner-bottom-xs">
				<div class="icon">
					<i class="icon-picture-1 icn lg"></i>
				</div><!-- /.icon -->
				<h2>Financiación</h2>
				<p>Poder recibir una financiación extra por parte del consorcio con un descuento preferente.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->

	</div>
</section>


