<section id="how-it-works" class="light-bg arrow-bottom">
	<div class="container-fluid inner-top inner-bottom-xs">
		<header class="text-center inner-bottom-xs">
			<h1 class="single-block">The <strong>IMPACT Journey</strong></h1>
		</header>
		<div class="row line-steps">
			<div class="col-sm-2 col-sm-offset-1">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow">
						<span class="circle-inner">Selección</span>
					</h2>
					<p class="text-small">Impact lanzará 3 fases de inversión a través de Open Calls a emprendedores de
toda Europa que estén desarrollando startups basadas en Aplicaciones o Modelos de Negocio sobre Internet Mobile. Se escogerán las mejores 25 startups en cada fase.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Subvención</span></h2>
					<p class="text-small">Impact financiará a cada startup elegida con una subvención de hasta 100.000€ sin contrapartida de equity, Inversión total de 6.4MM € en 2 años.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Formación</span></h2>
					<p class="text-small">Impact impartirá a las startups un programa de formación en emprendimiento digital de 200 horas (50 presenciales y 150 de e-learning).</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md arrow"><span class="circle-inner">Mentorización</span></h2>
					<p class="text-small">Impact ha desarrollado un modelo de mentorización matricial único entre las aceleradoras del mundo para potenciar las capacidades de los emprendedores.</p>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="col-inner inner-bottom-xs">
					<h2 class="h3 circle md"><span class="circle-inner">Inversión</span></h2>
					<p class="text-small">Impact organizará eventos,competencias de pitching, sesiones de networkig y demo days con Inversores Europeos de primer nivel al acabar el proceso de Aceleración.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container inner-bottom">
		<div id="owl-work" class="owl-carousel owl-inner-nav owl-ui-md">

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

			<div class="item">
				<figure>
					<img src="../img/img.diapositiva.png" class="img-responsive" alt="Diapositiva">
				</figure>
			</div><!-- /.item -->

		</div><!-- /.owl-carousel -->
	</div>
</section>
