<section id="reasons" class="dark-bg">
	<div class="container inner">
		<header class="animate">
			<h1 class="text-center">¿Por qué IMPACT es diferente?</h1>	
		</header>
		<div class="row inner-top-xs animate">
			<div class="col-sm-6 inner-right-xs text-right">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 inner-left-xs">
				<h2>En los Perfiles y selección de las startups</h2>
				<p>Magnis modipsae <strong>Foco en mobile</strong> que lib voloratati andigen daepeditem <strong>Estadio en startup como en growth</strong> quiate es reporemus aut labor. <strong>Potencial para adoptar las tecnologías FI</strong> volor remped modis volor. Doloreiur quia commolu ptatemp dolupta oreprerum <strong>Proceso de selección con ayuda de un Panel de Expertos Externo</strong> tibusam eumenis et consent accullignis lib dentibea autem inisita.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row inner-top-md animate">
			<div class="col-sm-6 col-sm-push-6 inner-left-xs">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 col-sm-pull-6 inner-right-xs">
				<h2>En el Modelo de Financiación</h2>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate es reporemus aut labor. <strong>No hay contraprestación de equity</strong> Laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor. <strong>La financiación se entrega gradualmente contra la consecución de unos hitos</strong>.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row inner-top-md animate">
			<div class="col-sm-6 inner-right-xs text-right">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 inner-left-xs">
				<h2>Proceso de Aceleración</h2>
				<p>Magnis modipsae que lib <strong>Establecimiento de hitos</strong> voloratati andigen daepeditem quiate ut reporemni aut labor. <strong>Proceso de mentorización matricial</strong> laceaque quiae sitiorem <strong>Mentores y educadores bien remunerados</strong> rest non restibusaes es tumquam core posae volor remped modis volor. <strong>Programa de formación estructurada blended</strong>.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->
		<div class="row inner-top-md animate">
			<div class="col-sm-6 col-sm-push-6 inner-left-xs">
				<figure><img src="http://placehold.it/555x312"></figure>
			</div><!-- /.col -->
			<div class="col-sm-6 col-sm-pull-6 inner-right-xs">
				<h2>Network de sedes y espacios</h2>
				<p>Magnis modipsae que lib voloratati <strong>Bases en Milán, Madrid y Barcelona</strong> andigen daepeditem quiate es reporemus aut labor. <strong>Facilidades en 19 países</strong> laceaque quiae sitiorem rest non restibusaes dem tumquam core posae volor remped modis volor.</p>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>